<div [formGroup]="form">
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Pergola type</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.pergolaType') === 'SL 160/28'"
              i18n>
          SL 160/28
        </span>
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.pergolaType') === 'SL 170/28'"
              i18n>
          SL 170/28
        </span>
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.pergolaType') === 'SL 170/36'"
              i18n>
          SL 170/36
        </span>
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Installation type</span>
      </div>
    </div>
    
    <div class="row border pergola-images-row">
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 1"
              i18n>
          Type 1
        </span>
        <img src="assets/img/sl-type1-small.png">
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 2"
              i18n>
          Type 2
        </span>
        <img src="assets/img/sl-type2-small.png">
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 3"
              i18n>
          Type 3
        </span>
        <img src="assets/img/sl-type3-small.png">
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 4"
              i18n>
          Type 4
        </span>
        <img src="assets/img/sl-type4-small.png">
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 5"
              i18n>
          Type 5
        </span>
        <img src="assets/img/sl-type5-small.png">
      </div>
      
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.installationType') === 6"
              i18n>
          Type 6
        </span>
        <img src="assets/img/sl-type6-small.png">
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Dimensions</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span i18n>Width</span>
      </div>
      <div class="col">
        <span i18n>Length</span>
      </div>
      <div class="col">
        <span i18n>Height</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        {{ getControlValue('product.width') }}
        <span i18n>mm</span>
      </div>
      <div class="col">
        {{ getControlValue('product.length') }}
        <span i18n>mm</span>
      </div>
      <div class="col">
        {{ getControlValue('product.height') }}
        <span i18n>mm</span>
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Quantity</span>
      </div>
      <div class="col">
        {{ getControlValue('product.pergolaQuantity') }}
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Number of Poles</span>
      </div>
      <div class="col">
        {{ getControlValue('product.numberOfPoles') }}
      </div>
  
      <div class="col header">
        <span i18n>Number of Additional Poles</span>
      </div>
      <div class="col">
        {{ getControlValue('product.numberOfAdditionalPoles') }}
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Color</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span i18n>Structure Color</span>
      </div>
      <div class="col">
        <span i18n>Blades Color</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('7016')">
        </span>
        <span class="checkbox"
               [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.structureColor') === 7016"
               i18n>
        Grey Anthracite<br>RAL 7016
        </span>
      </div>
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('7016')">
        </span>
          <span class="checkbox"
                [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.bladesColor') === 7016"
                i18n>
        Grey Anthracite<br>RAL 7016
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('9006')">
        </span>
        <span class="checkbox"
               [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.structureColor') === 9006"
               i18n>
        Grey Aluminium<br>RAL 9006
        </span>
      </div>
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('9006')">
        </span>
          <span class="checkbox"
                [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.bladesColor') === 9006"
                i18n>
        Grey Aluminium<br>RAL 9006
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('9016')">
        </span>
        <span class="checkbox"
               [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.structureColor') === 9016"
               i18n>
        White<br>RAL 9016
        </span>
      </div>
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex('9016')">
        </span>
          <span class="checkbox"
                [class.checked]="!getControlValue('_nonStandardColorEnabled') && getControlValue('product.bladesColor') === 9016"
                i18n>
        White<br>RAL 9016
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="ralColorBox"
              [style.background]="getControlValue('_nonStandardColorEnabled') ? ralToHex(getControlValue('product.structureColor')) : 'none'">
        </span>
        <span class="checkbox"
               [class.checked]="getControlValue('nonStandardColorEnabled')">
          <ng-container i18n>Non-standard</ng-container><br>RAL {{ getControlValue('product.structureColor') }} (
          <span *ngIf="getControlValue('product.structureFinishType') === 'Matt'" i18n>Matt</span>
          <span *ngIf="getControlValue('product.structureFinishType') === 'Glossy'" i18n>Glossy</span>
          <span *ngIf="getControlValue('product.structureFinishType') === 'Microstructure'" i18n>Microstructure</span>
          )
        </span>
      </div>
      <div class="col">
        <span class="ralColorBox"
              [style.background]="getControlValue('_nonStandardColorEnabled') ? ralToHex(getControlValue('product.bladesColor')) : 'none'">
        </span>
        <span class="checkbox"
              [class.checked]="getControlValue('nonStandardColorEnabled')">
          <ng-container i18n>Non-standard</ng-container><br>RAL {{ getControlValue('product.bladesColor') }} (
          <span *ngIf="getControlValue('product.bladesFinishType') === 'Matt'" i18n>Matt</span>
          <span *ngIf="getControlValue('product.bladesFinishType') === 'Glossy'" i18n>Glossy</span>
          <span *ngIf="getControlValue('product.bladesFinishType') === 'Microstructure'" i18n>Microstructure</span>
          )
        </span>
      </div>
    </div>
  </div>
</div>
