@import '../../../../../styles/variables';
@import '../../../../../../node_modules/bootstrap/scss/card';

.card {
  transition: .2s all;
  cursor: default;
  border-radius: $border-radius;

  height: 15rem;

  .card-block {
    &.price {
      font-size: 2rem;
      text-align: center;
    }

    &.accessory-name {
      font-size: .8rem;
      font-weight: bold;
      max-height: 78px; // stop text from expanding this div
    }

    &.accessory-name, &.price, &.description, &.description > p {
      color: $gray-dark;
      background-color: white;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .control-messages {
    margin: .2rem 0 -.6rem 0;
    display: block;
  }

  .icon-description {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 1.85rem;
    color: #f7f7f9;
    cursor: pointer;
    transition: .2s color;

    .info-tooltip {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:hover {
      color: #e0e0e0;
    }
  }
}

.input-group {
  .input-group-btn > .btn {
    background-color: $gray-lightest;
    padding: 2px;
    color: $gray;

    &:hover {
      background-color: $gray-lighter;
    }
  }

  .input-group-btn > .btn:first-child {
    border-top-right-radius: $border-radius;
  }

  .input-group-btn > .btn:last-child {
    border-top-right-radius: 0;
    border-top: none;
  }

  .input-group-addon {
    background-color: $gray-lightest;
  }
}

.card-highlight {
  @extend .card-inverse, .card-primary;
  background-color: $active-color !important;
  border-color: $active-color !important;
  box-shadow : 0 5px 16px 0 rgba(0, 0, 0, 0.5);
}

.card-text {
  text-align: left;
}

.card-img-top {
  object-fit: contain;
  height: 6rem;
  background-color: white;
}

.card-header {
  text-align: center;
}

.card-inverse {
  .form-control {
    background-color: lighten($active-color, 10%);
    border-color: $gray-dark;
    color: $white;
    transition: .2s all;
  }

  .input-group-addon {
    background-color: $active-color;
    color: $gray-lighter;
    border-color: $gray-dark;
    transition: .2s all;
  }

  .btn {
    background-color: $active-color !important;
    border-color: $gray-dark;
    color: $gray-lighter !important;

    &:hover {
      background-color: $active-color !important;
    }
  }
}

/* Webkit (Chrome, Safari) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
