<!--<div *ngIf="!printMode || (printMode && !!getQuantity())" class="card" [formGroup]="form" [ngClass]="{'card-highlight': form.get(control).value > 0}" [ngbTooltip]="description" placement="right">-->
<div *ngIf="!printMode; else printTemplate" class="card" [formGroup]="form" [ngClass]="{'card-highlight': form.get(control).value > 0}" [ngbTooltip]="description" placement="right">
  <img class="card-img-top" [src]="imageSrc">
  <div class="card-block accessory-name">{{ name }}</div>
  <!--
  <div *ngIf="price" class="card-block price">
    {{ price }}
  </div>
  -->
  <div class="card-footer form-group" [ngClass]="{'has-danger': !controlValid(control)}">
    <div class="input-group">
      <span class="input-group-addon" i18n>Quantity</span>
      <input class="form-control" type="number" step="1" min="0" [max]="max" [formControlName]="control" (change)="onValueChange($event)">
      <div class="input-group-btn">
        <button type="button" class="btn btn-secondary" (click)="add()"><i class="fa fa-fw fa-plus"></i></button>
        <button type="button" class="btn btn-secondary" (click)="subtract()"><i class="fa fa-fw fa-minus"></i></button>
      </div>
    </div>
    <app-control-messages *ngIf="!controlValid(control)" class="has-danger control-messages" [control]="form.get(control)"></app-control-messages>
  </div>
</div>
<ng-template #printTemplate>
  <div class="row border" *ngIf="quantity">
    <div class="col">
      <span>{{ name }}</span>
    </div>
    <div class="col-2">
      <span>{{ quantity }}</span>
    </div>
  </div>
</ng-template>
