<div [formGroup]="form">
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Sliding Panels</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <span i18n>Position</span>
      </div>
      <div class="col">
        <span i18n>Type</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <div class="row">
          <div class="col-4">
            <span class="checkbox d-block my-3 mt-5"
                  [class.checked]="getControlValue('product.options.slidingPanelPosition.p1p2')"
                  i18n>
              P1 - P2
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.slidingPanelPosition.p3p4')"
                  i18n>
              P3 - P4
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.slidingPanelPosition.p1p3')"
                  i18n>
              P1 - P3
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.slidingPanelPosition.p2p4')"
                  i18n>
              P2 - P4
            </span>
          </div>
          <div class="col">
            <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'"
                 (onSVGInserted)="onSvgLoad($event)"
                 [inlineSVG]="'/assets/img/pergola-small.svg'"
                 class="svg-container">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row border">
          <div class="col">
            <span class="checkbox d-block my-2"
                  [class.checked]="getControlValue('product.options.slidingPanelMaterial') === 'Wood'"
                  i18n>
              Wood
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="getControlValue('product.options.slidingPanelMaterial') === 'Alu'"
                  i18n>
              Alu
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="getControlValue('product.options.slidingPanelMaterial') === 'Screen'"
                  i18n>
              Screen
            </span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col">
            <span i18n>Color</span>
          </div>
        </div>
        
        <div class="row border">
          <div class="col">
            <span class="ralColorBox"
                  [style.background]="ralToHex(getControlValue('product.options.slidingPanelCustomColorID'))">
            </span>
            <span class="checkbox"
                  [class.checked]="getControlValue('product.options.slidingPanelCustomColor')">
              <ng-container i18n>Non-standard Color</ng-container><br>RAL {{ getControlValue('product.options.slidingPanelCustomColorID') }} (
              <span *ngIf="getControlValue('product.options.slidingPanelFinishType') === 'Matt'" i18n>Matt</span>
              <span *ngIf="getControlValue('product.options.slidingPanelFinishType') === 'Glossy'" i18n>Glossy</span>
              <span *ngIf="getControlValue('product.options.slidingPanelFinishType') === 'Microstructure'" i18n>Microstructure</span>
              )
            </span>
          </div>
        </div>
        
      </div>
    </div>
    
    <ng-container *ngIf="panelsOnLength">
      <div class="row border">
        <div class="col header">
          <span i18n>Panels on length</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <span i18n>Panels</span>
        </div>
        <div class="col">
          <span i18n>Type</span>
        </div>
        <div class="col">
          <span i18n>Panel size</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnLength.panelQuantity') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnLength.type') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnLength.size') }} mm</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <div class="panels-container">
            <div class="guide" *ngFor="let guide of _guides('Length')">
              <div class="guide-inner-wrapper">
                <div class="panel-wrapper" *ngFor="let panel of _panels('Length');"
                     [ngStyle]="{ 'width.%' : 100 / _panels('Length').length,
                                  'left.%'  : panel * (100 / _panels('Length').length)
                                }">
                  <div class="panel"
                       [ngClass]="{ 'selected'  : getPanelPlacement('Length')[panel] === guide + 1,
                                    'hidden'    : !!getPanelPlacement('Length')[panel] && getPanelPlacement('Length')[panel] !== guide + 1 }"></div>
                </div>
              </div>
            </div>
            <div class="row arrows-container">
              <div class="col-6">
                <img class="arrow float-right"
                     [ngClass]="{'reverse': !(arrowLeft('Length') !== 'left')}"
                     src="assets/img/panels-arrow.svg">
              </div>
              <div class="col-6">
                <img class="arrow float-left"
                     [ngClass]="{'reverse': arrowRight('Length') !== 'right'}"
                     src="assets/img/panels-arrow.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  
    <ng-container *ngIf="panelsOnWidth">
      <div class="row border">
        <div class="col header">
          <span i18n>Panels on length</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span i18n>Panels</span>
        </div>
        <div class="col">
          <span i18n>Type</span>
        </div>
        <div class="col">
          <span i18n>Panel size</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnWidth.panelQuantity') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnWidth.type') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.slidingPanelOnWidth.size') }} mm</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <div class="panels-container">
            <div class="guide" *ngFor="let guide of _guides('Width')">
              <div class="guide-inner-wrapper">
                <div class="panel-wrapper" *ngFor="let panel of _panels('Width');"
                     [ngStyle]="{ 'width.%' : 100 / _panels('Width').length,
                                  'left.%'  : panel * (100 / _panels('Width').length)
                                }">
                  <div class="panel"
                       [ngClass]="{ 'selected'  : getPanelPlacement('Width')[panel] === guide + 1,
                                    'hidden'    : !!getPanelPlacement('Width')[panel] && getPanelPlacement('Width')[panel] !== guide + 1 }"></div>
                </div>
              </div>
            </div>
            <div class="row arrows-container">
              <div class="col-6">
                <img class="arrow float-right"
                     [ngClass]="{'reverse': !(arrowLeft('Width') !== 'left')}"
                     src="assets/img/panels-arrow.svg">
              </div>
              <div class="col-6">
                <img class="arrow float-left"
                     [ngClass]="{'reverse': arrowRight('Width') !== 'right'}"
                     src="assets/img/panels-arrow.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
