$phraseHeight: 30px; // This should equal the height value in cmp.scrolling-text-loader.ts

.loading-phrases {
  width: 20rem;
  height: $phraseHeight * 3;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.loading-phrase {
  padding-left: 30px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  line-height: $phraseHeight;
  height: $phraseHeight;
  transition: all .8s ease;
}

.loading-phrase:before {
  content: " ";
  width: 18px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.loading-phrase:after {
  opacity: 0;
  height: 11px;
  width: 7px;
  transform-origin: left top;
  border-right: 3px solid #1a2636;
  border-top: 3px solid #1a2636;
  border-radius: 2.5px !important;
  content: '';
  left: 3px;
  top: 16px;
  position: absolute;
  transform: scaleX(-1) rotate(135deg);
}

.loading-phrase.loading-checked:after {
  animation-delay: 100ms;
  animation-duration: 200ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  animation-fill-mode: forwards;
}

.loading-phrase.visible {
  opacity: 1;
}

.loading-phrase.semi-visible {
  opacity: .3;
}

.loading-phrase.hidden {
  opacity: 0;
}

@keyframes checkmark {
  0% {
    height: 0;
    width: 7px;
    opacity: 1;
  }
  20% {
    height: 2px;
    width: 7px;
    opacity: 1;
  }
  40% {
    height: 5px;
    width: 7px;
    opacity: 1;
  }
  100% {
    height: 11px;
    width: 7px;
    opacity: 1;
  }
}
