<div class="scrolling-text-loader">
  <div class="loading-phrases">
    <ng-container *ngFor="let line of linesInternal;">
      <div class="loading-phrase"
           [ngClass]="{'loading-checked': line.checkIndex < currentIndex + 1}"
           [ngStyle]="{'transform': 'translateY(' + line.offset + 'px)',
                        'opacity': calcOpacity(line.offset)}">
        {{ line.text }}
      </div>
    </ng-container>
  </div>
</div>
