@import '../../../../../styles/variables';
@import '../../entity-input/entity-badge/cmp.entity-badge';

.add-entry-btn,
.add-new-label {
  color: $orange !important;
  border-color: $orange !important;
}

.add-entry-btn-wrapper {
  width: 10rem;
}

.add-entry-input-wrapper {
  border-color: $orange !important;
}

.entity-badge {
  background-color: $orange;
}

.badge-permissions {
  background-color: transparent;
  border: 1px solid $orange;
}

.btn-permissions {
  display: inline-block;

  margin: -0.5rem 0 -0.5rem .75rem;

  .btn {
    margin: 0;
    margin-right: -4px; // TODO make nicer fix

    padding-top: calc(.5rem + 1px);
    border-radius: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: $gray;

    .btn-tooltip {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 1;
    }

    &.active {
      background-color: $orange;
      color: $black;
      opacity: 1;
    }

    &.inactive {
      color: $black !important;
      cursor: not-allowed;
    }

    &:hover {
      color: $black;
    }
  }
}
