<app-entity-input
  *ngIf="!readonly || inputPermissions.length; else noData"
  [(tags)]="inputPermissions"
  [readonly]="readonly"
  [stringToTag]="stringToPermissionId"
  [tagToString]="permissionIdToString"
  [(tagInput)]="permissionInputText"
  [placeholderIfTags]="'Choose a permission'"
  [suggestedTags]="suggestedPermissions"
  [suggestedAsDropdown]="true"
  [placeholderIfNoTags]="'Choose a permission'">
  <ng-template let-pid="tag" let-highlight="highlight" let-readonly="readonly" let-remove="remove">
    <div
      *ngIf="groupPermissions[pid]; let p"
      class="badge badge-permissions badge-pill entity-badge mb-1"
      [ngClass]="{
              'suggested': suggested,
              'badge-highlight': highlight}">
      <span>{{ p.niceName() }}</span>

      <div class="btn-group btn-permissions" data-toggle="buttons">
        <label class="btn badge btn-primary" [class.active]="p.read" [class.inactive]="readonly">
          <div class="btn-tooltip" [ngbTooltip]="'Has read permissions'"></div>
          <input type="checkbox" [disabled]="readonly" [(ngModel)]="p.read"><span>Read</span>
        </label>
        <label class="btn badge btn-primary" [class.active]="p.write" [class.inactive]="readonly">
          <div class="btn-tooltip" [ngbTooltip]="'Has write permissions'"></div>
          <input type="checkbox" [disabled]="readonly" [(ngModel)]="p.write"><span>Write</span>
        </label>
        <label class="btn badge btn-primary" [class.active]="p.delete" [class.inactive]="readonly">
          <div class="btn-tooltip" [ngbTooltip]="'Has delete permissions'"></div>
          <input type="checkbox" [disabled]="readonly" [(ngModel)]="p.delete"><span>Delete</span>
        </label>
      </div>

      <span *ngIf="!readonly" class="remove" (click)="remove.emit()">&#10006;</span>
    </div>
  </ng-template>
</app-entity-input>
<ng-template #noData>
  No permissions
</ng-template>
