@import '../../../styles/variables';

.pagination-wrapper {
  width           : 100%;
  display         : flex;
  justify-content : center;
}

.stack-progress {
  position : absolute;
  padding  : 0;
  margin   : 0;
  bottom   : 0;
  width    : 100%;

  li {
    list-style : none;
    display    : inline-block;
    width      : 10%;
    height     : 3px;
    padding    : 0 1px;
    background : $gray-lightest;

    &.completed {
      background : $primary-color;
    }
  }
}

.clickable {
  cursor : pointer;
}

.td-bold {
  font-weight: bold;
}

.td-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.orders-table {
  position: relative;
  min-height: 10rem;

  .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .fa-cog {
      font-size: 3.75em;
    }
  }
}

.table {
  font-size  : .9em;
  transition : opacity .2s;

  &.locked {
    opacity : .2;
    pointer-events: none;
  }

  &.table-entities {
    tr {
      th:first-child {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
      }

      th:last-child {
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
      }

      td {
        &.actions {
          width   : initial;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          opacity : 1;

          .btn {
            display    : flex;
            color      : $gray;
            padding    : .15rem .05rem;
            opacity    : .7;
            transition : none;
            font-size  : 16px;

            i {
              position: relative;
            }

            &:hover {
              opacity : 1;
            }
          }

          .action-confirm {
            color : $green;
          }

          .action-delete {
            color : $red;
          }
        }
      }
    }
  }
}

.panel {
  background-color: $project-color;
  color: white;
  width: 100%;
  height: 100%;
  padding: 5px 15px;
  //box-shadow: 0px 10px 20px -10px $black;

  .panel-icon {
    font-size: 1.5rem;
  }

  table {
    width: 100%;

    td:nth-child(2) {
      float: right;
    }
  }
}

/deep/ {
  .pagination > li {
    width      : 3.5rem;
    text-align : center;
  }
}

.page-size-controls {
  span {
    color  : $active-color;
    cursor : pointer;
    margin : 0 5px;

    &.active,
    &:hover {
      color : black;
    }

    &.active {
      font-weight : bold;
    }
  }
}

th {
  vertical-align: middle !important;

  padding-right : 50px;
  position      : relative;

  .controls {
    position        : absolute;
    right           : 10px;
    top             : 0;
    bottom          : 0;

    display         : flex;
    justify-content : center;
    align-items     : center;
  }
}

td {
  height: 50px;
}


/deep/ {
  .news-list-wrapper {
    .filterDropDown-wrapper {
      float : right;

      .dropdown-menu {
        // margin-top: -30px;
        margin-left : -200px;
      }
    }
    .sortControls-wrapper {
      float : right;
    }

    .actions-wrapper {
      margin-top: -3rem;

      button {
        .ml-1.badge.badge-pill {
          padding: 0;
          color: $primary-color;
          font-size: .8rem;
          font-family: $font-family-sans-serif;
          font-weight: bold;
          margin: 0;
          top: 0;
          transition: all .2s;
        }

        &:hover {
          .ml-1.badge.badge-pill {
            color: white;
          }
        }
      }

      .dropdown.show {
        .ml-1.badge.badge-pill {
          color: white;
        }
      }
    }
  }
}

.thead-inverse th {
  background-color: $primary-color;
}

.td-clientname {
  text-transform: capitalize;
  font-weight: bold;
}

.td-date {
  text-align: right;
}

.select-handle {
  text-align: center;
}

table.fixed {
  table-layout: fixed;
  word-wrap: break-word;
}

.text-order-generating {
  .fa {
    font-size: 1.35rem;
    vertical-align: -.15em;
  }
}
