<!--
<div>
  <div class="input-group-search spacing-input-group-10" ngbTooltip="Search orders" i18n-ngbTooltip>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchInput"
      (keyup)="search()"
      placeholder="Search"
      i18n-placeholder>
    <div class="icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
</div>
-->
<div class="admin-users-wrapper news-list-wrapper">
  <h2 i18n>News</h2>
  
  <app-entities-actions *ngIf="isSuperAdmin" [addLink]="['/news/article']" [customAdd]="true" [bulkActionsEnabled]="false" [entitiesCmp]="entitiesCmp">
    <div customAdd i18n>
      ADD NEWS ARTICLE
    </div>
  </app-entities-actions>
  
  <div class="mt-3 orders-table">
    <div *ngIf="loading" class="loading-spinner">
      <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
    </div>
    
    <table class="fixed table table-hover table-entities" [ngClass]="{'locked': loading}">
      <thead class="thead-inverse">
      <tr>
        <th>
          <ng-container i18n>Title</ng-container>
          <div class="controls">
            <app-sort-controls  [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'title'" (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th style="width: 65%">
          <ng-container i18n>Content</ng-container>
          <div class="controls">
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'content'" (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th>
          <ng-container i18n>Post date</ng-container>
          <div class="controls">
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'birth'" (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let o of displayedEntities | values : entities | filterEntities"
        [ngClass]="{'table-danger': o.hasError, 'table-warning': o.hasWarnings}"
        [attr.data-id]="o.id"
        (click)="trySelectEntityOnCtrl($event, o.id)">
        
        <td [routerLink]=" ['/news/article/' + o.id] " class="clickable td-bold">
          {{ o.title }}
        </td>
        
        <td [routerLink]=" ['/news/article/' + o.id] " class="clickable td-content">
          {{ o.content }}
        </td>
        
        <td [routerLink]=" ['/news/article/' + o.id] " class="clickable td-date">
          {{ o.birth | safeDate: 'short' }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-wrapper">
    <ngb-pagination
      [collectionSize]="totalEntitiesCount"
      [(page)]="selectedPage"
      [pageSize]="pageSize"
      [maxSize]="9"
      [ellipses]="true"
      [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
