<div class="actions-wrapper clearfix">
  <div class="float-left" *ngIf="!entitiesCmp?.entitiesEmpty">
    <div ngbDropdown class="d-inline-block" *ngIf="bulkActionsEnabled">
      <!-- [disabled]="!entitiesCmp?.selectedEntities.size" -->
      <button class="btn"
              [ngClass]="{'btn-outline-primary': entitiesCmp?.selectedEntities.size, 'btn-outline-secondary': !entitiesCmp?.selectedEntities.size}"
              id="dropdown-bulk-action"
              ngbDropdownToggle>
        <ng-container i18n>BULK ACTIONS</ng-container>
        <span *ngIf="entitiesCmp?.selectedEntities.size" class="ml-1 badge badge-pill">({{ entitiesCmp?.selectedEntities.size }})</span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdown-bulk-action">
        <li class="dropdown-item" (click)="selectAll()" *ngIf="entitiesCmp"><a i18n>Select all</a></li>
        <li class="dropdown-item" (click)="deselectAll()" *ngIf="entitiesCmp" [ngClass]="{'disabled': !entitiesCmp?.selectedEntities.size}"><a i18n>Deselect all</a></li>
        <ng-content select="[dropDownList]"></ng-content>
      </ul>
    </div>
    <ng-content select="[afterBulkActions]"></ng-content>
  </div>
  
  <div class="float-right">
    <div class="float-left">
      <ng-content select="[preAddActions]"></ng-content>
    </div>
    <div class="float-left ml-2" *ngIf="addLink">
      <div class="btn btn-primary" [routerLink]=" addLink ">
        <ng-container *ngIf="!customAdd">
          <span class="plus">+</span> <ng-container i18n>ADD NEW</ng-container>
        </ng-container>
        <ng-container *ngIf="customAdd">
          <ng-content select="[customAdd]"></ng-content>
        </ng-container>
      </div>
    </div>
  </div>
</div>
