@import '../../../styles/variables';

.media-wrapper {
  padding: 15px 0;

  textarea {
    min-height: 260px;
  }

  .btn-select-files {
    &:hover {
      color: white;
    }
  }

  .file-list {
    padding: 7px 0;
  }
}

.panel-wrapper {
  border: 1px solid $gray-lighter;
  border-radius: $border-radius;
  padding: 15px;

  .email-preview {
    margin: 0;
    font-family: sans-serif;
    background-color: #f1f1f1;
    padding: 5px 10px;

    .container {
      position: relative;
      width: 900px;
      font-size: 14px;
      background-color: white;
      margin: 10px auto;
      padding: 10px;
      border: 1px solid lightgray;
      color: #555;
    }

    .container h1 {
      font-size: 24px;
      padding-bottom: 30px;
      font-weight: normal;
    }

    .container .footer {
      text-align: center;
      font-size: 12px;
    }

    .container .footer a {
      color: #0068A5;
    }

    img.logo {
      float: right;
      display: block;
      position: absolute;
      right: 10px;
      max-width: 250px;
      max-height: 80px;
      top: 10px;
    }

    hr {
      border: none;
      border-top: 1px solid lightgray;
    }

    a.btn {
      padding: 10px 15px;
      border-radius: 3px;
      background-color: $primary-color;
      color: white;
      text-decoration: none;
      margin: 7px auto 15px 0;
      display: inline-block;
      font-size: 12px;
    }

    a.btn:hover {
      text-decoration: none;
      color: white;
    }

    p {
      white-space: pre-line;
      word-wrap: break-word;
    }
  }
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);

  .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .fa-cog {
      font-size: 3.75em;
    }
  }
}
