@import '../../../../../styles/variables';

/deep/ {
  .add-entry-btn,
  .add-new-label {
    color: $orange !important;
    border-color: $orange !important;
  }

  .add-entry-input-wrapper {
    border-color: $orange !important;
  }

  .entity-badge {
    background-color: $orange;
  }
}
