@import '../../styles/variables';
@import '../../styles/mixins';

.dropdown-toggle::after {
  display : none;
}

.top-bar {
  //border: dotted 1px red;
  line-height : $top-bar-height;

  color       : $top-bar-color;

  .top-bar-right {
    text-align : right;
    font-family: $font-secondary-sans-serif;
    font-weight: bold;
    font-size: $top-bar-font-size;
    vertical-align: middle;
    color: $top-bar-color;

    .user-firstname {
      vertical-align: super;
      cursor: pointer;
    }

    .dropdown {
      vertical-align: $top-bar-font-size / -2;
      margin-bottom: $top-bar-font-size / -2;
      left: -31px;
      margin-top: -10px;

      .dropdown-menu {
        margin-top: -10px;
        left: 100%;
        margin-left: -185px;
      }

      .dropdown-menu::before {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        content: "";
        border-bottom: 10px solid white;
        position: absolute;
        top: -10px;
        left: 147px;
      }
    }

    .avatar-wrapper {
      display : inline-block;
      margin: 0 10px 0 4px;

      cursor: pointer;

      img {
        height        : $top-bar-height * .7;
        width         : $top-bar-height * .7;
        border-radius : 50%;
        vertical-align: top;
      }
    }

    .nav-ico-wrapper {
      font-size : $top-bar-height - 20px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $top-bar-color;
      color: transparent;
      vertical-align: $top-bar-font-size / -2;
    }
  }
}

li.dropdown-item {
  cursor: pointer;
}
