<div class="clearfix top-bar">
  <div class="float-left">
    <app-top-bar-banner [link]="homeLink">
      <ng-content select="[banner]"></ng-content>
    </app-top-bar-banner>
  </div>

  <div class="float-right top-bar-right" *ngIf="user && !user.isPublic()">
    <ng-content select="[pre-user-info]"></ng-content>
    <div ngbDropdown class="d-inline-block">
      <div id="dropdownUser" ngbDropdownToggle>
        <span class="user-firstname">
          <!-- TODO Hey -->{{ user.firstName }}
        </span>

        <div class="avatar-wrapper">
          <img [src]="user.avatar">
        </div>
      </div>

      <ul class="dropdown-menu dropdown-menu-profile" aria-labelledby="dropdownUser">
        <!-- <li class="dropdown-item">
          <a [routerLink]=" ['/user/profile'] ">
            Your profile
          </a>
        </li> -->
        <ng-container *ngIf="adminLinkEnabled && user.isAdmin()">
          <li class="dropdown-item">
            <a [attr.href]="adminLink" i18n>Admin</a>
          </li>
          <hr>
        </ng-container>

        <li class="dropdown-item" [routerLink]=" ['/user/profile'] " i18n>
            Account settings
        </li>
        <!-- <li class="nav-item dropdown-item">
          <a (click)="tmp_sim401()">
            Simulate 401
          </a>
        </li> -->
        <li class="dropdown-item" (click)="logout()">
            <i i18n>Log out</i>
        </li>
      </ul>
    </div>

    <!--
    <a class="nav-ico-wrapper" [routerLink]=" ['/admin'] ">
      <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
    </a>
    -->

  </div>

</div>
