@import '../../../../../styles/variables';

.project-icon-wrapper {
  display: inline-block;
  vertical-align: 0.2em;

  img {
    display: inline;
    width: $project-logo-image-width;
  }

  .project-box {
    background-color: $project-logo-color;
    color: white;

    transform : rotateZ(45deg);
    width     : $project-logo-size;
    height    : $project-logo-size;

    border-radius: 4px;

    .icon {
      text-align: center;
      width: $project-logo-size;
      height: $project-logo-size;
      line-height: $project-logo-size;

      transform : rotateZ(-45deg);
    }
  }
}
