@import '../../../../../../styles/variables';

h4,
.form-label {
  font-family: $font-secondary-sans-serif;
}

.form-label {
  font-weight: bold;
}

.content-box {
  margin: 0;

  .footer {
    text-align: right;

    a {
      cursor: pointer;
      margin-right: .5rem;
      padding: .1rem;
      font-size: .85rem;
      color: $link-color;
    }
  }
}
