<div class="modal-header">
  <h4 class="modal-title"><i class="fa fa-exclamation-circle"></i> <ng-container i18n>Looks like your session expired.</ng-container></h4>
</div>
<div class="modal-body modal-summary" i18n>
  Please enter your password to continue.
</div>
<form #f="ngForm" novalidate (submit)="login()">
  <div class="modal-body">
    <div class="content-box">
      <div class="form-group spacing-input-group-10">
        <label for="modal-login-username" class="form-label"><span i18n>Email</span></label>
        <input
          type="text"
          readonly
          disabled
          name="email"
          class="form-control"
          [value]="signInData.email"
          id="modal-login-username">
      </div>
      <div class="form-group spacing-input-group-10">
        <label for="modal-login-password" class="form-label"><span i18n>Password</span></label>
        <input
          type="password"
          name="password"
          class="form-control"
          required
          [(ngModel)]="signInData.password"
          placeholder="Password..."
          id="modal-login-password"
          i18n-placeholder>
      </div>
      <div class="footer">
        <a (click)="logout()" i18n>Log out</a>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid || loading" i18n>Login</button>
      </div>
    </div>
  </div>
</form>
