@import '../../../../styles/variables';

.checkbox {
  display: inline-block;

  height: 20px;
  width:  20px;
  border: solid 1px #d2d2d2;
  cursor: pointer;
  border-radius: 50%;

  &.checked {
    background: $gray-lighter;
  /*
    &:after {
      width: 0.7em;
      height: 0.7em;
      content: "";
      display: block;
      border-radius: 50%;
      margin: auto;
      position: relative;
      top: 0.2em;
      background-color: #1fd5ea;
    }
   */
  }

  &.not-checked {

  }
}
