@import '../../../../../styles/variables';

.tab-content-wrapper {
  img.blinds-display-large {
    width: 90%;
    display: block;
    margin: auto;
  }

  .input-middle {
    position: relative;
    top: -.5em;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .custom-select {
    width: 100%;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .row-color-selection {
    .btn-color-group {
      width: 100%;

      .btn {
        width: calc(100% / 3);
        padding: .3rem;
      }
    }
  }

  .btn-full-width-group {
    width: 100%;

    @media (max-width: 1450px) {
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    .btn {
      width: calc(100% / 6);

      @media (max-width: 1450px){
        width: 16.6667%;
        height: 6rem;
        margin-bottom: -2px;
        margin-left: -2px;
        padding: 10px 0;
        font-size: 10px;
      }
    }
  }

  .has-danger {
    p, span, label {
      color: $red !important;
    }

    .inline-wrapper {
      border-color: $red !important;

      .inline-wrapper-header {
        border-color: $red !important;
        background-color: lighten($red, 40%) !important;
      }
    }
  }

  .positions {
    label {
      display: block;
    }
  }

  .blinds-dimensions {
    margin-bottom: 2rem;

    .content {
      position: relative;

      border-left: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
      border-right: 1px solid $gray-lighter;

      text-align: center;

      span {
        position: relative;
        top: 1.4rem;
      }
    }
  }
}

.custom-select {
  font-size: 1.2em;
}

.select-color-finish {
  height: inherit !important; // IE11
  height: initial !important;
  padding: 1rem !important;
}

.fabric-soltis-code {
  margin-top: -10px;
  margin-left: 10px;
  width: 5rem;
}
