<div class="tab-content-wrapper">
  <div class="inner-panel inner-panel-left">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>ZIP Blinds</h5>

      <div [formGroup]="fp">
        <div class="form-group" formGroupName="blindsPosition" (change)="refreshPergolaView()" [class.has-danger]="this.fp.get('blindsPosition').errors">
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12">
              <span class="inline-wrapper-header" i18n>Position</span>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p2" [formControl]="this.fp.get('blindsPosition').get('p1p2')" [disableCond]="!isPergolaSideAvailable('p1p2')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P2</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p3p4" [formControl]="this.fp.get('blindsPosition').get('p3p4')" [disableCond]="!isPergolaSideAvailable('p3p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P3 - P4</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p3" [formControl]="this.fp.get('blindsPosition').get('p1p3')" [disableCond]="!isPergolaSideAvailable('p1p3')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P3</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p2p4" [formControl]="this.fp.get('blindsPosition').get('p2p4')" [disableCond]="!isPergolaSideAvailable('p2p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P2 - P4</span>
              </label>
            </div>
            <div class="form-control-feedback col-12" *ngIf="this.fp.get('blindsPosition').errors" i18n>Minimum pergola height with ZIP blinds is 2000mm</div>
          </div>
        </div>

        <div class="form-group blinds-dimensions">
          <p *ngIf="getPanelSplitData('p1p2'); let x" i18n>Blinds on P1-P2 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</p>
          <p *ngIf="getPanelSplitData('p3p4'); let x" i18n>Blinds on P3-P4 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</p>
          <p *ngIf="getPanelSplitData('p1p3'); let x" i18n>Blinds on P1-P3 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</p>
          <p *ngIf="getPanelSplitData('p2p4'); let x" i18n>Blinds on P2-P4 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</p>
          <div class="form-control-feedback"
               *ngIf="getPanelSplitData('p1p2') ||
                      getPanelSplitData('p3p4') ||
                      getPanelSplitData('p1p3') ||
                      getPanelSplitData('p2p4')"
               i18n>
            * Final price will be determined in your order confirmation proforma.
          </div>
        </div>

        <div class="form-group">
          <h4 i18n>Fabric</h4>
          <p i18n>Fabric Serge</p>
          
          <div class="row justify-content-start" [formGroup]="fp">
            <div class="col-12">
              <div class="form-check">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" formControlName="blindsCustomFabric">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description" i18n>Non-standard Fabric Color</span>
                </label>
              </div>
            </div>
          </div>

          <div ngbRadioGroup formControlName="blindsFabric" class="btn-full-width-group" *ngIf="!fp.get('blindsCustomFabric').value; else nonStandardFabric">
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'108101'">108101<br><ng-container i18n>Grey-white</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/108101.png" />
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'108108'">108108<br><ng-container i18n>Grey</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/108108.png" />
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'108118'">108118<br><ng-container i18n>Grey-black</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/108118.png" />
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'116101'">116101<br><ng-container i18n>Linen-white</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/116101.png" />
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'117101'">117101<br><ng-container i18n>Pearl-white</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/117101.png" />
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="'117117'">117117<br><ng-container i18n>Pearl</ng-container>
              <br><img class="color-sample border rounded-circle" src="/assets/img/fabric/117117.png" />
            </label>
          </div>

          <ng-template #nonStandardFabric>
            <div [formGroup]="fp" class="row justify-content-start">
              <div class="form-group col-6" [ngClass]="{'has-danger': !controlValid('blindsCustomFabricID')}">
                <div class="row">
                  <div class="col-12">
                    <label class="form-control-label"><ng-container i18n>Fabric Color</ng-container>
                      <select class="form-control custom-select select-color-finish" formControlName="blindsCustomFabricID">
                        <option [value]="'118118'" i18n>Black</option>
                        <option [value]="'108112'" i18n>Grey-sand</option>
                        <option [value]="'112101'" i18n>Sand-white</option>
                        <option [value]="'116116'" i18n>Linen</option>
                        <option [value]="'101101'" i18n>White</option>
                        <option [value]="'108111'" i18n>Grey-dark blue</option>
                        <option [value]="'111111'" i18n>Dark blue</option>
                        <option [value]="'112112'" i18n>Sand</option>
                        <option [value]="'112113'" i18n>Sand-bronze</option>
                        <option [value]="'113105'" i18n>Bronze-tangerine</option>
                        <option [value]="'113113'" i18n>Bronze</option>
                        <option [value]="'113117'" i18n>Bronze-pearl</option>
                        <option [value]="'116111'" i18n>Linen-dark blue</option>
                        <option [value]="'116122'" i18n>Linen-lichen</option>
                        <option [value]="'117108'" i18n>Pearl-grey</option>
                        <option [value]="'117116'" i18n>Pearl-linen</option>
                        <option [value]="'108126'" i18n>Grey-caramel</option>
                        <option [value]="'108167'" i18n>Pacific</option>
                        <option [value]="'108197'" i18n>Agave</option>
                        <option [value]="'112103'" i18n>Sand-yellow</option>
                        <option [value]="'112156'" i18n>Fire</option>
                        <option [value]="'113108'" i18n>Bronze-grey</option>
                        <option [value]="'116108'" i18n>Linen-grey</option>
                        <option [value]="'118112'" i18n>Black-sand</option>
                        <option [value]="'118116'" i18n>Black-linen</option>
                        <option [value]="'118181'" i18n>Jamaica</option>
                        <option [value]="'118198'" i18n>Panther</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>

          <div class="row">
            <div class="col-12">
              <label class="custom-control custom-checkbox mt-3">
                <input class="custom-control-input" type="checkbox" formControlName="blindsFabricSoltis">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Fabric Soltis - 92</span>
                <input class="form-control fabric-soltis-code" formControlName="blindsFabricSoltisCode">
              </label>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" formControlName="blindsFullScreen">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Crystal Full Screen</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row justify-content-start">
            <div class="col-3">
              <h4 i18n>Color of guides</h4>
            </div>
            <div class="col-4">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsGuideColorMatchesFrame" [value]="true">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Same as frame</span>
              </label>
            </div>
            <div class="col-4">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsGuideColorMatchesFrame" [value]="false">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Custom</span>
              </label>
            </div>
            <div class="form-group col-6" *ngIf="!fp.get('blindsGuideColorMatchesFrame').value" [ngClass]="{'has-danger': !controlValid('blindsGuideColorCustomID')}">
              <div class="row">
                <div class="col-7">
                  <label class="form-control-label"><ng-container i18n>Color (RAL)</ng-container>
                    <div class="input-group">
                      <input class="form-control" type="number" formControlName="blindsGuideColorCustomID">
                      <span class="input-group-addon"><div class="color-sample border rounded-circle"
                                                           [style.background]="ralToHex(fp.get('blindsGuideColorCustomID').value)"></div></span>
                    </div>
                  </label>
                  <app-control-messages [control]="fp.get('blindsGuideColorCustomID')"></app-control-messages>
                </div>
                <div class="col-5">
                  <label class="form-control-label"><ng-container i18n>Type of Finish</ng-container>
                    <select class="form-control custom-select select-color-finish" formControlName="blindsFinishType">
                      <option [value]="'Matt'" i18n>Matt</option>
                      <option [value]="'Glossy'" i18n>Glossy</option>
                      <option [value]="'Microstructure'" i18n>Microstructure</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row justify-content-start">
            <div class="col-3">
              <h4 i18n>Type of guides</h4>
            </div>
            <div class="col-4">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsGuideType" [value]="'Standard'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Standard</span>
              </label>
            </div>
            <!--
            <div class="col-6">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsGuideType" [value]="'Integrated 120'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Integrated 120</span>
              </label>
            </div>
            -->
          </div>

          <div class="row justify-content-start">
            <div class="col-3">
              <h4 i18n>Motor</h4>
            </div>
            <div class="col-4">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsMotorType" [value]="'Standard'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Standard</span>
              </label>
            </div>
            <div class="col-4">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="blindsMotorType" [value]="'Somfy'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Somfy</span>
              </label>
            </div>
            <div class="form-control-feedback offset-3 col-9" *ngIf="fp.get('blindsMotorType').value != 'Standard'" i18n>* Subject to additional payment - please select quantity in Accessories</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-panel inner-panel-right">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Pergola Top View</h5>
      <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'" class="svg-container" (onSVGInserted)="onSvgLoad($event)" [inlineSVG]="'/assets/img/pergola-small.svg'"></div>
    </div>
  </div>

</div>

