@import '../../../../styles/variables';

.tab-content-wrapper {
  textarea {
    width: 50%;
    height: 16rem;
  }


  img.pergola-display-large {
    width: 90%;
    display: block;
    margin: auto;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .input-middle {
    position: relative;
    top: -.5em;
  }

  .custom-select {
    width: 100%;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .row-color-selection {
    .btn-color-group {
      width: 100%;

      .btn {
        width: calc(100% / 3);
        padding: .3rem;
      }
    }
  }

  .btn-image-group {
    width: 100%;

    .btn {
      width: calc(100% / 6);
      height: 6rem;

      img {
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}

@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .inner-panel {
    width: 100%;

  }
}
@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .inner-panel {
    width: 100%;
  }
}
