<div class="tab-content-wrapper">
  <div class="inner-panel">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Additional Comments</h5>

      <div class="form-group">
        <textarea *ngIf="!printMode" class="form-control" name="orderComment" [(ngModel)]="order.comment"></textarea>
        <p *ngIf="printMode">{{ order.comment || '/' }}</p>
      </div>
    </div>
  </div>
</div>
