<div *ngIf="m.httpError && !m.httpError.handled" class="alert alert-danger" role="alert">
  <strong>Unhandled HTTP error {{ m.httpError.httpResponse?.status}}</strong>
  {{ m.httpError.httpResponse?.data?.errorMessage }}
</div>

<div *ngIf="m.errorMessage" class="alert alert-danger" role="alert">
  {{ m.errorMessage }}
</div>

<div *ngIf="m.warningMessage" class="alert alert-warning" role="alert">
  {{ m.errorMessage }}
</div>

<div *ngIf="m.originalChanged" class="alert alert-warning" role="alert">
  <strong>Warning!</strong> Original content was changed from outside.
</div>

<div *ngIf="m.error" class="alert alert-warning" role="alert">
  <strong>Oops! Unhandled error</strong>
  <pre>{{ getMessageJson(m.error) }}</pre>
</div>
