@import '../../../../styles/variables';

/deep/ {
  .force-position-min-width{
    min-width: 8rem !important;
  }

  .custom-control-input:disabled ~ .custom-control-indicator, .custom-control-input:disabled ~ .custom-control-description {
    opacity: .35;
  }
}

.options-tabset {
  width: 100%;
}
