<div class="tab-content-wrapper">
  <ngb-tabset class="options-tabset">
    <!-- TAB START -->
    <ngb-tab title="ZIP Blinds" i18n-title>
      <ng-template ngbTabContent>
        <app-product-options-zip-blinds [orderForm]="orderForm" [order]="order"></app-product-options-zip-blinds>
      </ng-template>
    </ngb-tab>
    <!-- TAB END -->

    <!-- TAB START -->
    <ngb-tab title="Sliding Panels" i18n-title>
      <ng-template ngbTabContent>
        <app-product-options-sliding-panels [orderForm]="orderForm" [order]="order"></app-product-options-sliding-panels>
      </ng-template>
    </ngb-tab>
    <!-- TAB END -->

    <!-- TAB START -->
    <ngb-tab title="Glass Panels" i18n-title>
      <ng-template ngbTabContent>
        <app-product-options-glass-panels [orderForm]="orderForm" [order]="order"></app-product-options-glass-panels>
      </ng-template>
    </ngb-tab>
    <!-- TAB END -->
  </ngb-tabset>
</div>

