<div class="sortControls-wrapper">
  <div class="btn up" (click)="desc()" [ngClass]="{'active': activeSortBy === key && !activeReverseSort }">
    <i class="fa fa-caret-up" aria-hidden="true"></i>
  </div>
  <div class="btn down" (click)="asc()" [ngClass]="{'active': activeSortBy === key && activeReverseSort }">
    <i class="fa fa-caret-down" aria-hidden="true"></i>
  </div>
</div>
