<div class="devstuff alert alert-danger mt-5" *ngIf="ctrlPressed && env !== 'prod' && env !== 'stage'">
  <code>
    This is only indented for development use (it's only available in DEVELOPMENT mode):
  </code>
  <div class="mt-3">
    <div class="btn btn-outline-secondary" (click)="genDemoOrders(1)">Generate 1 demo orders.</div>
    <div class="btn btn-outline-secondary" (click)="genDemoOrders(10)">Generate 10 demo orders.</div>
    <div class="btn btn-outline-secondary" (click)="genDemoOrders(100)">Generate 100 demo orders.</div>
  </div>
</div>

<div>
  <div class="input-group-search spacing-input-group-10" ngbTooltip="Search orders" i18n-ngbTooltip>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="searchInput"
      (keyup)="search()"
      placeholder="Search"
      i18n-placeholder>
    <div class="icon">
      <i class="fa fa-search" aria-hidden="true"></i>
    </div>
  </div>
</div>

<div class="admin-users-wrapper">
  <app-entities-actions [addLink]=" canAdd ? ['/order'] : undefined" [customAdd]="true" [entitiesCmp]="entitiesCmp">
    <div dropDownList>
      <li class="dropdown-item" (click)="removeSelected()"><a i18n>Delete</a></li>
      <li class="dropdown-item" (click)="confirmSelected()"><a i18n>Confirm</a></li>
      <li class="dropdown-item" *ngIf="isAdmin || isSuperAdmin" (click)="transferSelected()"><a i18n>Transfer</a></li>
    </div>
    <div preAddActions>
      <div class="d-inline-block filterDropDown-wrapper exportSearchFilter ml-2">
        <button class="btn btn-secondary"
                *ngIf="isSuperAdmin"
                (click)="exportSearchResults()">
          <i class="fa fa-download" aria-hidden="true"></i>
          <ng-container i18n>Export search results</ng-container>
        </button>
      </div>
      <div class="selected-date-period"
           *ngIf="filterCreatedDateEnabled">
        <span>{{ getFormattedDateFilterString(filters.createdAt.from) }}</span>
        &ndash;
        <span>{{ getFormattedDateFilterString(filters.createdAt.to) }}</span>
      </div>
      <div
        ngbDropdown
        [autoClose]="false"
        #filterDateDropdown="ngbDropdown"
        class="d-inline-block filterDropDown-wrapper createdDateFilter">
        <button
          class="btn btn-secondary"
          [ngClass]="{'inactive': !filterCreatedDateEnabled, 'active': filterCreatedDateEnabled}"
          id="dropdownFilter"
          ngbDropdownToggle>
          <i class="fa fa-filter" aria-hidden="true"></i>
          <ng-container i18n>Date</ng-container>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownFilter">
          <div class="btn btn-none btn-close float-right"
               (click)="$event.stopPropagation(); filterDateDropdown.close(); filter()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
          <div class="m-2 mt-4 content-wrapper">
            <h5><i class="fa fa-filter fa-fw"></i>
              <ng-container i18n>Created date</ng-container>
            </h5>
            <div class="form-group">
              <div class="input-group">
                <!-- (ngModelChange)="filters.date.to && filter()" -->
                <input
                  
                  class="form-control"
                  placeholder="dd.mm.yyyy"
                  name="dpFrom"
                  [(ngModel)]="filters['createdAt'].from"
                  ngbDatepicker
                  #createdAtFrom="ngbDatepicker">
                <div class="input-group-addon" (click)="createdAtFrom.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <div class="input-group">
                <!-- (ngModelChange)="filters.date.from && filter()"
  -->
                <input
                  class="form-control"
                  placeholder="dd.mm.yyyy"
                  name="dpTo"
                  [(ngModel)]="filters['createdAt'].to"
                  ngbDatepicker
                  #createdAtTo="ngbDatepicker">
                <div class="input-group-addon" (click)="createdAtTo.toggle()">
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            
            <div class="float-left btn btn-primary"
                 (click)="$event.stopPropagation(); filterDateDropdown.close(); filter()" i18n>Confirm
            </div>
            <div class="float-right btn btn-primary" (click)="clearCreatedDateFilter(); filter();" i18n>Clear</div>
          </div>
        </div>
      </div>
    </div>
    <div customAdd i18n>
      NEW OFFER
    </div>
    <!--<span class="btn btn-outline-secondary" afterBulkActions>
      Process
    </span>-->
  </app-entities-actions>
  
  <div *ngIf="ctrlPressed" class="text-right page-size-controls mt-3 mb-1">
    <ng-container i18n>Items per page</ng-container>
    <span [ngClass]="{active: pageSize === 10  }" (click)="setPageSize(10  )">10</span>
    <span [ngClass]="{active: pageSize === 25  }" (click)="setPageSize(25  )">25</span>
    <span [ngClass]="{active: pageSize === 50  }" (click)="setPageSize(50  )">50</span>
    <span [ngClass]="{active: pageSize === 100 }" (click)="setPageSize(100 )">100</span>
    <span [ngClass]="{active: pageSize === 500 }" (click)="setPageSize(500 )">500</span>
  </div>
  
  <div class="mt-3 orders-table">
    <div *ngIf="loading" class="loading-spinner">
      <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
    </div>
    
    <table class="fixed table table-hover table-entities" [ngClass]="{'locked': loading}">
      <thead class="thead-inverse">
      <tr>
        <th style="width: 30px">
          <!-- <app-sort-controls [key]="'birth'" (sort)="setSort($event.key, $event.asc)"></app-sort-controls> -->
        </th>
        <th style="width: 90px">
          <ng-container i18n>ID</ng-container>
          <div class="controls">
            <app-filter-dropdown-text label="ID" i18n-label [(value)]="filters.number" [clearButton]="true"
                                      (change)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'number'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th *ngIf="isSuperAdmin">
          <ng-container i18n>Sales Manager</ng-container>
          <div class="controls filter-sales-manager">
            <app-filter-dropdown [enabled]="filters['salesManager']">
              <h5><i class="fa fa-filter fa-fw"></i>
                <ng-container i18n>Sales Manager</ng-container>
              </h5>
              <div class="form-inline">
                <label class="form-label form-group">
                  <select class="custom-select form-control" [(ngModel)]="filters['salesManager']"
                          (ngModelChange)="filter()">
                    <option *ngFor="let x of allSalesManagers;" [ngValue]="x">{{ x }}</option>
                  </select>
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="clearSalesManagerFilter()"><i
                      class="fa fa-eraser fa-fw"></i></button>
                  </span>
                </label>
              </div>
            </app-filter-dropdown>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'salesManager'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th *ngIf="isAdmin || isSuperAdmin">
          <ng-container i18n>Distributor</ng-container>
          <div class="controls">
            <app-filter-dropdown-text label="Distributor" i18n-label [(value)]="filters['distributor']"
                                      [clearButton]="true" [typeaheadFunc]="suggestDistributors"
                                      [showTypeaheadOnFocus]="true" (valueChange)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'distributor'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th *ngIf="!isSuperAdmin">
          <ng-container i18n>Client</ng-container>
          <div class="controls">
            <app-filter-dropdown-text label="Client" i18n-label [(value)]="filters['client.name']" [clearButton]="true"
                                      (change)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'client.name'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th style="width: 20%">
          <ng-container i18n>Project Name</ng-container>
          <div class="controls">
            <app-filter-dropdown-text label="Project Name" i18n-label [(value)]="filters['project.name']"
                                      [clearButton]="true" (change)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'project.name'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th *ngIf="!isSuperAdmin">
          <ng-container i18n>Product</ng-container>
          <div class="controls">
            <app-filter-dropdown-text label="Product" i18n-label [(value)]="filters['product.pergolaType']"
                                      [clearButton]="true" (change)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'product.pergolaType'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <!--<th>
          Created
          <app-sort-controls [key]="'birth'" (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
        </th>-->
        <th>
          <ng-container i18n>End date</ng-container>
          <div class="controls">
            <app-filter-dropdown [enabled]="filterDateEnabled" (close)="filter()">
              <h5><i class="fa fa-filter fa-fw"></i>
                <ng-container i18n>End date</ng-container>
              </h5>
              <div class="form-group">
                <div class="input-group">
                  <!-- (ngModelChange)="filters.date.to && filter()" -->
                  <input
                    
                    class="form-control"
                    placeholder="dd.mm.yyyy"
                    name="dpFrom"
                    [(ngModel)]="filters['project.date'].from"
                    ngbDatepicker
                    #dFrom="ngbDatepicker">
                  <div class="input-group-addon" (click)="dFrom.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <div class="input-group">
                  <!-- (ngModelChange)="filters.date.from && filter()"
 -->
                  <input
                    class="form-control"
                    placeholder="dd.mm.yyyy"
                    name="dpTo"
                    [(ngModel)]="filters['project.date'].to"
                    ngbDatepicker
                    #dTo="ngbDatepicker">
                  <div class="input-group-addon" (click)="dTo.toggle()">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
              
              <div class="float-right btn btn-primary" (click)="clearDateFilter(); filter();" i18n>Clear</div>
            </app-filter-dropdown>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'project.date'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th style="width: 105px">
          <ng-container i18n>Status</ng-container>
          <!-- <app-filter-dropdown [enabled]="filterStepEnabled">
            <div class="form-group form-inline">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" value="">
                  S1
                </label>
              </div>
            </div>
          </app-filter-dropdown> -->
          <div class="controls">
            <app-filter-dropdown-text label="Step (S1, S2 ...)" i18n-label [(value)]="filters['step']"
                                      [clearButton]="true" (change)="filter()"></app-filter-dropdown-text>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'step'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th style="width: 120px">
          <ng-container i18n>Amount</ng-container>
          <div class="controls">
            <app-filter-dropdown [enabled]="filterAmountEnabled" (close)="filter()">
              <h5><i class="fa fa-filter fa-fw"></i>
                <ng-container i18n>Amount</ng-container>
              </h5>
              <div class="form-group">
                <div class="input-group form-group">
                  <input type="number" class="form-control"
                         [(ngModel)]="filters['costVal'].from"
                         placeholder="From"
                         i18n-placeholder
                         (change)="filter()">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="clearAmountFrom()"><i
                      class="fa fa-eraser fa-fw"></i></button>
                  </span>
                </div>
                
                <div class="input-group form-group">
                  <input type="number" class="form-control"
                         [(ngModel)]="filters['costVal'].to"
                         placeholder="To"
                         i18n-placeholder
                         (change)="filter()">
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" (click)="clearAmountTo()"><i
                      class="fa fa-eraser fa-fw"></i></button>
                  </span>
                </div>
              </div>
            </app-filter-dropdown>
            <app-sort-controls [activeSortBy]="sortBy" [activeReverseSort]="reverseSort" [key]="'costVal'"
                               (sort)="setSort($event.key, $event.asc)"></app-sort-controls>
          </div>
        </th>
        <th style="width: 125px">
          <!--<ng-container i18n>Actions</ng-container>-->
        </th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let o of displayedEntities | values : entities | filterEntities"
        [ngClass]="{'table-danger': o.hasError, 'table-warning': o.hasWarnings}"
        [attr.data-id]="o.id"
        (click)="trySelectEntityOnCtrl($event, o.id)">
        
        <td class="select-handle" style="width: 10px">
          <app-btn-checkbox *ngIf="!o.spOrigin" [checked]="selectedEntities.has(o.id)"
                            (checkedChange)="onEntitySelectChange(o.id, $event)"></app-btn-checkbox>
        </td>
        
        <td [routerLink]=" ['/order/' + o.id] " class="clickable">
          {{ o.number }}
          <br *ngIf="!o.number"/>
          <div>
            <small>
              <i *ngIf="o.spOrigin" ngbTooltip="Imported from SharePoint" i18n-ngbTooltip
                      class="fa fa-cloud imported-ico" aria-hidden="true"></i>
              <i *ngIf="o._public" ngbTooltip="Public order" i18n-ngbTooltip
                 class="fa fa-shopping-cart text-warning imported-ico" aria-hidden="true"></i>
              {{ o.birth | date: 'dd.MM.yyyy' }}
            </small>
          </div>
        </td>
        
        <td *ngIf="isSuperAdmin" [routerLink]=" ['/order/' + o.id] " class="clickable td-clientname">
          <span *ngIf="o._salesManagerOverrideId" class="text-info">
            <i class="fa fa-exchange pr-1" aria-hidden="true" ngbTooltip="Order has been transferred to this user, original owner was {{ o._originalSalesManagerName }}" i18n-ngbTooltip></i>
          </span>
          {{ o.salesManager }}
        </td>
        
        <td *ngIf="isAdmin || isSuperAdmin" [routerLink]=" ['/order/' + o.id] " class="clickable td-clientname">
           <span *ngIf="o._originalOwnerId" class="text-info">
            <i class="fa fa-exchange pr-1" aria-hidden="true" ngbTooltip="Order has been transferred to this user, original owner was {{ o._originalOwnerName }}" i18n-ngbTooltip></i>
          </span>
          {{ (o.distributor || '').toLowerCase() }}
        </td>
        
        <td *ngIf="!isSuperAdmin" [routerLink]=" ['/order/' + o.id] " class="clickable td-clientname">
          {{ (o.client.name || '').toLowerCase() }}
        </td>
        
        <td [routerLink]=" ['/order/' + o.id] " class="clickable">
          {{ o.project.name }}
        </td>
        <td *ngIf="!isSuperAdmin" [routerLink]=" ['/order/' + o.id] " class="clickable">
          {{ o.product.pergolaType }}
        </td>
        <td [routerLink]=" ['/order/' + o.id] " class="clickable">
          {{ o.project.date | safeDate }}
        </td>
        <td [routerLink]=" ['/order/' + o.id] " class="clickable td-step">
          <span [ngClass]="{
          'text-success': o.$stepNumber === 4,
          'text-danger': o.$stepNumber === 0
          }">
            <!-- <small>{{ o.step }}:</small> -->{{ o.step + ' - ' + o.$stepDescription }}
          </span>
          <ul class="stack-progress" *ngIf="o.$stepNumber === 3">
            <li [ngClass]="{'completed': o.$stepNumber >= 3}">
            </li>
            <li [ngClass]="{'completed': o.$stepStateNumber > 0}">
            </li>
            <li [ngClass]="{'completed': o.$stepStateNumber > 1}">
            </li>
            <li [ngClass]="{'completed': o.$stepStateNumber > 2}">
            </li>
            <li [ngClass]="{'completed': o.$stepStateNumber > 3}">
            </li>
            <li [ngClass]="{'completed': o.$stepStateNumber > 4}">
            </li>
            <li [ngClass]="{'completed': o.$stepNumber == 4}">
            </li>
          </ul>
        </td>
        <td [routerLink]=" ['/order/' + o.id] " class="clickable">
          <!-- {{ o.cost | currency:'EUR':true }} -->
          
          <span class="text-info text-order-generating" *ngIf="o.$isInProgress; else orderHasCost"><i
            class="fa fa-cog fa-spin fa-2x fa-fw"></i> <ng-container i18n>In progress</ng-container></span>
          <ng-template #orderHasCost>{{ o.cost }}</ng-template>
        </td>
        
        <td class="actions">
          <button
            class="btn btn-none"
            [routerLink]=" ['/order/' + o.id] "
            ngbTooltip="View"
            i18n-ngbTooltip>
            <i class="fa fa-fw fa-eye" aria-label="View" i18n-aria-label></i>
          </button>
          
          <button
            class="btn btn-none"
            [routerLink]=" ['/order/' + o.id + '/edit'] "
            ngbTooltip="Edit"
            i18n-ngbTooltip
            *ngIf="o.$canEdit"
            [disabled]="o.$isInProgress">
            <i class="fa fa-fw fa-pencil" aria-label="Edit" i18n-aria-label></i>
          </button>
          
          <button
            class="btn btn-none action-confirm"
            (click)="confirm(o.id)"
            ngbTooltip="Confirm"
            i18n-ngbTooltip
            *ngIf="o.$canConfirm">
            <i class="fa fa-fw fa-check-square-o" aria-label="Confirm" i18n-aria-label></i>
          </button>
          
          <button
            class="btn btn-none action-delete"
            (click)="cancel(o.id)"
            ngbTooltip="Cancel"
            i18n-ngbTooltip
            *ngIf="((o.step === 'S2' || o.step === 'S3') && isSuperAdmin) || o.step === 'S1'">
            <i class="fa fa-fw fa fa-ban" aria-label="Cancel" i18n-aria-label></i>
          </button>
          
          <button
            class="btn btn-none action-delete"
            (click)="remove(o.id)"
            ngbTooltip="Delete"
            i18n-ngbTooltip
            *ngIf="isSuperAdmin">
            <i class="fa fa-fw fa-trash-o" aria-label="Delete" i18n-aria-label></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-wrapper">
    <ngb-pagination
      [collectionSize]="totalEntitiesCount"
      [(page)]="selectedPage"
      [pageSize]="pageSize"
      [maxSize]="9"
      [ellipses]="true"
      [boundaryLinks]="true"></ngb-pagination>
  </div>
  
  <hr>
  <h5><i class="fa fa-area-chart"></i>
    <ng-container i18n> Statistics</ng-container>
  </h5>
  <div *ngIf="aggregateStats" class="row justify-content-start">
    <div class="col-4">
      <div class="panel">
        <div class="row">
          <div class="col-12 panel-icon">
            <i class="fa fa-fw fa-book"></i>
            <ng-container i18n> Orders</ng-container>
          </div>
        </div>
        <table>
          <tbody>
          <tr>
            <td i18n>Total</td>
            <td>{{ aggregateStats.count }}</td>
          </tr>
          <tr>
            <td i18n>Amount</td>
            <td>{{ aggregateStats.amount | currency:'EUR':true }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-4">
      <div class="panel">
        <div class="row">
          <div class="col-12 panel-icon">
            <i class="fa fa-fw fa-info-circle"></i>
            <ng-container i18n> Status</ng-container>
          </div>
        </div>
        <table>
          <tbody>
          <tr>
            <td i18n>S1 - Offer</td>
            <td>{{ aggregateStats.step.S1 || 0 }}</td>
          </tr>
          <tr>
            <td i18n>S2 - Order</td>
            <td>{{ (aggregateStats.step.S2 || 0) }}</td>
          </tr>
          <tr>
            <td i18n>S3 - Order</td>
            <td>{{ (aggregateStats.step.S3 || 0) }}</td>
          </tr>
          <tr>
            <td i18n>S4 - Completed</td>
            <td>{{ aggregateStats.step.S4 || 0 }}</td>
          </tr>
          <tr>
            <td i18n>S0 - Cancelled</td>
            <td>{{ aggregateStats.step.S0 || 0 }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <div class="col-4">
      <div class="panel">
        <div class="row">
          <div class="col-12 panel-icon">
            <i class="fa fa-fw fa-cube"></i>
            <ng-container i18n> Products</ng-container>
          </div>
        </div>
        <table>
          <tbody>
          <tr *ngFor="let x of products">
            <td>{{ x }}</td>
            <td>{{ aggregateStats.product[x] }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
