@import '../../../styles/variables';

/deep/ {
  #print-box {
    width: 1000px;
    margin: auto;
    font-size: 18px;

    color: $active-color;

    .header-left {
      color: $active-color;
      img {
        width: 280px;
        margin: 12px 0;
      }
    }

    .header-right {
      position: relative;
      color: maroon;

      strong {
        font-weight: bold;
      }

      .middle {
        margin-top: 28px;
      }
    }

    div.preformatted {
      white-space: pre-wrap;
    }

    .checkbox {
      position: relative;
      margin-left: 1em;

      &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid black;
        left: -20px;
        top: 4px;
      }

      &.checked {
        &:before {
          background-color: $active-color;
        }
      }
    }

    .ralColorBox {
      height: 100%;
      width: 30px;
      position: absolute;
      right: 0;
      top: 0;
      border-left: 1px solid lighten($active-color, 20%);
    }

    .fabricBox {

    }

    .print-header {
      color: white;
      background-color: $active-color;
      padding: 5px;
      width: 100%;
    }

    .pergola-images-row {
      img {
        margin: 5px;
        width: 60px;
      }
    }

    .row-group {
      page-break-inside: avoid;

      margin-bottom: 12px;
      margin-top: 12px;
      border-bottom: 1px solid lighten($active-color, 20%);

      .row.border {
        margin-left: 0;
        margin-right: 0;

        border-top: 1px solid lighten($active-color, 20%);
        border-right: 1px solid lighten($active-color, 20%);
        border-left: 1px solid lighten($active-color, 20%);

        & > div[class^="col"] {
          position: relative;

          &:not(:first-child) {
            border-left: 1px solid lighten($active-color, 20%);
          }

          & > .row.border {
            margin-left: -15px;
            margin-right: -15px;

            border: none;

            & > div[class^="col"] {
              border-bottom: 1px solid lighten($active-color, 20%);
            }
          }
        }

        .header {
          color: lighten($active-color, 10%);
          background-color: lighten($active-color, 65%);
          font-weight: bold;
        }
      }
    }

    .page-break {
      page-break-inside: avoid !important;
      page-break-after: always !important;
      float: none;
    }

    .page-break-no-after {
      page-break-after: auto !important;
    }
  }
}


.content-box {
  margin: 2rem 0 0 0;
}

.with-newlines {
  white-space: pre-wrap;
}

.form-navigation-controls {
  .btn {
    width: 100%;
    color: white;
  }
}

.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .5);

  .loading-spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .fa-cog {
      font-size: 3.75em;
    }
  }
}


/deep/ {
  .nav-item {
    padding-right: 3px;
  }

  .tab-content-wrapper {
    display: flex;
    flex-wrap: wrap;

    padding: 1rem;
    border: 1px solid $gray-lighter;
    border-top: none;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    margin-bottom: 15px;

    @media screen and (min-width: map-get($grid-breakpoints, xs)) {
      .inner-panel {
        width: 100%;
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      .inner-panel {
        width: 100%;
      }
    }
    @media screen and (min-width: map-get($grid-breakpoints, md)) {
      .inner-panel {
        width: 100%;

      }
    }
    @media screen and (min-width: map-get($grid-breakpoints, lg)) {
      .inner-panel {
        width: 50%;
      }
    }

    .inner-panel {
      display: flex;
      flex-direction: row;

      .content-box-group {
        margin: 1rem;
        width: 100%;

        border: solid 1px $gray-lighter;
        border-radius: $border-radius;
        padding: 20px;

        h5.content-box-group-title {
          background-color: $body-background-color;
          font-size: .9rem;
          display: inline;
          padding: 0 .4rem;
          position: relative;
          top: -1.8rem;
        }

        textarea {
          resize: none;
          height: 7rem;
        }
      }
    }
  }

  .form-control-feedback {
    margin-top: 0;
    font-size: .75rem;
  }

  // RAL colors
  .color-sample {
    height     : 35px;
    width      : 35px;
    margin-top : 10px;
    border     : 1px solid black;
    display    : inline-block;
  }

  .input-group-addon {
    .color-sample {
      margin-top : 0;
    }
  }

  // Inline selection group with images
  .inline-wrapper {
    border: solid 1px $gray-lighter;
    margin: 10px 0;
    padding: 5px;
    border-radius: $border-radius;
    transition: .2s all;

    .custom-control, .custom-control-description {
      width: 100%;
    }

    .image-selector {
      padding: 5px 5px 0 10px;

      &.selected {
        outline: 1px dashed $gray-lighter;
      }
    }

    .inline-wrapper-header {
      display: block;
      background-color: $gray-lightest;
      padding: 5px 15px;
      margin: -5px -20px 5px -20px;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      border-bottom: 1px solid $gray-lighter;
      font-weight: bold;
    }

    &.has-danger {
      border-color: $red !important;
    }

    .text-float {
      position: absolute;
      top: .2em;
    }
  }

  // Panels
  .inner-panel-left {
    width: 60% !important;
  }

  .inner-panel-right {
    width: 40% !important;
  }

  // stuff for properly displaying units as input-group-addons
  .unit-input {
    border: none;
    background-color: #FFFFFF;
    margin-right: 0px;
    padding-right: 0px;
    padding-left: 0.4rem;
  }

  // prevent bootstrap to remove rounded corners because we're putting an input-group-addon after the input
  .force-rounded-corners-right{
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
  }

  // bootstrap color overrides
  .tab-content-wrapper {
    .btn-outline-primary.active,
    .btn-outline-primary:hover,
    .btn-primary {
      background-color: $active-color;
      border-color: $active-color;
      box-shadow: none !important; // disable bootstrap focus outline
    }

    .btn-primary:hover {
      background-color: darken($active-color, 10%);
    }

    .custom-control-input:checked ~ .custom-control-indicator {
      background-color: $active-color;
    }

    .custom-control-input ~ .custom-control-indicator {
      box-shadow: none !important; // disable bootstrap focus outline
    }
  }
}

.btn-none {
  padding: .3rem;
  font-size: 1.2rem;
  color: $gray-lighter;

  &:hover {
    color: $gray;
  }
}
