<div *ngIf="printMode; else normalMode" id="print-box">
  <div class="row">
    <div class="col header-left text-left">
      <img src="assets/img/soltec-logo-dark.png">
      <h3 i18n>PERGOLA Agava SL</h3>
    </div>
    <div class="col header-right text-right">
      <div class="middle">
        <h2 i18n><strong>ORDER FORM</strong></h2>
        <h3>
          <ng-container i18n>Order number:</ng-container>
          {{ order.number }}
        </h3>
      </div>
    </div>
  </div>
  
  <hr>
  
  <div class="print-header" i18n>
    Step 1 / CLIENT INFORMATION
  </div>
  <app-client-information-print [orderForm]="orderForm" [order]="order"></app-client-information-print>
  
  <div class="print-header" i18n>
    Step 2 / PRODUCT INFORMATION
  </div>
  <app-product-information-print [orderForm]="orderForm" [order]="order"></app-product-information-print>
  
  <div class="page-break"></div>
  
  <div class="print-header" i18n>
    Step 3 / SPECIFICATIONS
  </div>
  <app-product-specifications-print [orderForm]="orderForm" [order]="order"></app-product-specifications-print>
  
  <div class="page-break"></div>
  
  <div class="print-header" i18n>
    Step 4 / OPTIONS
  </div>
  <app-product-options-zip-blinds-print [orderForm]="orderForm" [order]="order"></app-product-options-zip-blinds-print>
  <app-product-options-sliding-panels-print [orderForm]="orderForm"
                                            [order]="order"></app-product-options-sliding-panels-print>
  <app-product-options-glass-panels-print [orderForm]="orderForm"
                                          [order]="order"></app-product-options-glass-panels-print>
  
  <div class="print-header" i18n>
    Step 5 / ACCESSORIES
  </div>
  <app-product-accessories-print [orderForm]="orderForm" [order]="order"></app-product-accessories-print>
  
  <div class="print-header" i18n>
    Step 6 / ADDITIONAL COMMENTS
  </div>
  <app-order-comments-print [orderForm]="orderForm" [order]="order"></app-order-comments-print>
  
  <app-order-footer-print [orderForm]="orderForm" [order]="order"></app-order-footer-print>
</div>

<ng-template #normalMode>
  <div class="content-box content-box-full-height">
    <div *ngIf="!saving; else savingScreen">
      <div *ngIf="!edit; else editMode">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h2 *ngIf="!order.$new">{{ order.number }}</h2>
            <h2 *ngIf="order.$new" i18n>New order</h2>
            <h2 *ngIf="order.step === 'S3' || order.step === 'S4'">{{ order.spProjectID }}</h2>
          </div>
          <div class="col-sm-6">
            <app-entity-actions
              [entityCmp]="entityCmp"
              [removeString]="'Cancel'"
              [cancelString]="'Back'"
              i18n-removeString
              i18n-cancelString>
              <button class="btn btn-none"
                      *ngIf="!order.spOrigin && (order.step === 'S3' || order.step === 'S4' || order.step === 'S0')"
                      ngbTooltip="View"
                      i18n-ngbTooltip
                      (click)="toggleEdit()">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </button>
              
              <div class="btn btn-success mr-3" *ngIf="order.$canConfirm && !order.$isInProgress" (click)="confirm()">
                <i class="fa fa-check" aria-hidden="true"></i>
                <ng-container i18n>Confirm</ng-container>
              </div>
              
              <div class="btn btn-outline-secondary mr-3" *ngIf="order.$isInProgress" (click)="refresh()">
                <i class="fa fa-refresh" aria-hidden="true"></i>
                <ng-container i18n>Refresh</ng-container>
              </div>
              
              <div class="btn btn-info mr-3" *ngIf="
                (order.step === 'S1' || order.step === 'S2') &&
                (isAdmin || isSuperAdmin) &&
                order._public &&
                !order.$isInProgress"
                   (click)="transferOwnership()">
                <i class="fa fa-exchange" aria-hidden="true"></i>
                <ng-container i18n>Transfer order</ng-container>
              </div>
            
            </app-entity-actions>
          </div>
        </div>
        <app-entity-messages [entityCmp]="entityCmp"></app-entity-messages>
        <div>
          <app-order-progress [order]="order"></app-order-progress>
        </div>
        
        <div class="alert alert-info" *ngIf="order.spOrigin" i18n>
          Imported from SharePoint.
        </div>
        
        <h2 class="mb-5">{{ order.project.name }}</h2>
  
        <div class="card no-hover">
          <div class="card-header">
            <h3 class="m-0" i18n>Details</h3>
          </div>
          
          <div class="card-block text-left">
            <div class="row">
              <div class="col-sm-4">
                <h3 i18n>Client</h3>
                <p>{{ order.client.name }}</p>
                <p class="with-newlines">{{ order.client.address }}</p>
                <br>
                <p>{{ order.client.phone }}</p>
                <p>{{ order.client.email }}</p>
              </div>
              <div class="col-sm-4">
                <h3 i18n>Contact</h3>
                <ng-container *ngIf="order.deliverySameAsClient; else delivery">
                  <p>{{ order.client.name }}</p>
                  <p class="with-newlines">{{ order.client.address }}</p>
                  <br>
                  <p>{{ order.client.phone }}</p>
                  <p>{{ order.client.email }}</p>
                </ng-container>
                <ng-template #delivery>
                  <p>{{ order.delivery.name }}</p>
                  <p class="with-newlines">{{ order.delivery.address }}</p>
                  <br>
                  <p>{{ order.delivery.phone }}</p>
                  <p>{{ order.delivery.email }}</p>
                </ng-template>
              </div>
              <div class="col-sm-4">
                <h3 i18n>Order</h3>
                <div class="row mt-1">
                  <div class="col-4" i18n>Number</div>
                  <div class="col-8">{{ order.number || '/' }}</div>
                </div>
                <div class="row mt-1" *ngIf="order.projectNumber">
                  <div class="col-4" i18n>Project number</div>
                  <div class="col-8">{{ order.projectNumber || '/' }}</div>
                </div>
                <div class="row mt-1">
                  <div class="col-4" i18n>Pergola type</div>
                  <div class="col-8">{{ order.product.pergolaType || '/' }}</div>
                </div>
                <div class="row mt-1">
                  <div class="col-4" i18n>End date</div>
                  <div class="col-8">{{ (order.project.date | safeDate) || order.spDueDate || '/' }}</div>
                </div>
                <div class="row mt-1">
                  <div class="col-4" i18n>Status</div>
                  <div class="col-8">{{ order.$stepDescription || '/' }}</div>
                </div>
                <div class="row mt-1">
                  <div class="col-4" *ngIf="order.step === 'S1'" i18n>Public Price</div>
                  <div class="col-4" *ngIf="order.step !== 'S1'" i18n>Amount</div>
                  <div class="col-8">
                    <!-- | currency:'EUR':true  -->
                    <span i18n class="text-info" *ngIf="order.$isInProgress; else orderHasCost">In progress</span>
                    <ng-template #orderHasCost>{{ order.cost || '/' }}</ng-template>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="py-3"></div>
        
        <div class="row">
          <div class="col-sm-6" *ngIf="docs.childrenCount && !order.$isInProgress">
            <h3 i18n>Order Documents</h3>
            
            <div class="files-wrapper">
              <app-folder-view (itemClick)="onFileClick($event)" [dir]="docs"></app-folder-view>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-sm-6" *ngIf="order.$isInProgress">
            <h3 i18n>Order Documents</h3>
            <p i18n>Documents creation is in progress.</p>
          </div>
          <div class="col-sm-6">
            <h3 i18n>Additional Actions</h3>
            
            <a [routerLink]=" ['/order/' + order.id + '/media'] " class="mt-3 btn btn-outline-primary" i18n>Send Media
              Files to Customer</a>
          </div>
        </div>
      </div>
      
      <ng-template #editMode>
        <form [formGroup]="orderForm" novalidate (ngSubmit)="save(orderForm)">
          
          <div class="row mb-5">
            <div class="col-sm-6">
              <h2 *ngIf="!order.$new">{{ order.number }}</h2>
              <h2 *ngIf="order.$new" i18n>New order</h2>
            </div>
            <div class="col-sm-6">
              <app-entity-actions removeString="Cancel" i18n-removeString cancelString="Back" i18n-cancelString
                                  [closeButtonVisible]="!isPublic()" [form]="orderForm" [entityCmp]="entityCmp">
                <div class="form-group d-inline" *ngIf="isPublic()">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" [(ngModel)]="publicFormShowAll"
                           [ngModelOptions]="{standalone: true}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Show additional options</span>
                  </label>
                </div>
              </app-entity-actions>
            </div>
          </div>
          
          <app-entity-messages [entityCmp]="entityCmp"></app-entity-messages>
          <app-order-progress [order]="order"></app-order-progress>
          
          <ngb-tabset (tabChange)="tabChange($event)" #tabSet="ngbTabset">
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + 0" *ngIf="!isPublic()">
              <ng-template ngbTabTitle>
                <i *ngIf="!isClientInformationValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                1:
                <ng-container i18n>Client Information</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-client-information [orderForm]="orderForm" [order]="order"
                                        [orderService]="orderService"></app-client-information>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 1 : 0)">
              <ng-template ngbTabTitle>
                <i *ngIf="!isProductInformationValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                {{ !isPublic() ? 2 : 1 }}:
                <ng-container i18n>Product Information</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-product-information [orderForm]="orderForm" [order]="order"
                                         (customPoleCountSelected)="customPoleCountSelected()"></app-product-information>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 2 : 1)" *ngIf="!(isPublic() && !publicFormShowAll)">
              <ng-template ngbTabTitle>
                <i *ngIf="!isProductSpecificationsValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                {{ !isPublic() ? 3 : 2 }}:
                <ng-container i18n>Specifications</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-product-specifications [orderForm]="orderForm" [order]="order"></app-product-specifications>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 3 : 2)" *ngIf="!(isPublic() && !publicFormShowAll)">
              <ng-template ngbTabTitle>
                <i *ngIf="!isProductOptionsValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                {{ !isPublic() ? 4 : 3}}:
                <ng-container i18n>Options</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-product-options [orderForm]="orderForm" [order]="order"></app-product-options>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 4 : 3)" *ngIf="!(isPublic() && !publicFormShowAll)">
              <ng-template ngbTabTitle>
                <i *ngIf="!isProductAccessoriesValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                {{ !isPublic() ? 5 : 4}}:
                <ng-container i18n>Accessories</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-product-accessories [orderForm]="orderForm" [order]="order"></app-product-accessories>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 5 : 4)" *ngIf="!(isPublic() && !publicFormShowAll)">
              <ng-template ngbTabTitle>
                <i *ngIf="!isOrderCommentsValid()" class="fa fa-exclamation-triangle text-danger"
                   aria-hidden="true"></i>
                {{ !isPublic() ? 6 : 5 }}:
                <ng-container i18n>Comments</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-order-comments [order]="order"></app-order-comments>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
            
            <!-- TAB START -->
            <ngb-tab [id]="'ngb-tab-' + (!isPublic() ? 6 : (publicFormShowAll ? 5 : 1))">
              <ng-template ngbTabTitle>
                <i *ngIf="!isOrderTermsValid()" class="fa fa-exclamation-triangle text-danger" aria-hidden="true"></i>
                {{ !isPublic() ? 7 : (publicFormShowAll ? 6 : 2) }}:
                <ng-container i18n>Terms</ng-container>
              </ng-template>
              <ng-template ngbTabContent>
                <app-order-terms [orderForm]="orderForm" [order]="order"></app-order-terms>
              </ng-template>
            </ngb-tab>
            <!-- TAB END -->
          </ngb-tabset>
          
          <div class="row form-navigation-controls justify-content-center">
            <div class="col-3 text-right">
              <a (click)="tabBack()" *ngIf="selectedTab !== 0" class="btn btn-primary"><i
                class="fa fa-fw fa-arrow-left"></i>
                <ng-container i18n>Previous step</ng-container>
              </a>
            </div>
            <div class="col-3">
              <a (click)="tabNext()"
                 *ngIf="selectedTab !== (!isPublic() ? 6 : (publicFormShowAll ? 5 : 1)); else finish"
                 class="btn btn-primary">
                <ng-container i18n>Next step</ng-container>
                <i class="fa fa-fw fa-arrow-right"></i></a>
              <ng-template #finish>
                <ng-container
                  *ngIf="isSuperAdmin || !(order.step === 'S3' || order.step === 'S4' || order.step === 'S0')">
                  <button [disabled]="!orderForm.valid" type="submit" class="btn btn-primary">{{ order.$new ?
                    i18n.get('orderBtnLabelCreate') : i18n.get('orderBtnLabelSave') }}
                  </button>
                </ng-container>
              </ng-template>
            </div>
          </div>
        
        </form>
      </ng-template>
    </div>
    <!--
    <ng-template #savingScreen>
      <div class="text-center mb-5">
        <h2 i18n>Please wait</h2>
      </div>
      <app-scrolling-text-loader
        [lines]="[  i18n.get('orderLoaderLine1'),
                    i18n.get('orderLoaderLine2'),
                    i18n.get('orderLoaderLine3'),
                    i18n.get('orderLoaderLine4')]">
      </app-scrolling-text-loader>
    </ng-template>
    -->
    <div *ngIf="updating" class="loading-wrapper">
      <div class="loading-spinner">
        <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
      </div>
    </div>
  </div>
</ng-template>
