.progress-overlay {
  position   : absolute;
  background : rgba(255, 255, 255, .6);
  top        : 0;
  bottom     : 100%;
  left       : 0;
  right      : 0;
  transition : bottom .5s;
}

.upload-icon {
  position   : absolute;
  left       : 0;
  right      : 0;
  top        : 28%;
  font-size  : 1.4em;
  text-align : center;
  color      : rgba(255, 255, 255, 0.8);
}

.folder {
  left: 15px; // TODO make general solution
}
