<div class="pt-3 files-wrapper">
  <ul class="files">
    <ng-container *ngFor="let f of children">
      <li
        *ngIf="f.isFile(); else folder"
        [ngbTooltip]="f.size !== undefined ? (f.size + ' bytes') : ''"
        (click)="onItemClick(f)"
        [ngClass]="{'has-error': f.hasError}"
        class="file-box">
        <div class="file-icon file-icon-lg" [attr.data-type]="f.ext">
          <div class="progress-overlay" *ngIf="f.$new" [style.bottom]=" f.progressPercentage + '%' "></div>
          <i *ngIf="f.$new && !f.hasError" class="upload-icon fa fa-cloud-upload" aria-hidden="true"></i>

          <i *ngIf="f.hasError" class="upload-icon fa fa-exclamation-triangle" aria-hidden="true"></i>
        </div>
        <span>{{ f.name }}</span>
      </li>
      <ng-template #folder>
        <li
          (click)="onItemClick(f)"
          [ngClass]="{'has-error': f.hasError}"
          class="file-box">
          <div class="folder" [ngSwitch]="f.name.toLowerCase()">
            <!-- <span>37 Files</span> -->
            <i *ngSwitchCase="'home'" class="fa fa-home" aria-hidden="true"></i>
            <i *ngSwitchCase="'documents'" class="fa fa-file-text" aria-hidden="true"></i>
            <i *ngSwitchCase="'pictures'" class="fa fa-picture-o" aria-hidden="true"></i>
            <i *ngSwitchCase="'music'" class="fa fa-music" aria-hidden="true"></i>
            <i *ngSwitchCase="'videos'" class="fa fa-video-camera" aria-hidden="true"></i>
          </div>
          <span>{{ f.name }}</span>
        </li>
      </ng-template>
    </ng-container>
  </ul>
  <div class="clearfix"></div>
</div>
