@import '../../../../styles/variables';

.dropdown-menu {
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.15);
}

.btn-filter {
  &.active {
    font-weight: bold;
  }

  &.inactive {
    opacity: .4;
    transition: all .2s;

    &:hover {
      opacity: 1;
    }
  }

  padding-left: 3px !important;
  padding-right: .6rem !important;
}
.btn-close {
  margin-top: -10px;
  margin-right: 2px;

  padding: .3rem;
  font-size: 1.2rem;
  color: $gray-lighter;

  &:hover {
    color: $gray;
  }
}

.dropdown-toggle::after {
  display : none;
}

.content-wrapper {

}

