<div
  ngbDropdown
  [autoClose]="false"
  #filterDrop="ngbDropdown"
  class="d-inline-block filterDropDown-wrapper">
  <button
    class="btn btn-none btn-filter"
    [ngClass]="{'inactive': !enabled, 'active': enabled}"
    id="dropdownFilter"
    ngbDropdownToggle >
    <i
      class="fa fa-filter"
      aria-hidden="true"></i>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownFilter">
    <div class="btn btn-none btn-close float-right" (click)="$event.stopPropagation(); filterDrop.close(); onClose()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    <div class="m-2 mt-4 content-wrapper">
      <ng-content></ng-content>
    </div>
  </div>
</div>
