@import "../../../../../styles/variables";

.registration-wrapper {

  margin: 20px auto 50px auto;
  max-width: 400px;

  h2 {
    text-align: center;
    margin: 30px 0;
  }
}

.btn-register {
  margin-top: 2rem;
}

.footer {
  text-align: center;
}

#otherOption {
  margin-top: 15px;
}
