<div class="registration-wrapper">
  <h2 class="secondary-font-sans-serif font-weight-bold" i18n>
    Hey, sign up
  </h2>

  <form #registrationForm="ngForm" novalidate
        (ngSubmit)="registrationForm.form.valid && register()">
    <div class="form-group-wrapper">
      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': registrationForm.controls['name']?.errors && registrationForm.controls['name'].dirty}">
          <input
            placeholder=" "
            class="form-control"
            required
            type="text"
            name="name"
            id="name"
            [(ngModel)]="signUpData.name">
          <label for="name" i18n>Name</label>
          <app-control-messages [control]="registrationForm.controls['name']" class="errorMessage"></app-control-messages>
        </div>
      </div>
      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': errorUser || registrationForm.controls['email']?.errors && registrationForm.controls['email'].dirty}">
          <input
            placeholder=" "
            class="form-control"
            required
            email
            type="email"
            name="email"
            id="email"
            [(ngModel)]="signUpData.email">
          <label for="email" i18n>Email</label>
          <app-control-messages [control]="registrationForm.controls['email']" class="errorMessage"></app-control-messages>
        </div>
      </div>
      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': errorCompany || registrationForm.controls['company']?.errors && registrationForm.controls['company'].dirty}">
          <input
            placeholder=" "
            class="form-control"
            required
            type="text"
            name="company"
            id="company"
            [(ngModel)]="signUpData.company">
          <label for="company" i18n>Company</label>
          <app-control-messages [control]="registrationForm.controls['company']"></app-control-messages>
        </div>
      </div>
    <div class="form-group">
      <div class="has-float-label"
           [ngClass]="{'has-danger': registrationForm.controls['password']?.errors && registrationForm.controls['password'].dirty}">
        <input
          placeholder=" "
          class="form-control"
          required
          type="password"
          name="password"
          id="pass"
          [(ngModel)]="signUpData.password">
        <label for="pass" i18n>Password</label>
        <app-control-messages [control]="registrationForm.controls['password']"></app-control-messages>
      </div>
    </div>
    </div>
    <div class="footer">

      <p class="text-danger">{{ errorMsg }}</p>

      <button type="submit" class="btn btn-register btn-primary btn-lg" i18n>REGISTER</button>
      <div id="otherOption">
        <span class="secondary-font-sans-serif font-weight-bold"><ng-container i18n>ALREADY HAVE AN ACCOUNT?</ng-container>
          <a [routerLink]="['/user/login']" class="font-weight-bold" i18n>LOGIN</a>
        </span>
      </div>
    </div>
  </form>
</div>
