<!--<app-base-project-bar *ngIf="authService.isAuthenticated(); else public" [links]="links">
</app-base-project-bar>

<ng-template #public>
  <app-base-project-bar></app-base-project-bar>
</ng-template>-->

