table {
  table-layout: fixed;
  width: 100%;
}

table td {
  word-wrap: break-word;         /* All browsers since IE 5.5+ */
  overflow-wrap: break-word;     /* Renamed property in CSS3 draft spec */
}

td {
  margin: 0;
  padding: 0;
}

tr {
  margin: 0;
  padding: 0;
}
