<div>
  <h2>System logs</h2>

  <app-file-manager
    [sort]="true"
    (open)="open($event)"
    [fs]="fs"></app-file-manager>
  <hr>
  <h3>{{path}}</h3>

  <ng-container *ngIf="loaded">
    <h4>Alerts</h4>
    <div *ngFor='let a of alerts;'>
      <div class="alert alert-{{a.type}}" role="alert">
        <strong>{{a.timestamp}}</strong> <pre>{{(a.val.__message || a.val) | json }}</pre>
      </div>
    </div>

    <h4>Logs</h4>

    <div *ngIf="detail">
      <pre>
        {{ detail | json }}
      </pre>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th *ngFor='let k of keys;'>
          {{ k }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let x of table;' class="table-{{x.__type}}" (click)="detail = x">
        <td *ngFor='let k of keys;'>
          <i *ngIf="x[k] === true" class="fa fa-check-square-o" aria-hidden="true"></i>
          <i *ngIf="x[k] === false" class="fa fa-times" aria-hidden="true"></i>
          <pre *ngIf="x[k] !== true && x[k] !== false">{{ x[k] | json }}</pre>
        </td>
      </tr>
      </tbody>
    </table>
  </ng-container>

  <div>
    <h3>Other</h3>
    <div>
      <div (click)="syncAll()" class="btn btn-primary">Sync all</div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-5">
          Action:
          <select  class="form-control" [(ngModel)]="spAction">
            <option value="$spSyncCompanies">$spSyncCompanies</option>
            <option value="$spSyncOrders">$spSyncOrders</option>
            <option value="$syncOrders">$syncOrders</option>
            <option value="$syncOrder">$syncOrder</option>
          </select>
        </div>
        <div class="col-5">
          Data: <input class="form-control" [(ngModel)]="spData" type="text">
        </div>
        <div class="col-2">
          <div (click)="sync()" class="btn btn-primary">Start</div>
        </div>
      </div>
    </div>

    <hr>
    <pre>{{ syncRes | json }}</pre>
  </div>
  
  <div>
    <h3>Reset user password</h3>
    
    <pre>{{ pwResetRes | json }}</pre>
    
    <div><em style="">This will reset a user's password and send the welcome mail again with the new password.</em></div>
    <div><em style="">Only ACTIVE users are displayed.</em></div>
    <br>
    <div><em style="color: red;">Check for response text above after clicking a button!</em></div>
    <br>
    
    <table>
      <thead>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>VAT ID</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of activeUsers" style="height: 40px;">
          <td>{{ user.email }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.meta.vatId }}</td>
          <td>
            <button type="button" class="btn btn-primary" (click)="resetPassword(user._id)">Reset password</button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>
  </div>
</div>
