@import '../../../../styles/variables';

.tags-wrapper {

  &.readonly {

  }

  &.editable {

  }

  form {
    display : inline-block;

    .badge {
      margin-left  : 2px;
      margin-right : 2px;
      padding: 0.4rem 1rem;
    }

    .add-entry-input-wrapper {
      // box-shadow : 0 10px 30px -5px rgba(0, 0, 0, 0.2);
      width: 8rem;

      input {
        outline       : none;
        background    : none;
        border        : none;
        border-bottom : solid 1px $gray-lighter;
        width         : 100%;
      }
    }

    .add-entry-btn-wrapper {
      width   : 8rem;
      display : inline-block;

      .add-entry-btn {
        transition : width .05s;

        span {
          display      : none;
          font-size    : .6em;
          padding-top  : -43px;
          position     : relative;
          top          : -3px;
          margin-right : 8px;
        }

        &:hover {
          width         : 100%;

          border-radius : $btn-border-radius;
          padding-left  : $btn-padding-x;
          padding-right : $btn-padding-x;

          color         : $gray-light;
          background    : transparent;

          span {
            display : inline-block;
          }
        }
      }
    }
  }
}

.suggested-tags-wrapper {
  p {
    font-weight : 300;
    margin      : 10px 0 0 0;
  }
  app-tag {
    cursor : pointer;
  }
}

.dropdown-menu {
  display          : block;
  padding: 0;
  top: inherit;
  margin-top: 2rem;
  left: inherit;

  .dropdown-item {
    cursor: pointer;
    text-decoration: none;
    padding: 0;
    color: $black;
    font-family: $font-family-sans-serif !important;
    font-size: 1rem !important;

    &:hover {
      color: $primary-color !important;
    }
  }
}

