<div class="tags-wrapper" [ngClass]="{readonly: readonly, editable: !readonly}">
  <app-entity-badge
    *ngFor="let tag of tags; let i = index; let last = last"
    [highlight]="highlightLastTag && last"
    [label]="tagToString(tag)"
    [tag]="tag"
    [readonly]="readonly"
    [template]="!!template ? template : undefined"
    (remove)="removeTag(i)"></app-entity-badge>

  <form
    *ngIf="!readonly"
    #tagForm="ngForm"
    (ngSubmit)="onTagSubmit(tagForm)" >

    <ng-container *ngIf="dropdownVisible && !readonly && suggestedTags && suggestedTags.length">
      <ul *ngIf="suggestedAsDropdown" class="dropdown-menu">
        <ng-container *ngFor="let tag of suggestedTags;">
          <li class="dropdown-item" (mousedown)="addTag(tag, $event)">
            <app-entity-badge
              [label]="tagToString(tag)"
              [tag]="tag"
              [readonly]="true"
              [dropdown]="true"
              [suggested]="true"></app-entity-badge>
          </li>
        </ng-container>
      </ul>
    </ng-container>

    <div *ngIf="!isAddNewInputVisible" class="add-entry-btn-wrapper">
     <button (click)="addNew(newEntityInputSearch)" class="btn btn-outline-secondary btn-symbol add-entry-btn"><span class="add-new-label">ADD NEW</span>+</button>
    </div>

    <div [hidden]="!isAddNewInputVisible"
         class="add-entry-input-wrapper badge badge-default badge-pill">
      <input
        [placeholder]="tags.length ? placeholderIfTags : placeholderIfNoTags"
        name="tag"
        [(ngModel)]="tagInput"
        required
        (focus)="showDropdown($event)"
        (blur)="hideDropdown($event)"
        type="text"
        #newEntityInputSearch
        autocomplete="off"
        autofocus
        (keydown)="tagKeyDown($event, tagForm)">
    </div>

  </form>
</div>
