<app-notification [type]="'danger'" [debug]="node" [title]="'Someone already changed node \'' + node.title + '\''">
  <p>
    Someone else was also editing node {{ node.title }} at a same time. Please merge changes and save again.
  </p>
  <p>
    <a [routerLink]=" ['/node/' + node.id] ">Merge</a>
  </p>
</app-notification>
