@import 'variables';

.dropdown-menu {
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.1);
  font-family: $font-family-sans-serif !important;

  .dropdown-item {
    &:hover, &:hover a {
      color: $white !important;
      background-color: $primary-color !important;
    }

    a:hover {
      color: $white !important;
    }
  }
}
