@import 'variables';

.notification {
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.15) !important;
  border-radius: $border-radius !important;
  margin: .5rem !important;

  .head {
    border-top-left-radius: $border-radius !important;
    border-bottom-left-radius: $border-radius !important;
  }

  .body {
    border-top-right-radius: $border-radius !important;
    border-bottom-right-radius: $border-radius !important;
  }
}
