$grid-breakpoints: (
  xs: 0,
  sm: 624px,
  md: 1024px,
  lg: 1200px,
  xl: 1680px
);

/* Color overrides */
$primary-color                : #3e454d;
$project-color                : #1a2636;

$active-color                 : #1b4871;

/* App overrides */
$body-background-color        : white !important;
$body-background-image        : none;

$project-container-width      : 100%;
$project-container-margin     : 0;

$app-container-width          : 1870px;
$app-container-bg-color       : white;
$app-container-box-shadow     : none;
$app-container-padding        : 35px;
$app-container-margin         : auto;

$top-bar-height               : 80px;
$top-bar-margin               : 0;
$top-bar-padding              : 15px 15px 15px 15px;
$top-bar-bg-color             : $project-color;

$project-bar-margin           : (-$app-container-padding) (-$app-container-padding) 0 (-$app-container-padding);
$project-bar-padding          : 25px 0;
$project-bar-bg-color         : transparent;

$project-logo-color           : $primary-color;
$project-logo-size            : 35px;
$project-logo-image-width     : 65%;

$project-name-color           : $project-logo-color;
$project-name-hover-color     : $project-name-color;
$project-name-font-weight     : bold;

$navigation-color             : black;
$navigation-border            : solid 2px transparent;
$navigation-color-hover       : $active-color;
$navigation-border-hover      : solid 2px $active-color;
$navigation-color-active      : $active-color;
$navigation-border-active     : solid 2px $active-color;


/* Bootstrap overrides */
$brand-primary                : $primary-color;

$font-family-sans-serif       : 'Libre Franklin', sans-serif;
$font-family-serif            : 'Libre Franklin', serif;

$font-secondary-sans-serif    : 'Libre Franklin', sans-serif;
$font-secondary-serif         : 'Libre Franklin', serif;

$border-radius                : 3px;

$btn-box-shadow               : none;
$btn-focus-box-shadow         : none;
$btn-active-box-shadow        : none;
$btn-padding-x                : 1.5rem;
$btn-padding-y                : .6rem;
$btn-border-radius            : $border-radius;
$btn-border-radius-lg         : $btn-border-radius;
$btn-border-radius-sm         : $btn-border-radius;

$input-border-focus           : $active-color;
$input-box-shadow             : none;
$input-box-shadow-focus       : none;
$input-border-radius          : $border-radius;

$notification-success         : #5cb85c;
$notification-info            : #0275d8;
$notification-warning         : #efbb68;
$notification-danger          : #d9534f;

//$brand-primary:             $primary-color !default;
// $brand-success:             lighten($primary-color, 30%) !default;
// $brand-info:                $primary-color !default;
// $brand-warning:             darken($primary-color, 30%) !default;
// $brand-danger:              darken($primary-color, 60%) !default;
// $brand-inverse:             invert($primary-color) !default;

// $btn-primary-color: $brand-primary;
// $btn-primary-bg: transparent;
// $btn-primary-border: lighten($btn-primary-color, 20%);

//$btn-secondary-color
//$btn-secondary-bg
//$btn-secondary-border
//$btn-info-color
//$btn-info-bg
//$btn-info-border
//$btn-success-color
//$btn-success-bg
//$btn-success-border
//$btn-warning-color
//$btn-warning-bg
//$btn-warning-border

// $btn-danger-color: #d9534f;
// $btn-danger-bg: transparent;
// $btn-danger-border: lighten($btn-danger-color, 20%);

/* ############################################################ */
/* If you apply this make sure that you fix app-btn-checkbox!!! */
/* ############################################################ */
// $btn-success-color: #5cb85c;
// $btn-success-bg: transparent;
// $btn-success-border: lighten($btn-success-color, 20%);


// base variables
@import '../app/base/styles/variables';
