// import fonts
@import 'fonts-import';

// overwrite with project variables
@import 'variables';

// bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';

// base styles
@import '../app/base/styles/index';

// overwrite with project styles
@import 'variables';

@import 'input';
@import 'btn';
@import 'table';
@import 'dropdown';
@import 'fileicon';
@import 'ffolders';
@import 'content';
@import 'notifications';


/*******************/
/* Project styles  */
/*******************/

body {
  font-size: .8em;
}

$login-form-width: 460px;

.login-wrapper {
  max-width: inherit !important; // IE11
  max-width: initial !important;
  margin: 0 (-$app-container-padding) (-$app-container-padding) (-$app-container-padding) !important;
  padding: $app-container-padding;
  background-color: $white;

  h2 {
    color: black;
    margin-bottom: 3rem !important;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      border-bottom: 2px solid $active-color;
      width: $login-form-width;
      margin-top: 1.6em;
      margin-left: calc(50% - #{$login-form-width}/2);
    }
  }

  form {
    margin-left: -$app-container-padding;
    margin-right: -$app-container-padding;
    padding: 2rem;
    background-color: $white;

    .form-group-wrapper {
      max-width: $login-form-width;
      margin: auto;
    }
  }

  .prompt-register,
  .reset-password {
    transform: scale(1) !important;
    letter-spacing: initial !important;
    font-size: .7rem !important;
    line-height: 1.2rem !important;

    .font-weight-bold {
      font-weight: normal !important;
    }

    a {
      color: $active-color;
    }
  }
}

.project-bar {
  padding: 10px 0 0 0 !important;
}

.content-box {
  border-radius: $border-radius !important;
  margin: 0 !important;
}

.fa.disabled,
.fa[disabled],
.disabled > .fa,
[disabled] > .fa {
  opacity: .5;
}


@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  div.svg-container {
    width: 100%;
    height: 20vw;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

