@import '../../../../../styles/variables';


.login-wrapper {
  margin: 20px auto 50px auto;
  max-width: 400px;

  /deep/ h2 {
    text-align  : center;
    margin      : 100px 0 65px;
    font-family : $font-secondary-sans-serif;
    font-size   : 2.45rem;
  }

  input {
    border-radius: $input-border-radius;
    text-indent: 1rem;
    font-family: $font-family-sans-serif;
  }

  label {
    margin-left: 1.1rem;
  }

  .btn-login {
    margin-top: 2rem;
  }

  .loading-spinner {
    display: block;
    margin-top: 1rem;

    .fa {
      font-size: 1.6525em;
    }
  }

  .prompt-register, .reset-password {
    letter-spacing: 1px;
    line-height: 2rem;
    transform: scale(.9, 1);
    color: lighten($black, 25%);
    font-family: $font-family-sans-serif;
  }
}

.footer {
  text-align: center;
}

#otherOptions {
  margin-top: 15px;
}

/*
input {
  margin: 40px 25px;
  width: 200px;
  display: block;
  padding: 10px 0;

  transition: all 0.3s cubic-bezier(.64,.09,.08,1);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  &:focus, &:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
    &::-webkit-input-placeholder {

      font-size: 11px;
      transform: translateY(-20px);
      visibility: visible !important;
    }
  }
}*/

