<div class="login-wrapper">
  <div #headerContainer></div>

  <form #loginForm="ngForm" novalidate
        (ngSubmit)="loginForm.form.valid && !loading && login()" >
    <div class="form-group-wrapper">
      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': loginForm.controls['email']?.errors && loginForm.controls['email'].touched}">
          <ng-container  *ngIf="!customLoginFields.length; else customLoginInput">
            <input
              placeholder=" "
              class="form-control"
              required
              email
              type="email"
              name="email"
              id="email"
              [(ngModel)]="signInData.email">
            <label for="email" i18n>Email</label>
          </ng-container>
          <ng-template #customLoginInput>
            <input
              placeholder=" "
              class="form-control"
              required
              type="text"
              name="email"
              id="email"
              [(ngModel)]="signInData.email">
            <label for="email"><ng-container i18n>Email or </ng-container>{{ customLoginFields.join(', ') }}</label>
          </ng-template>
          <app-control-messages [control]="loginForm.controls['email']"></app-control-messages>
        </div>
      </div>

      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': loginForm.controls['password']?.errors && loginForm.controls['password'].touched }">
          <input
            placeholder=" "
            class="form-control"
            required
            type="password"
            name="password"
            id="pass"
            [(ngModel)]="signInData.password">
          <label for="pass" i18n>Password</label>
          <app-control-messages [control]="loginForm.controls['password']"></app-control-messages>
        </div>
      </div>
    </div>
    <div class="footer">
      <p class="text-danger">{{ errorMsg }}</p>

      <button type="submit" class="btn btn-primary btn-lg btn-login" [disabled]="!loginForm.valid || loading" i18n>LOGIN</button>

      <div *ngIf="loading" class="loading-spinner">
        <i class="fa fa-spinner fa-pulse fa-fw"></i>
      </div>

      <div id="otherOptions">
        <div *ngIf="enableRegistration" class="prompt-register">
          <span class="secondary-font-sans-serif font-weight-bold"><ng-container i18n>DON'T HAVE AN ACCOUNT?</ng-container>
            <a [routerLink]="['/user/registration']" class="font-weight-bold" i18n>REGISTER</a>
          </span>
        </div>
        <div class="reset-password">
          <span class="secondary-font-sans-serif font-weight-bold"><ng-container i18n>FORGOT PASSWORD?</ng-container>
            <a [routerLink]="['/user/password']" class="font-weight-bold" i18n>RESET PASSWORD</a>
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
