h5 {
  position: absolute;
  top: .5rem;
  left: .5rem;
  font-size: 1rem;
}

.form-group {
  width: 100%;
}

/deep/ {
  ngb-typeahead-window.dropdown-menu {
    overflow-y: auto;
    max-height: 400px;
    margin-left: 0 !important;
  }
}
