<app-filter-dropdown [enabled]="!!value">
  <h5><i class="fa fa-filter fa-fw"></i>{{ label }}</h5>
  <div class="form-inline">
    <label class="form-label form-group">
      <div class="input-group">
        <input *ngIf="!typeaheadFunc" type="text" class="form-control"
               [(ngModel)]="value"
               (change)="change.emit($event)">
        <input *ngIf="typeaheadFunc" type="text" class="form-control"
               [(ngModel)]="value"
               [ngbTypeahead]="typeaheadFunc"
               (focus)="onFocus($event)"
               (change)="change.emit($event)"
               (selectItem)="onTypeaheadSelect($event)">
        <span class="input-group-btn" *ngIf="clearButton">
          <button class="btn btn-secondary" (click)="clear()"><i class="fa fa-eraser fa-fw"></i></button>
        </span>
      </div>
    </label>
  </div>
</app-filter-dropdown>
