@import '../../base/app/user/profile/cmp.profile';
// @import '../../styles/icon-list';

.avatar-wrapper {

  padding-top: 20px;
  height: 160px;

  .avatar {
    height        : 100%;
    width         : 100%;
    border        : solid 1px #e7e7e7;
    padding       : 5px;
    border-radius : 0 !important;
    background    : $neutral-light;
    margin        : auto;

    .fa {
      margin     : auto;
      position   : absolute;
      left       : 0;
      right      : 0;
      margin-top : 0 !important;
    }

    img {
      height        : 100%;
      width         : 100%;
      border-radius : 0;
    }
  }
}

