@import '../../../../../styles/variables';

.blade-selector {
  display: table;
  table-layout: fixed;
  margin-top: 2rem;
  width: 100%;

  &.disabled > * {
    cursor: not-allowed !important;
    background-color: $gray-lightest;

    &.selected {
      opacity: .65;
    }
  }

  &:not(.disabled) > .blade-handle:hover{
    background-color: lighten($primary-color, 40%);
  }

  .blade-handle.selected {
    background-color: darken($active-color, 5%) !important;

    .blade-indicator {
      top: -2.1rem;
    }

    .blade-content {
      color: white;
    }
  }

  .blade-handle {
    display: table-cell;
    height: 8rem;
    border: 1px solid $gray-lighter;
    border-right: none;
    text-align: center;
    position: relative;

    transition: all .2s;

    cursor: pointer;

    &.disabled {
      cursor: not-allowed !important;
      background-color: lighten($primary-color, 65%) !important;
      pointer-events: none;
    }

    &:last-child {
      border-right: 1px solid $gray-lighter;
    }


    .blade-tooltip {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .blade-content, .blade-indicator {
    font-size: 100%;
    font-weight: bold;
    display: block;
    margin-top: 5px;
  }

  .blade-indicator {
    position: absolute;
    pointer-events: none;
    top: -1.6rem;
    left: 0;
    right: 0;
    margin: auto;

    & > span {
      display: inline-block;
      position: relative;
    }

    &:hover {
      color: $black;
    }
  }
}


img.fill {
  margin: 5px auto;
  max-height: 10rem;
  display: block;
}

img.svg-fullwidth {
  width: 100%;
  margin: 5px auto;
  max-height: 10rem;
  display: block;
}

img.svg-halfwidth {
  width: 50%;
  margin: 5px auto;
  max-height: 5rem;
  display: block;
}
