<div [formGroup]="form">
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Drawing</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <div class="row">
          <div class="col">
            <div [fallbackImgUrl]="'/assets/img/pergola-product.specifications.png'"
                 (onSVGInserted)="onLegendSvgLoad($event)"
                 [inlineSVG]="'/assets/img/pergolaLegend.svg'"
                 class="svg-container m-5">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div id="pergolaDisplayLarge"
                 [fallbackImgUrl]="'/assets/img/pergola-product.specifications.png'"
                 (onSVGInserted)="onPergolaSvgLoad($event)"
                 [inlineSVG]="'/assets/img/pergola.svg'"
                 class="svg-container m-5">
            </div>
          </div>
          <div class="col-3">
            <div class="row-group">
              <div class="row border">
                <div class="col header">
                  <span i18n>Poles</span>
                </div>
              </div>
              <div class="row border">
                <div class="col">
                  <span class="checkbox"
                      [class.checked]="getControlValue('product.poleData.p1')"
                      i18n>
                    Pole P1
                  </span>
                </div>
              </div>
              <div class="row border">
                <div class="col">
                  <span class="checkbox"
                      [class.checked]="getControlValue('product.poleData.p2')"
                      i18n>
                    Pole P2
                  </span>
                </div>
              </div>
              <div class="row border">
                <div class="col">
                  <span class="checkbox"
                      [class.checked]="getControlValue('product.poleData.p3')"
                      i18n>
                    Pole P3
                  </span>
                </div>
              </div>
              <div class="row border">
                <div class="col">
                  <span class="checkbox"
                      [class.checked]="getControlValue('product.poleData.p4')"
                      i18n>
                    Pole P4
                  </span>
                </div>
              </div>
            </div>
            
            <div class="row-group" *ngIf="getControlValue('product.customPoleHeight')">
              <div class="row border">
                <div class="col header">
                  <span i18n>Custom pole height (mm)</span>
                </div>
              </div>
              
              <div class="row border">
                <div class="col-3">
                  <span i18n>P1</span>
                </div>
                <div class="col">
                  {{ getControlValue('product.poleData.p1') ? getControlValue('product.poleData.p1height') : '/' }}
                </div>
              </div>
              
              <div class="row border">
                <div class="col-3">
                  <span i18n>P2</span>
                </div>
                <div class="col">
                  {{ getControlValue('product.poleData.p2') ? getControlValue('product.poleData.p2height') : '/' }}
                </div>
              </div>
              
              <div class="row border">
                <div class="col-3">
                  <span i18n>P3</span>
                </div>
                <div class="col">
                  {{ getControlValue('product.poleData.p3') ? getControlValue('product.poleData.p3height') : '/' }}
                </div>
              </div>
              
              <div class="row border">
                <div class="col-3">
                  <span i18n>P4</span>
                </div>
                <div class="col">
                  {{ getControlValue('product.poleData.p4') ? getControlValue('product.poleData.p4height') : '/' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-group additional-poles-group" *ngIf="getControlValue('product.numberOfAdditionalPoles')">
    <div class="row border">
      <div class="col header">
        <span i18n>Additional poles</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span i18n>Position</span>
      </div>
      <div class="col">
        <span i18n>X</span>
      </div>
      <div class="col">
        <span i18n>Height</span>
      </div>
    </div>
    
    <div class="row border" *ngFor="let pole of form.get('product.additionalPoleData').controls">
      <div class="col">
        <span *ngIf="pole.get('position').value === 'p1p2'" i18n>P1 - P2</span>
        <span *ngIf="pole.get('position').value === 'p3p4'" i18n>P3 - P4</span>
        <span *ngIf="pole.get('position').value === 'p1p3'" i18n>P1 - P3</span>
        <span *ngIf="pole.get('position').value === 'p2p4'" i18n>P2 - P4</span>
      </div>
      <div class="col">
        {{ pole.get('x').value }}&nbsp;<span i18n>mm</span>
      </div>
      <div class="col">
        {{ getControlValue('product.customPoleHeight') ? pole.get('height').value : '/' }}
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Mark motor position, water exit and power supply on top view</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Motor position</span>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.motorPos') === 'a'"
                  i18n>
              (M) A
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.motorPos') === 'b'"
                  i18n>
              (M) B
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Water exit</span>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.a1')"
                  i18n>
              (W) A1
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.b1')"
                  i18n>
              (W) B1
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.a2')"
                  i18n>
              (W) A2
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.b2')"
                  i18n>
              (W) B2
            </span>
          </div>
        </div>
        
        <div class="row">
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.a3')"
                  i18n>
              (W) A3
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.b3')"
                  i18n>
              (W) B3
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.a4')"
                  i18n>
              (W) A4
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.b4')"
                  i18n>
              (W) B4
            </span>
          </div>
        </div>
        
        <div class="row">
          <div class="col">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.waterExit.custom')"
                  i18n>
              Custom water exit
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Power supply</span>
      </div>
      <div class="col">
        <div class="row">
          <div class="col-3">
            <span class="checkbox"
                  *ngIf="!powerSupply1IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p1')"
                  i18n>
              (P) 1
            </span>
            <span class="checkbox"
                  *ngIf="powerSupply1IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p1')"
                  i18n>
              (Corner) 1
            </span>
          </div>
          <div class="col-3">
            <span class="checkbox"
                  *ngIf="!powerSupply2IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p2')"
                  i18n>
              (P) 2
            </span>
            <span class="checkbox"
                  *ngIf="powerSupply2IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p2')"
                  i18n>
              (Corner) 2
            </span>
          </div>
          <div class="col-2">
            <span class="checkbox"
                  *ngIf="!powerSupply3IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p3')"
                  i18n>
              (P) 3
            </span>
            <span class="checkbox"
                  *ngIf="powerSupply3IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p3')"
                  i18n>
              (Corner) 3
            </span>
          </div>
          <div class="col-2">
            <span class="checkbox"
                  *ngIf="!powerSupply4IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p4')"
                  i18n>
              (P) 4
            </span>
            <span class="checkbox"
                  *ngIf="powerSupply4IsPoleText"
                  [class.checked]="getControlValue('product.specifications.powerSupply.p4')"
                  i18n>
              (Corner) 4
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Mounting type - brackets</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col header">
        <span i18n>Wall Fixation</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.mountingWallType') === 'Standard'"
              i18n>
          Standard
        </span>
        <img class="fill" src="/assets/img/wall-mounting-standard.png">
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.mountingWallType') === 'Optional'"
              i18n>
          Optional
        </span>
        <img class="fill" src="/assets/img/wall-mounting-optional.png">
      </div>
    </div>
    
    <div class="row border">
      <div class="col header">
        <span i18n>Fixation position</span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.wallFixations.p1p2')"
              i18n>
          P1 - P2
        </span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.wallFixations.p3p3')"
              i18n>
          P3 - P4
        </span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.wallFixations.p1p3')"
              i18n>
          P1 - P3
        </span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.wallFixations.p2p4')"
              i18n>
          P2 - P4
        </span>
      </div>
    </div>
  
    <ng-container>
      <div class="row border">
        <div class="col header">
          <span i18n>Ground Fixation</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.specifications.mountingGroundType') === 'Standard'"
                i18n>
            Standard
          </span>
          <img class="fill" src="/assets/img/ground-mounting-standard.png">
        </div>
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.specifications.mountingGroundType') === 'OptionalA'"
                i18n>
            Optional A
          </span>
          <img class="fill" src="/assets/img/ground-mounting-optional-a.png">
        </div>
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.specifications.mountingGroundType') === 'OptionalB'"
                i18n>
            Optional B
          </span>
          <img class="fill" src="/assets/img/ground-mounting-optional-b.png">
        </div>
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.specifications.mountingGroundType') === 'OptionalC'"
                i18n>
            Optional C
          </span>
          <img class="fill" src="/assets/img/ground-mounting-optional-c.png">
        </div>
      </div>
  
      <div class="row border">
        <div class="col-3 header">
          <span i18n>Mount color</span>
        </div>
        <div class="col">
          <div class="row">
            <div class="col-4">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.mountingGroundColorStandard') === true"
                  i18n>
              Standard
            </span>
            </div>
            <div class="col-4">
            <span class="checkbox"
                  [class.checked]="getControlValue('product.specifications.mountingGroundColorStandard') === false"
                  i18n>
              Same as pergola frame
            </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Blades opening direction</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.bladesOpeningDirection') === 'CW'"
              i18n>
           A
          </span>
        <img class="svg-halfwidth" src="/assets/img/blades-cw.svg">
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.bladesOpeningDirection') === 'CCW'"
              i18n>
           B
          </span>
        <img class="svg-halfwidth" src="/assets/img/blades-ccw.svg">
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>LED lights</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.ledType') === 'white-natural'"
              i18n>
          White - Natural (4000K)
        </span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.ledType') === 'white-warm'"
              i18n>
          White - Warm (3000K)
        </span>
      </div>
      <div class="col">
        <span class="checkbox"
              [class.checked]="getControlValue('product.specifications.ledType') === 'rgb'"
              i18n>
          RGB
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col header">
        <span i18n>LED length</span>
      </div>
      <div class="col">
        {{ getControlValue('product.specifications.ledLength') }}&nbsp;<span i18n>mm</span>
      </div>
      <div class="col header">
        <span i18n>LED quantity</span>
      </div>
      <div class="col">
        {{ getControlValue('product.specifications.ledPositions') ? getControlValue('product.specifications.ledPositions').length : '/' }}
      </div>
      <div class="col header">
        <span i18n>Non-Standard LED Position</span>
      </div>
      <div class="col">
        <span *ngIf="getControlValue('product.specifications.customLedPositionEnabled')">
          {{ getControlValue('product.specifications.customLedPosition')}}&nbsp;<span i18n>mm</span>
        </span>
        <span *ngIf="!getControlValue('product.specifications.customLedPositionEnabled')">
          /
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col header">
        <span i18n>Mark positions of LED lights on blades</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <div class="blade-selector">
          <div *ngFor="let blade of blades; let i = index; let isFirst = first; let isLast = last;"
               class="blade-handle"
               [ngClass]="{ 'selected': isBladeLEDEnabled(i),
                                  'clr-whiten': projectSpecF.get('ledType').value == 'white-natural',
                                  'clr-whitew': projectSpecF.get('ledType').value == 'white-warm',
                                  'clr-rgb': projectSpecF.get('ledType').value    == 'rgb',
                                  'disabled': isBladeDisabled(i)}"
               (click)="toggleBladeLED(i);">
            <span class="blade-content">{{ blade }}</span>
            <div class="blade-tooltip" [ngbTooltip]="blade"></div>
            <!--
            <div *ngIf="blade % bladeIndicatorSpacing === 0 || isFirst || isLast" class="blade-indicator">
              <span>{{blade}}</span>
            </div>
            -->
          </div>
        </div>
        <small i18n>* LED lights are centrally positioned on blades.</small>
      </div>
    </div>
  </div>
</div>
