<ng-container [ngSwitch]="!!template">
  <div
    *ngSwitchCase="false"
    class="badge badge-secondary badge-pill entity-badge mb-1"
    [ngClass]="{'badge-highlight': highlight, 'suggested': suggested, 'dropdown': dropdown}">
    <span>{{ label }}</span>
    <span *ngIf="!readonly" class="remove" (click)="remove.emit()">&#10006;</span>
  </div>

  <ng-template
    *ngSwitchCase="true"
    [ngOutletContext]="{ tag: tag, label: label, readonly: readonly, highlight: highlight, remove: remove, suggested: suggested }"
    [ngTemplateOutlet]="template">
  </ng-template>
</ng-container>

<!--
<div
  *ngIf="!template; else customRender"
  class="badge badge-secondary badge-pill entity-badge mb-1"
  [ngClass]="{'badge-highlight': highlight, 'suggested': suggested, 'dropdown': dropdown}">
  <span>{{ label }}</span>
  <span *ngIf="!readonly" class="remove" (click)="remove.emit()">&times;</span>
</div>

<ng-template
  #customRender
  [ngOutletContext]="{ tag: tag, label: label, readonly: readonly, highlight: highlight, remove: remove, suggested: suggested }"
  [ngTemplateOutlet]="template">
</ng-template>
-->
