<div class="tab-content-wrapper">
  <div class="inner-panel inner-panel-left">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Sliding Panels</h5>

      <div [formGroup]="fp" *ngIf="pergolaLength >= 330; else pergolaTooSmall">
        <div class="form-group" formGroupName="slidingPanelPosition" (change)="refreshPergolaView()">
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12">
              <span class="inline-wrapper-header" i18n>Position</span>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p2"
                       [formControl]="this.fp.get('slidingPanelPosition').get('p1p2')"
                       [disableCond]="!isPergolaSideAvailable('p1p2')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P2</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p3p4"
                       [formControl]="this.fp.get('slidingPanelPosition').get('p3p4')"
                       [disableCond]="!isPergolaSideAvailable('p3p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P3 - P4</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p3"
                       [formControl]="this.fp.get('slidingPanelPosition').get('p1p3')"
                       [disableCond]="!isPergolaSideAvailable('p1p3')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P3</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p2p4"
                       [formControl]="this.fp.get('slidingPanelPosition').get('p2p4')"
                       [disableCond]="!isPergolaSideAvailable('p2p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P2 - P4</span>
              </label>
            </div>
          </div>
        </div>

        <!-- length -->
        <div class="form-group" formGroupName="slidingPanelOnLength" *ngIf="panelsOnLength">
          <div class="row justify-content-start inline-wrapper"
               [ngClass]="{'has-danger': fp.errors && fp.errors['slidingPanelsNotPlacedOnLength']}">
            <div class="col-12 mb-2">
              <span class="inline-wrapper-header" i18n>Panels on length</span>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Panels</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="panelQuantity"
                          (change)="updatePanelQuantity('Length')">
                    <option [value]="1">1</option>
                    <option [value]="2">2</option>
                    <option [value]="3">3</option>
                    <option [value]="4">4</option>
                    <option [value]="5">5</option>
                    <option [value]="6">6</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row" [ngClass]="{'has-danger': fp.get('slidingPanelOnLength').get('size').errors}">
                <label class="col-3 col-form-label" i18n>Panel size</label>
                <div class="col-9">
                  <div class="input-group">
                    <input type="number" class="form-control" formControlName="size" (change)="updateSize('Length')">
                    <span class="input-group-addon" i18n>mm</span>
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="fp.get('slidingPanelOnLength').get('size').errors && fp.get('slidingPanelOnLength').get('size').errors['slidingPanelSizeTooLarge']"
                       i18n>Combined size of panels exceeds pergola length
                  </div>
                  <div class="form-control-feedback">
                    <app-control-messages [control]="fp.get('slidingPanelOnLength').get('size')"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Type</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="type" (change)="updateType('Length')">
                    <option [value]="'A'" i18n>A</option>
                    <option [value]="'B'" i18n>B</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-12 form-group panels-container"
                 [ngClass]="{'has-danger': (fp.errors && fp.errors['slidingPanelsNotPlacedOnLength'])}">
              <div class="guide" *ngFor="let guide of _guides('Length')">
                <div class="guide-inner-wrapper">
                  <div class="panel-wrapper" *ngFor="let panel of _panels('Length');"
                       [ngStyle]="{ 'width.%' : 100 / _panels('Length').length,
                                'left.%'  : panel * (100 / _panels('Length').length)
                              }">
                    <div class="panel"
                         [ngClass]="{ 'selected'  : getPanelPlacement('Length')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Length')[panel] && getPanelPlacement('Length')[panel] !== guide + 1 }"
                         (click)="togglePanelPosition('Length', panel, guide + 1)"></div>
                  </div>
                </div>
              </div>
              <div class="row arrows-container">
                <div class="col-6">
                  <img class="arrow float-right" [ngClass]="{'reverse': !(arrowLeft('Length') !== 'left')}"
                       (click)="toggleLeftArrow('Length')" src="assets/img/panels-arrow.svg">
                </div>
                <div class="col-6">
                  <img class="arrow float-left" [ngClass]="{'reverse': arrowRight('Length') !== 'right'}"
                       (click)="toggleRightArrow('Length')" src="assets/img/panels-arrow.svg">
                </div>
              </div>
              <div class="form-control-feedback col-12" *ngIf="fp.errors && fp.errors['slidingPanelsNotPlacedOnLength']"
                   i18n>You must select a position for all panels.
              </div>
            </div>
          </div>
        </div>

        <!-- width -->
        <div class="form-group" formGroupName="slidingPanelOnWidth" *ngIf="panelsOnWidth">
          <div class="row justify-content-start inline-wrapper"
               [ngClass]="{'has-danger': fp.errors && fp.errors['slidingPanelsNotPlacedOnWidth']}">
            <div class="col-12 mb-2">
              <span class="inline-wrapper-header" i18n>Panels on width</span>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Panels</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="panelQuantity"
                          (change)="updatePanelQuantity('Width')">
                    <option [value]="1">1</option>
                    <option [value]="2">2</option>
                    <option [value]="3">3</option>
                    <option [value]="4">4</option>
                    <option [value]="5">5</option>
                    <option [value]="6">6</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row" [ngClass]="{'has-danger': fp.get('slidingPanelOnWidth').get('size').errors}">
                <label class="col-3 col-form-label" i18n>Panel size</label>
                <div class="col-9">
                  <div class="input-group">
                    <input type="number" class="form-control" formControlName="size" (change)="updateSize('Width')">
                    <span class="input-group-addon" i18n>mm</span>
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="fp.get('slidingPanelOnWidth').get('size').errors && fp.get('slidingPanelOnWidth').get('size').errors['slidingPanelSizeTooLarge']"
                       i18n>Combined size of panels exceeds pergola width
                  </div>
                  <div class="form-control-feedback">
                    <app-control-messages [control]="fp.get('slidingPanelOnWidth').get('size')"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Type</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="type" (change)="updateType('Width')">
                    <option [value]="'A'" i18n>A</option>
                    <option [value]="'B'" i18n>B</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-12 form-group panels-container"
                 [ngClass]="{'has-danger': (fp.errors && fp.errors['slidingPanelsNotPlacedOnWidth'])}">
              <div class="guide" *ngFor="let guide of _guides('Width')">
                <div class="guide-inner-wrapper">
                  <div class="panel-wrapper" *ngFor="let panel of _panels('Width');"
                       [ngStyle]="{ 'width.%' : 100 / _panels('Width').length,
                                'left.%'  : panel * (100 / _panels('Width').length)
                              }">
                    <div class="panel"
                         [ngClass]="{ 'selected'  : getPanelPlacement('Width')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Width')[panel] && getPanelPlacement('Width')[panel] !== guide + 1 }"
                         (click)="togglePanelPosition('Width', panel, guide + 1)"></div>
                  </div>
                </div>
              </div>
              <div class="row arrows-container">
                <div class="col-6">
                  <img class="arrow float-right" [ngClass]="{'reverse': !(arrowLeft('Width') !== 'left')}"
                       (click)="toggleLeftArrow('Width')" src="assets/img/panels-arrow.svg">
                </div>
                <div class="col-6">
                  <img class="arrow float-left" [ngClass]="{'reverse': arrowRight('Width') !== 'right'}"
                       (click)="toggleRightArrow('Width')" src="assets/img/panels-arrow.svg">
                </div>
              </div>
              <div class="form-control-feedback col-12" *ngIf="fp.errors && fp.errors['slidingPanelsNotPlacedOnWidth']"
                   i18n>You must select a position for all panels.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row justify-content-start">
            <div class="col-3">
              <h4 i18n>Type</h4>
            </div>
            <div class="col-9">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="slidingPanelMaterial"
                       [value]="'Wood'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Wood</span>
              </label>
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="slidingPanelMaterial" [value]="'Alu'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Alu</span>
              </label>
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="slidingPanelMaterial"
                       [value]="'Screen'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Screen</span>
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row justify-content-start">
            <div class="col-md-2">
              <h4 i18n>Color</h4>
            </div>
            <div class="col-md-10">
              <div class="form-check">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" formControlName="slidingPanelCustomColor"
                         name="nonStandardColorCheckbox">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description" i18n>Non-standard Color</span>
                </label>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="!fp.get('slidingPanelCustomColor').value; else nonStandardColor">
            <div class="col-12">
              <div ngbRadioGroup class="btn-color-group" formControlName="slidingPanelColor">
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" [value]="7016">
                  <ng-container i18n>Grey Anthracite</ng-container>
                  <br>RAL 7016<br>
                  <div class="color-sample border rounded-circle" [style.background]="ralToHex('7016')"></div>
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" [value]="9006">
                  <ng-container i18n>Grey Aluminium</ng-container>
                  <br>RAL 9006<br>
                  <div class="color-sample border rounded-circle" [style.background]="ralToHex('9006')"></div>
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" [value]="9016">
                  <ng-container i18n>White</ng-container>
                  <br>RAL 9016<br>
                  <div class="color-sample border rounded-circle" [style.background]="ralToHex('9016')"></div>
                </label>
              </div>
            </div>
          </div>

          <ng-template #nonStandardColor>
            <div class="row justify-content-start">
              <div class="form-group col-6" [ngClass]="{'has-danger': !controlValid('slidingPanelCustomColorID')}">
                <div class="row">
                  <div class="col-7" [ngClass]="{'has-danger': !fp.get('slidingPanelCustomColorID').valid}">
                    <label class="form-control-label">
                      <ng-container i18n>Color (RAL)</ng-container>
                      <div class="input-group">
                        <input class="form-control" type="number" formControlName="slidingPanelCustomColorID">
                        <span class="input-group-addon"><div class="color-sample border rounded-circle"
                                                             [style.background]="ralToHex(fp.get('slidingPanelCustomColorID').value)"></div></span>
                      </div>
                    </label>
                    <app-control-messages [control]="fp.get('slidingPanelCustomColorID')"></app-control-messages>
                  </div>
                  <div class="col-5">
                    <label class="form-control-label">
                      <ng-container i18n>Type of Finish</ng-container>
                      <select class="form-control custom-select select-color-finish"
                              formControlName="slidingPanelFinishType">
                        <option [value]="'Matt'" i18n>Matt</option>
                        <option [value]="'Glossy'" i18n>Glossy</option>
                        <option [value]="'Microstructure'" i18n>Microstructure</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>

      <ng-template #pergolaTooSmall>
        <div class="form-control-feedback" i18n>Pergola length is too small and can't support any sliding panels.</div>
      </ng-template>
    </div>
  </div>

  <div class="inner-panel inner-panel-right">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Pergola Top View</h5>
      <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'" (onSVGInserted)="onSvgLoad($event)"
           [inlineSVG]="'/assets/img/pergola-small.svg'"
           class="svg-container"></div>
    </div>
  </div>

</div>

