@import '../../../../../styles/variables';

.password-wrapper {
  margin: 1.5rem;

  .change-password-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1rem;
  }

  h2 {
    font-family: $font-secondary-sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  .update-password {
    text-align: right;
  }
}
