<div class="password-wrapper content-box content-box-full-height">
  <div class="change-password-wrapper">
    <h2 i18n>Change password</h2>
    <form novalidate [formGroup]="passFormGroup"
          (ngSubmit)="update()">
      <div
        [ngClass]="{'has-danger': pfgHasError('oldPass')}"
        class="form-group spacing-input-group-10 row">
        <label for="oldPass" class="col-2 offset-sm-1 col-form-label" i18n>Current password</label>
        <div class="col-8">
          <p *ngIf="errorWrongPass" class="text-danger" i18n>
            Wrong password.
          </p>
          <input
            [ngClass]="{'form-control-danger': pfgHasError('oldPass')}"
            class="form-control" type="password" formControlName="oldPass" id="oldPass">
        </div>
      </div>



      <div formGroupName="new">
        <div
          [ngClass]="{'has-danger': pfgHasError('new.newPass')}"
          class="form-group spacing-input-group-10 row">
          <label for="newPass" class="col-2 offset-sm-1 col-form-label" i18n>New password</label>
          <div class="col-8">
            <input
              [ngClass]="{'form-control-danger': pfgHasError('new.newPass')}"
              class="form-control" type="password" formControlName="newPass" id="newPass">
          </div>
        </div>
        <div
          [ngClass]="{'has-danger': pfgHasError('new.confirmPass')}"
          class="form-group spacing-input-group-10 row">
          <label for="oldPass" class="col-2 offset-sm-1 col-form-label" i18n>Confirm password</label>
          <div class="col-8">
            <input
              [ngClass]="{'form-control-danger': pfgHasError('new.confirmPass')}"
              class="form-control" type="password" formControlName="confirmPass" id="confirmPass">
          </div>
        </div>
      </div>

      <div class="row">
        <p *ngIf="errorPassNoMatch" class="text-danger" i18n>
          Passwords do not match.
        </p>
        <p *ngIf="errorBadPass" class="text-danger" i18n>
          Password mu be at least 5 characters long.
        </p>

        <div class="col-8 offset-sm-3 update-password">
          <button
            type="submit"
            class="btn btn-primary btn-update-password"
            [disabled]="passFormGroup.invalid" i18n>UPDATE PASSWORD</button>
        </div>
      </div>
    </form>
  </div>
</div>
