@import '../../../../../styles/variables';

/deep/ {
  .add-entry-btn,
  .add-new-label {
    color: $orange !important;
    border-color: $orange !important;
  }

  .add-entry-input-wrapper {
    border-color: $orange !important;
  }

  .entity-badge {
    background-color: $orange;
  }

  .badge {
    font-family: $font-family-sans-serif;
    font-weight: normal;
    color: $black;

    padding: .5rem 1.3rem;
  }
}
