<app-entity-input
  [(tags)]="nodeGroups"
  [readonly]="readonly"
  [stringToTag]="stringToGroupId"
  [tagToString]="groupIdToString"
  [(tagInput)]="groupInputText"
  [placeholderIfTags]="'Choose a group'"
  [suggestedTags]="suggestedGroups"
  [suggestedAsDropdown]="true"
  [placeholderIfNoTags]="'Choose a group'">
</app-entity-input>

<!--
<app-tag-input
  [tags]="nodeGroups"
  [readonly]="readonly"
  [stringToTag]="stringToGroupId"
  [tagToString]="groupIdToString"
  [(tagInput)]="groupInputText"
  [placeholderIfTags]="'enter group'"
  [suggestedTags]="suggestedGroups"
  [suggestedAsDropdown]="true"
  [suggestedTagsLabel]="'Suggested groups'"
  [placeholderIfNoTags]="'Enter group'">
  <ng-template let-gid="tag" let-highlight="highlight" let-readonly="readonly" let-remove="remove" let-suggested="suggested">
            <span
              *ngIf="groups[gid]; let g"
              class="badge badge-pill badge-default"
              [ngbTooltip]="g.users.join(' ')"
              [placement]=" suggested ? 'right' : 'top'"
              [ngClass]="{
              'suggested': suggested,
              'badge-highlight': highlight}" >
              <strong>{{ g.title }}</strong>
              <span *ngIf="!readonly" class="remove" (click)="remove.emit()">&times;</span>
            </span>
  </ng-template>
</app-tag-input>

-->
