@import '../../../../styles/variables';
@import '../../../../../node_modules/bootstrap/scss/card';

.tab-content-wrapper {
  img.pergola-display-large {
    width: 90%;
    display: block;
    margin: auto;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .input-middle {
    position: relative;
    top: -.5em;
  }

  .custom-select {
    width: 100%;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .row-color-selection {
    .btn-color-group {
      width: 100%;

      .btn {
        width: calc(100% / 3);
        padding: .3rem;
      }
    }
  }

  .btn-image-group {
    width: 100%;

    .btn {
      width: calc(100% / 6);
      height: 6rem;

      img {
        width: 100%;
        display: block;
        margin: auto;
      }
    }
  }
}

.accessories-wrapper {
  width: 100%;

  .content-box-group {
    width: initial; // fix for accessories form
  }

  app-accessory {
    height: 100%;
  }
}

@media all and (min-width: map-get($grid-breakpoints, md)) {
  .inner-panel {
    width: 100%;
  }
}
@media all and (min-width: map-get($grid-breakpoints, lg)) {
  .inner-panel {
    width: 100%;
  }
}

.catalogue-group {
  display: flex;
  flex-wrap: wrap;

  @media all and (min-width: map-get($grid-breakpoints, xs)) {
    .card-wrapper {
      width: 100%;

      &.card-wrapper-half {
        width: 100%;
      }
    }
  }
  @media all and (min-width: map-get($grid-breakpoints, sm)) {
    .card-wrapper {
      width: 50%;

      &.card-wrapper-half {
        width: 50%;
      }
    }
  }
  @media all and (min-width: map-get($grid-breakpoints, md)) {
    .card-wrapper {
      width: 33.3333%;

      &.card-wrapper-half {
        width: 33.3333%;
      }
    }
  }

  @media all and (min-width: map-get($grid-breakpoints, lg)) {
    .card-wrapper {
      width: 20%;

      &.card-wrapper-half {
        width: 50%;
      }
    }
  }

  @media all and (min-width: map-get($grid-breakpoints, xl)) {
    .card-wrapper {
      width: 16.66666%;

      &.card-wrapper-half {
        width: 33.3333%;
      }
    }
  }
}
