<div class="tab-content-wrapper">
  <div class="inner-panel">
    <div class="accessories-wrapper">
      
      <div class="row">
        <!-- LED Lights -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>LED Lights</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'betaQuantity'"
                  [name]="i18n.get('accessoryBetaName')"
                  [imageSrc]="'/assets/img/accessories/beta.png'">
                </app-accessory>
              </div>
              
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'ledStrip'"
                  [name]="i18n.get('accessoryLedStrip')"
                  [max]="1"
                  [imageSrc]="'/assets/img/accessories/led-strip.jpg'">
                </app-accessory>
              </div>
              
            </div>
          </div>
        </div>
  
        <!-- Remote Controller -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Remote Controller</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'additionalRemoteControl'"
                  [name]="i18n.get('accessoryAdditionalRCName')"
                  [imageSrc]="'/assets/img/accessories/additional-remote-control.jpg'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'externalAntenna'"
                  [name]="i18n.get('accessoryExternalAntennaName')"
                  [imageSrc]="'/assets/img/accessories/external-antenna.jpg'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Audio -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Audio</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'bluetoothSystem'"
                  [name]="i18n.get('accessoryBluetoothSystemName')"
                  [imageSrc]="'/assets/img/accessories/bluetooth-system.jpg'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'speakers'"
                  [name]="i18n.get('accessorySpeakersName')"
                  [imageSrc]="'/assets/img/accessories/speakers.jpg'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'rcAudioSystem'"
                  [name]="i18n.get('accessoryRCAudioSystemName')"
                  [imageSrc]="'/assets/img/accessories/rc-audio-system.jpg'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
        
        <!-- Heaters -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Heating</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'heaterQuantity'"
                  [name]="i18n.get('accessoryHeaterName')"
                  [imageSrc]="'/assets/img/accessories/heater.jpg'">
                </app-accessory>
              </div>
              
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'heaterAnthraciteQuantity'"
                  [name]="i18n.get('accessoryHeaterAnthraciteName')"
                  [imageSrc]="'/assets/img/accessories/heater.jpg'">
                </app-accessory>
              </div>
              
            </div>
          </div>
        </div>
  
        <!-- Sensors -->
        <div class="col-12">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Sensors</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'windSensorQuantity'"
                  [name]="i18n.get('accessoryWindSensorName')"
                  [imageSrc]="'/assets/img/accessories/wind-sensor.jpg'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'rainSensorQuantity'"
                  [name]="i18n.get('accessoryRainSensorName')"
                  [imageSrc]="'/assets/img/accessories/rain-sensor.jpg'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'temperatureSensorQuantity'"
                  [name]="i18n.get('accessoryTemperatureSensorName')"
                  [imageSrc]="'/assets/img/accessories/temperature-sensor.png'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'presenceSensorQuantity'"
                  [name]="i18n.get('accessoryPresenceSensorName')"
                  [imageSrc]="'/assets/img/accessories/presence-sensor.jpeg'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Somfy -->
        <div class="col-12">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Somfy</h5>
            <div class="catalogue-group">
        
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyMotorQuantity'"
                  [name]="i18n.get('accessorySomfyMotorName')"
                  [imageSrc]="'/assets/img/accessories/somfy-motor.jpg'">
                </app-accessory>
              </div>
        
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST1TBQuantity'"
                  [name]="i18n.get('accessorySomfyRTST1TBName')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-1-tb.jpeg'">
                </app-accessory>
              </div>
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST4TBQuantity'"
                  [name]="i18n.get('accessorySomfyRTST4TBName')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-4-tb.jpeg'">
                </app-accessory>
              </div>
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST16TBQuantity'"
                  [name]="i18n.get('accessorySomfyRTST16TBName')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-16-tb.jpeg'">
                </app-accessory>
              </div>
        
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyBridge1Quantity'"
                  [name]="i18n.get('accessorySomfyBridge1Name')"
                  [imageSrc]="'/assets/img/accessories/teleco-bridge-1.jpeg'">
                </app-accessory>
              </div>
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyBridge7Quantity'"
                  [name]="i18n.get('accessorySomfyBridge7Name')"
                  [imageSrc]="'/assets/img/accessories/teleco-bridge-7.jpg'">
                </app-accessory>
              </div>
        
        
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST1Quantity'"
                  [name]="i18n.get('accessorySomfyRTST1Name')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-1.jpeg'">
                </app-accessory>
              </div>
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST4Quantity'"
                  [name]="i18n.get('accessorySomfyRTST4Name')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-4.jpeg'">
                </app-accessory>
              </div>
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'somfyRTST16Quantity'"
                  [name]="i18n.get('accessorySomfyRTST16Name')"
                  [imageSrc]="'/assets/img/accessories/somfy-telis-16.jpeg'">
                </app-accessory>
              </div>
        
              <div class="card-wrapper">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'doubleMotor'"
                  [name]="i18n.get('accessoryDoubleMotorName')"
                  [imageSrc]="'/assets/img/accessories/double-motor.jpeg'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Transport -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Transport</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half" *ngIf="pergolaLength <= 4100">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'transportBox1'"
                  [name]="i18n.get('accessoryTransportBox1Name')"
                  [imageSrc]="'/assets/img/accessories/box.png'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper card-wrapper-half" *ngIf="pergolaLength <= 6100">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'transportBox2'"
                  [name]="i18n.get('accessoryTransportBox2Name')"
                  [imageSrc]="'/assets/img/accessories/box.png'">
                </app-accessory>
              </div>
      
              <div class="card-wrapper card-wrapper-half" *ngIf="pergolaLength <= 7100">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'transportBox3'"
                  [name]="i18n.get('accessoryTransportBox3Name')"
                  [imageSrc]="'/assets/img/accessories/box.png'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Extra -->
        <div class="col-12 col-lg-6">
          <div class="content-box-group">
            <h5 class="content-box-group-title" i18n>Extra</h5>
            <div class="catalogue-group">
      
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'sparePartsKitSL'"
                  [name]="i18n.get('accessorySparePartsKitSLName')"
                  [imageSrc]="'/assets/img/accessories/spare.jpg'">
                </app-accessory>
              </div>
              
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'merbenitGlue'"
                  [name]="i18n.get('accessoryMerbenitGlueName')"
                  [imageSrc]="'/assets/img/accessories/merbenit-glue.jpg'">
                </app-accessory>
              </div>
              
              <div class="card-wrapper card-wrapper-half">
                <app-accessory
                  [orderForm]="fp"
                  [control]="'butylTapeRoll'"
                  [name]="i18n.get('accessoryButylTapeRollName')"
                  [imageSrc]="'/assets/img/accessories/butyl-tape-roll.jpg'">
                </app-accessory>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      
    </div>
  </div>
</div>
