@import '../../../../../../styles/variables';

.panels-container {
  position: relative;

  .guide {
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: 4px solid $gray-light;
    margin: 2.2rem auto;

    .guide-inner-wrapper {
      width: 90%;
      position: relative;
      margin: auto;

      .panel-wrapper {
        position: absolute;
        height: 1.5rem;
        padding: 0 .2rem;
        top: -.65rem;

        .panel {
          height: 100%;
          width: 100%;
          border: 1px dashed lighten($gray-light, 25%);
          cursor: pointer;
          transition: .15s all ease;

          &:hover {
            background-color: transparentize($gray-light, .8);
          }

          &.selected {
            border: none;
            background-color: lighten($gray-light, 20%);

            &:hover {
              background-color: $gray-light;
            }
          }

          &.hidden {
            opacity: 0;
            pointer-events: none;
            cursor: default;
          }
        }
      }
    }
  }
}

.arrows-container {
  .arrow {
    display: block;
    height: 1.8rem;
    margin: 0 3rem 1rem 3rem;
    cursor: pointer;

    &.reverse {
      transform: scaleX(-1);
    }
  }
}

img.svg-fullwidth {
  width: 100%;
  margin: auto;
  max-height: 10rem;
  display: block;
}

img.svg-halfwidth {
  width: 50%;
  margin: auto;
  max-height: 5rem;
  display: block;
}
