<div [formGroup]="form">
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>Glass Panels</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <span i18n>Position</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <div class="row">
          <div class="col-4">
            <span class="checkbox d-block my-3 mt-5"
                  [class.checked]="getControlValue('product.options.glassPanelsPosition.p1p2')"
                  i18n>
              P1 - P2
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.glassPanelsPosition.p3p4')"
                  i18n>
              P3 - P4
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.glassPanelsPosition.p1p3')"
                  i18n>
              P1 - P3
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.glassPanelsPosition.p2p4')"
                  i18n>
              P2 - P4
            </span>
          </div>
          <div class="col">
            <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'"
                 (onSVGInserted)="onSvgLoad($event)"
                 [inlineSVG]="'/assets/img/pergola-small.svg'"
                 class="svg-container">
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <ng-container *ngIf="panelsOnLength">
      <div class="row border">
        <div class="col header">
          <span i18n>Panels on length</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <span i18n>Panels</span>
        </div>
        <div class="col">
          <span i18n>Guides</span>
        </div>
        <div class="col">
          <span i18n>Panel size</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnLength.panelQuantity') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnLength.guides') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnLength.size') }} mm</span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.options.glassPanelsOnLength.locker')"
                i18n>
            Locker
          </span>
        </div>
      </div>
      
      <div class="row border">
        <div class="col">
          <div class="panels-container">
            <div class="guide" *ngFor="let guide of _guides('Length')">
              <div class="guide-inner-wrapper">
                <div class="panel-wrapper" *ngFor="let panel of _panels('Length');"
                     [ngStyle]="{ 'width.%' : 100 / _panels('Length').length,
                                'left.%'  : panel * (100 / _panels('Length').length)
                              }">
                  <div class="panel"
                       [ngClass]="{ 'selected'  : getPanelPlacement('Length')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Length')[panel] && getPanelPlacement('Length')[panel] !== guide + 1 }"></div>
                </div>
              </div>
            </div>
            <div class="row arrows-container">
              <div class="col-6">
                <img class="arrow float-right"
                     [ngClass]="{'reverse': !(arrowLeft('Length') !== 'left')}"
                     src="assets/img/panels-arrow.svg">
              </div>
              <div class="col-6">
                <img class="arrow float-left"
                     [ngClass]="{'reverse': arrowRight('Length') !== 'right'}"
                     src="assets/img/panels-arrow.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  
    <ng-container *ngIf="panelsOnWidth">
      <div class="row border">
        <div class="col header">
          <span i18n>Panels on width</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span i18n>Panels</span>
        </div>
        <div class="col">
          <span i18n>Guides</span>
        </div>
        <div class="col">
          <span i18n>Panel size</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnWidth.panelQuantity') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnWidth.guides') }}</span>
        </div>
        <div class="col">
          <span>{{ getControlValue('product.options.glassPanelsOnWidth.size') }} mm</span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <span class="checkbox"
                [class.checked]="getControlValue('product.options.glassPanelsOnWidth.locker')"
                i18n>
            Locker
          </span>
        </div>
      </div>
    
      <div class="row border">
        <div class="col">
          <div class="panels-container">
            <div class="guide" *ngFor="let guide of _guides('Width')">
              <div class="guide-inner-wrapper">
                <div class="panel-wrapper" *ngFor="let panel of _panels('Width');"
                     [ngStyle]="{ 'width.%' : 100 / _panels('Width').length,
                                'left.%'  : panel * (100 / _panels('Width').length)
                              }">
                  <div class="panel"
                       [ngClass]="{ 'selected'  : getPanelPlacement('Width')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Width')[panel] && getPanelPlacement('Width')[panel] !== guide + 1 }"
                       (click)="togglePanelPosition('Width', panel, guide + 1)"></div>
                </div>
              </div>
            </div>
            <div class="row arrows-container">
              <div class="col-6">
                <img class="arrow float-right" [ngClass]="{'reverse': !(arrowLeft('Width') !== 'left')}"
                     (click)="toggleLeftArrow('Width')" src="assets/img/panels-arrow.svg">
              </div>
              <div class="col-6">
                <img class="arrow float-left" [ngClass]="{'reverse': arrowRight('Width') !== 'right'}"
                     (click)="toggleRightArrow('Width')" src="assets/img/panels-arrow.svg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
