@import '../../../../styles/variables';

.form-group, .form-group label {
  width: 100%;
}

/deep/ {
  .form-group .dropdown-menu {
    overflow-y: auto;
    max-height: 400px;
  }
}

@media screen and (min-width: map-get($grid-breakpoints, sm)) {
  .inner-panel {
    width: 100%;
  }
}
@media screen and (min-width: map-get($grid-breakpoints, md)) {
  .inner-panel {
    width: 50%;

  }
}
@media screen and (min-width: map-get($grid-breakpoints, lg)) {
  .inner-panel {
    width: 33.3333%;
  }
}
/deep/ {
  #print-box app-client-information {
    .tab-content-wrapper {
      width: 100% !important;

      .inner-panel {
        width: 33% !important;
      }
    }
  }
}
