<div class="tab-content-wrapper">
  <div class="inner-panel">
    <div class="content-box-group">

      <h5 class="content-box-group-title" i18n>Client Information</h5>

      <div [formGroup]="clientF">
        <div class="row">
          <div class="col-6">
            <div class="form-group"
                 [ngClass]="{'has-danger': clientF.controls['name']?.errors && clientF.controls['name'].touched}">
              <label class="form-control-label">
                <ng-container i18n>Name</ng-container>
                <input class="form-control"
                       formControlName="name"
                       [ngbTypeahead]="suggestClients"
                       (selectItem)="onTypeaheadSelect($event)">
              </label>
              <app-control-messages [control]="clientF.controls['name']"></app-control-messages>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label class="form-control-label">
                <ng-container i18n>VAT</ng-container>
                <input class="form-control"
                       formControlName="vat">
              </label>
              <app-control-messages [control]="clientF.controls['vat']"></app-control-messages>
            </div>
          </div>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': clientF.controls['address']?.errors && clientF.controls['address'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Address</ng-container>
            <textarea class="form-control"
                      formControlName="address">
            </textarea>
          </label>
          <app-control-messages [control]="clientF.controls['address']"></app-control-messages>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': clientF.controls['phone']?.errors && clientF.controls['phone'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Phone</ng-container>
            <input class="form-control"
                   formControlName="phone">
          </label>
          <app-control-messages [control]="clientF.controls['phone']"></app-control-messages>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': clientF.controls['email']?.errors && clientF.controls['email'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Email</ng-container>
            <input type="email"
                   class="form-control"
                   formControlName="email">
          </label>
          <app-control-messages [control]="clientF.controls['email']"></app-control-messages>
        </div>

      </div>

      <div class="form-check">
        <label class="custom-control custom-checkbox">
          <input class="custom-control-input" name="sameAsClientCheckbox" type="checkbox"
                 (change)="deliverySameAsClientChange($event)"
                 [(ngModel)]="order.deliverySameAsClient">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description" i18n>Delivery address is the same</span>
        </label>
      </div>
    </div>
  </div>

  <div class="inner-panel">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Delivery Information</h5>

      <div [formGroup]="deliveryInformationForm">
        <div class="form-group"
             [ngClass]="{'has-danger': deliveryInformationForm.controls['name']?.errors && deliveryInformationForm.controls['name'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Name</ng-container>
            <input class="form-control"
                   formControlName="name"
                   [value]="!order.deliverySameAsClient ? deliveryInformationForm.get('name').value : clientF.get('name').value">
          </label>
          <app-control-messages [control]="deliveryInformationForm.controls['name']"></app-control-messages>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': deliveryInformationForm.controls['address']?.errors && deliveryInformationForm.controls['address'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Address</ng-container>
            <textarea class="form-control"
                      formControlName="address"
                      [value]="!order.deliverySameAsClient ? deliveryInformationForm.get('address').value : clientF.get('address').value">
            </textarea>
          </label>
          <app-control-messages [control]="deliveryInformationForm.controls['address']"></app-control-messages>
        </div>

        <div class="form-group"
             [ngClass]="{'has-danger': deliveryInformationForm.controls['phone']?.errors && deliveryInformationForm.controls['phone'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Phone</ng-container>
            <input class="form-control"
                   formControlName="phone"
                   [value]="!order.deliverySameAsClient ? deliveryInformationForm.get('phone').value : clientF.get('phone').value">
          </label>
          <app-control-messages [control]="deliveryInformationForm.controls['phone']"></app-control-messages>
        </div>

        <div class="form-group">
          <label class="form-control-label"
              [ngClass]="{'has-danger': deliveryInformationForm.controls['email']?.errors && deliveryInformationForm.controls['email'].touched}">
            <ng-container i18n>Email</ng-container>
            <input type="email" class="form-control"
                   formControlName="email"
                   [value]="!order.deliverySameAsClient ? deliveryInformationForm.get('email').value : clientF.get('email').value">
          </label>
          <app-control-messages [control]="deliveryInformationForm.controls['email']"></app-control-messages>
        </div>
      </div>
    </div>
  </div>

  <div class="inner-panel">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Project Information</h5>

      <div [formGroup]="projectInformationForm">
        <div class="form-group"
             [ngClass]="{'has-danger': projectInformationForm.controls['name']?.errors && projectInformationForm.controls['name'].touched}">
          <label class="form-control-label">
            <ng-container i18n>Project Name</ng-container>
            <input class="form-control" formControlName="name">
          </label>
          <app-control-messages [control]="projectInformationForm.controls['name']"></app-control-messages>
        </div>

        <div class="form-group">
          <label class="form-control-label">
            <ng-container i18n>Project description</ng-container>
            <textarea class="form-control" formControlName="description"></textarea>
          </label>
        </div>

        <!--<div class="form-group"
             [ngClass]="{'has-danger': projectInformationForm.controls['projectDate']?.errors && projectInformationForm.controls['projectDate'].touched}">
          <label class="form-control-label">
            Date
            <input type="date" class="form-control" name="projectDate" [(ngModel)]="order.project.date" required>
          </label>
        </div> -->

        <!--<div class="form-group"
             [ngClass]="{'has-danger': projectInformationForm.controls['projectDeliveryDate']?.errors && projectInformationForm.controls['projectDeliveryDate'].touched}">
          <label class="form-control-label">
            Requested Date of Delivery
            <input type="date" class="form-control" name="projectDeliveryDate"
                   [(ngModel)]="order.project.requestedDeliveryDate" required>
          </label>
        </div>-->
      </div>
    </div>
  </div>
</div>

