<app-notification [type]="'danger'" [debug]="notification" [title]="'Oops! There was an error processing your request.'">
  <p>
    {{ notification?.error?.message }}
  </p>
  <span (click)="remove.emit(notification)" class="btn btn-outline-white">IGNORE</span>
  <span (click)="remove.emit(notification)" class="btn btn-outline-white">SEND REPORT</span>
</app-notification>
