@import '../../../../../styles/variables';
@import '../../../styles/mixins';
// @import '../../styles/icon-list';

.profile-wrapper {
  margin: 1.5rem;
  color: $black;

  h2 {
    font-family: $font-secondary-sans-serif;
    font-weight: bold;
  }

  h5 {
    font-weight: bold;
    padding: .5rem;
    padding-left: 0;
    margin-left: 0;
  }

  .account-wrapper {
    padding-bottom: 1.5rem;
  }
}

.avatar-wrapper {

  padding-top: 7px;

  .avatar {
    height        : 150px;
    width         : 150px;
    border        : solid 1px #e7e7e7;
    padding       : 5px;
    border-radius : 50%;
    background    : $neutral-light;
    margin        : auto;

    .fa {
      margin     : auto;
      position   : absolute;
      left       : 0;
      right      : 0;
      margin-top : 0 !important;
    }

    img {
      height        : 100%;
      width         : 100%;
      border-radius : 50%;
    }
  }

  p {
    font-weight : 300;
    font-size   : 0.8em;
  }
}



.save-btn {
  min-width: 200px;
}
