<div class="row row-with-sidebar profile-wrapper content-box content-box-full-height">
  <div class="col-lg-9 pt-3">

    <h2 i18n>Profile</h2>

    <!-- USER -->
    <form novalidate [formGroup]="userFormGroup" (ngSubmit)="onSubmit(userFormGroup)">
      <div class="pt-3 profile-wrapper">
        <div class="row">
          <div class="col-sm-8">
            <div class="account-wrapper">
              <h5 i18n>Your info</h5>

              <div
                [ngClass]="{'has-danger': ufgHasError('firstName')}"
                class="form-group spacing-input-group-10 row">
                <label for="firstName" class="col-sm-4 col-form-label" i18n>First name</label>
                <div class="col-sm-8">
                  <input
                    [ngClass]="{'form-control-danger': ufgHasError('firstName')}"
                    class="form-control" type="text" value="" id="firstName" formControlName="firstName">
                </div>
              </div>

              <div
                [ngClass]="{'has-danger': ufgHasError('lastName')}"
                class="form-group spacing-input-group-10 row">
                <label for="lastName" class="col-sm-4 col-form-label" i18n>Last name</label>
                <div class="col-sm-8">
                  <input
                    [ngClass]="{'form-control-danger': ufgHasError('lastName')}"
                    class="form-control" type="text" formControlName="lastName" id="lastName">
                </div>
              </div>

              <div
                [ngClass]="{'has-danger': ufgHasError('email')}"
                class="form-group spacing-input-group-10 row">
                <label for="email" class="col-sm-4 col-form-label" i18n>Email</label>
                <div class="col-sm-8">
                  <input
                    [ngClass]="{'form-control-danger': ufgHasError('email')}"
                    class="form-control" type="text" formControlName="email" id="email">
                </div>
              </div>
            </div>

            <!--<div class="password-wrapper mt-5">
              <h5>Change password</h5>
              <form novalidate [formGroup]="passFormGroup" (ngSubmit)="onSubmit(passFormGroup)">

                <div
                  [ngClass]="{'has-danger': pfgHasError('oldPass')}"
                  class="form-group spacing-input-group-10 row">
                  <label for="oldPass" class="col-sm-4 col-form-label">Current password</label>
                  <div class="col-sm-8">
                    <input
                      [ngClass]="{'form-control-danger': pfgHasError('oldPass')}"
                      class="form-control" type="text" formControlName="oldPass" id="oldPass">
                  </div>
                </div>

                <div formGroupName="new">
                  <div
                    [ngClass]="{'has-danger': pfgHasError('new.newPass')}"
                    class="form-group spacing-input-group-10 row">
                    <label for="newPass" class="col-sm-4 col-form-label">New password</label>
                    <div class="col-sm-8">
                      <input
                        [ngClass]="{'form-control-danger': pfgHasError('new.newPass')}"
                        class="form-control" type="text" formControlName="newPass" id="newPass">
                    </div>
                  </div>
                  <div
                    [ngClass]="{'has-danger': pfgHasError('new.confirmPass')}"
                    class="form-group spacing-input-group-10 row">
                    <label for="oldPass" class="col-sm-4 col-form-label">Confirm password</label>
                    <div class="col-sm-8">
                      <input
                        [ngClass]="{'form-control-danger': pfgHasError('new.confirmPass')}"
                        class="form-control" type="text" formControlName="confirmPass" id="confirmPass">
                    </div>
                  </div>
                </div>

                <button
                  type="submit"
                  class="btn btn-primary float-right"
                  [disabled]="passFormGroup.invalid">UPDATE PASSWORD</button>
              </form>
            </div>-->
          </div>
          <div class="col-sm-4 mt-sm-4">
            <div class="avatar-wrapper">
              <div class="avatar">
                <!--<a target="_blank" href="http://en.gravatar.com/emails/">-->
                  <img [src]="(user.avatarBase64 || user.avatar) | safeUrl">
                <!--</a>-->
              </div>

              <div class="picker mt-3">
                <label class="btn btn-outline-primary btn-file w-100">
                  <ng-container i18n>Upload image</ng-container><input type="file" (change)="onIconPick($event)" style="display: none;">
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary float-right save-btn"
        [disabled]="!((userFormGroup.valid && userFormGroup.touched) || user.avatarBase64)" i18n>SAVE
      </button>
    </form>
  </div>

  <!--<div class="col-md-4 col-lg-3 pt-3 sidebar">

   --><!-- HISTORY --><!--
    <div class="history-wrapper">
      <h5>Last activity</h5>
      <ul>
        <li *ngFor="let x of this.lastActivity">
          <div class="item-decorator">
            <div class="line"></div>
            <a class="avatar" [ngSwitch]="x.type">
                <i *ngSwitchCase="'load'" class="fa fa-fw fa-key" aria-hidden="true"></i>
                <i *ngSwitchCase="'wrongpass'" class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
                <i *ngSwitchCase="'signin'" class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
                <i *ngSwitchCase="'passrec'" class="fa fa-fw fa-recycle" aria-hidden="true"></i>
                <i *ngSwitchCase="'signup'" class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
            </a>
          </div>
          <div class="item-body">
            <h6>{{x.time}}</h6>
            <h5>127.0.0.1</h5>
            <p>{{x.label}}</p>
          </div>
        </li>
      </ul>
    </div>

  </div> -->
</div>
