@import '../../../../styles/variables';

textarea {
  min-height: 300px;
}

h2.article-title {
  font-weight: bold;
}

h5 {
  font-size: 1rem;
}

pre.news-content {
  white-space: pre-wrap;
  border-left: 2px solid $gray-lighter;
  padding-left: 8px;
  text-indent: -1rem;
  font-family: $font-family-sans-serif;
  font-size: .8rem;
  margin-top: 1rem;
  width: 50%;
}

.article-actions {
  margin-bottom: -3rem;
}
