<div class="article-wrapper">
  <div *ngIf="!edit; else editMode">
    <div class="article-actions" *ngIf="isSuperAdmin">
      <app-entity-actions
        [entityCmp]="entityCmp"
        [removeString]="'Delete'"
        [cancelString]="'Back'"
        i18n-removeString
        i18n-cancelString>
      </app-entity-actions>
    </div>
    
    <h2 i18n class="article-title">{{ article.title }}</h2>
    <h5>{{ article.birth | safeDate: 'short'}}</h5>
    <pre class="news-content">
      {{ article.content }}
    </pre>
  </div>
  
  <ng-template #editMode>
    <form [formGroup]="articleForm" novalidate (ngSubmit)="save(articleForm)">
      <div class="row mb-3">
        <div class="col-sm-6">
          <h2 *ngIf="!article.$new">Edit article</h2>
          <h2 *ngIf="article.$new" i18n>New article</h2>
        </div>
        <div class="col-sm-6">
          <app-entity-actions removeString="Delete" i18n-removeString cancelString="Back" i18n-cancelString [form]="articleForm" [entityCmp]="entityCmp"></app-entity-actions>
        </div>
      </div>
      
      <div class="row">
        <div class="col-6">
          <div class="form-group" [ngClass]="{'has-danger': articleForm.controls['title']?.errors && articleForm.controls['title'].touched}">
            <label class="form-control-label" for="titleInput" i18n>Title</label>
            <input class="form-control" id="titleInput" formControlName="title">
            <app-control-messages [control]="articleForm.controls['title']"></app-control-messages>
          </div>
          <div class="form-group" [ngClass]="{'has-danger': articleForm.controls['content']?.errors && articleForm.controls['content'].touched}">
            <label class="form-control-label" for="contentInput" i18n>Content</label>
            <textarea class="form-control" id="contentInput" formControlName="content"></textarea>
            <app-control-messages [control]="articleForm.controls['content']"></app-control-messages>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  
  <div *ngIf="updating" class="loading-wrapper">
    <div class="loading-spinner">
      <i class="fa fa-cog fa-spin fa-4x fa-fw"></i>
    </div>
  </div>
</div>
