@import '../../../styles/variables';

#project-container {
  max-width: $project-container-width;
  margin: $project-container-margin;
}

#app-top-bar {
  margin: $top-bar-margin;
  padding: $top-bar-padding;
  background-color: $top-bar-bg-color;
}

#app-container {
  max-width: $app-container-width;
  background-color: $app-container-bg-color;
  box-shadow: $app-container-box-shadow;
  padding: $app-container-padding;
  margin: $app-container-margin;
  min-height: calc(100vh - #{$top-bar-height} - #{$footerHeight});

  // WE NEED THIS FOR ALL NICE ANIMATIONS LATTER IN COMPONENTS
  // so don't remove it ;)
  position: relative;
}

#notifications-wrapper {
  position: fixed;
  top: 2rem;

  max-width: 600px;

  left: 0;
  right: 0;
  margin: auto;

  z-index: 1000;
}

.printMode {
  #app-footer,
  #app-top-bar {
    display: none;
  }
  #app-container {
    padding: 0;
  }
}

.loading-wrapper {
  height: 180px;
  margin: 40px;

  .loading {
    position : absolute;
    left     : 0;
    right    : 0;
  }
}


.sk-folding-cube {
  margin: 20px auto;
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: solid 1px #f8f8f8;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube1:before  {
  background-color: #4479df;
  /*background: linear-gradient(to bottom right, #4479df, #f15d6b);*/
}
.sk-folding-cube .sk-cube2:before  {
  background-color: #f15d6b;
  /*background: linear-gradient(to bottom right, #f15d6b, #f7cb34);*/
}
.sk-folding-cube .sk-cube3:before  {
  background-color: #f7cb34;
  /*background: linear-gradient(to bottom right, #f7cb34, #6fd45a);*/
}
.sk-folding-cube .sk-cube4:before  {
  background-color: #6fd45a;
  /*background: linear-gradient(to bottom right, #6fd45a, #4479df);*/
}
.sk-folding-cube .sk-cube1 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
      transform: perspective(140px) rotateX(0deg);
      opacity: 1;
    } 90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
      }
}

.footer-copyright {
  color: #929292;
  font-size: 0.7em;
  margin-top: 10px;
}

