<div id="project-container" [ngClass]="{ printMode: printMode }">
  <div id="app-top-bar">
    <router-outlet name="top-bar"></router-outlet>

    <app-top-bar>
      <ng-content select="[banner]" banner></ng-content>
      <div class="d-inline-block mr-5" pre-user-info>
        <ng-content select="[pre-user-info]"></ng-content>
      </div>
    </app-top-bar>
  </div>

  <div id="app-container">
    <app-notifications></app-notifications>

    <router-outlet name="project-bar" ></router-outlet>

    <!-- <div class="loading-wrapper" *ngIf="loading; else content">
      <div class="loading">
        <div class="sk-folding-cube">
          <div class="sk-cube1 sk-cube"></div>
          <div class="sk-cube2 sk-cube"></div>
          <div class="sk-cube4 sk-cube"></div>
          <div class="sk-cube3 sk-cube"></div>
        </div>
      </div>
    </div> -->

    <ng-content *ngIf="loading; else content" select="[skeleton]"></ng-content>


    <ng-template #content>
      <router-outlet name="before-primary" ></router-outlet>
      <ng-content></ng-content>
      <router-outlet name="after-primary" ></router-outlet>
    </ng-template>
  </div>

  <router-outlet name="footer" id="app-footer"></router-outlet>
  <div class="footer-copyright text-center" [innerHTML]="footerText"></div>

</div>
