@import '../../../../styles/variables';

$color-white-natural: #ededed;
$color-white-warm: #fff7b2;
$color-rgb: linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);

.tab-content-wrapper {
  img.pergola-display-large {
    width: 100%;
    display: block;
    margin: auto;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .input-middle {
    position: relative;
    top: -.5em;
  }

  .custom-select {
    width: 100%;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .has-warning {
    color: $orange !important;
  }

  .row-color-selection {
    .btn-color-group {
      width: 100%;

      .btn {
        width: calc(100% / 3);
        padding: .3rem;
      }
    }
  }

  .unit-input {
    background: none;
  }

  .blade-selector {
    display: table;
    table-layout: fixed;
    margin-top: 2rem;

    &.disabled > * {
      cursor: not-allowed !important;
      background-color: $gray-lightest;

      &.selected {
        opacity: .65;
      }
    }

    &:not(.disabled) > .blade-handle:hover{
      background-color: lighten($primary-color, 40%);
    }

    .blade-handle.selected {
      background-color: darken($active-color, 5%) !important;

      .blade-indicator {
        top: -2.1rem;
      }

      &:after {
        width: 50%;
        height: 90%;
      }
      &.clr-whiten:after  { background: $color-white-natural; }
      &.clr-whitew:after  { background: $color-white-warm; }
      &.clr-rgb:after     { background: $color-rgb; }
    }

    .blade-handle {
      display: table-cell;
      height: 8rem;
      border: 1px solid $gray-lighter;
      border-right: none;
      text-align: center;
      position: relative;

      transition: all .2s;

      cursor: pointer;

      &.disabled {
        cursor: not-allowed !important;
        background-color: lighten($primary-color, 65%) !important;
        pointer-events: none;
      }

      &:last-child {
        border-right: 1px solid $gray-lighter;
      }

      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s ease-in-out;
        background: transparent;
        pointer-events: none;
      }

      .blade-tooltip {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    .blade-content, .blade-indicator {
      font-size: .7rem;
    }

    .blade-indicator {
      position: absolute;
      pointer-events: none;
      top: -1.6rem;
      left: 0;
      right: 0;
      margin: auto;

      & > span {
        display: inline-block;
        position: relative;
      }

      &:after {
        position: absolute;
        content: '';
        height: .6rem;
        border-right: 1px solid $gray-lighter;
        top: .85rem;
        left: 50%;
      }

      &:hover {
        color: $black;
      }
    }
  }

  .btn-image-group {
    width: 100%;

    .btn {
      width: calc(100% / 6);
      height: 6rem;

      img {
        width: 100%;
        display: block;
        margin: auto;
      }

    }
  }

  .btn-svg-group {
    .btn {
      height: initial;
      padding: .5rem 0;
    }
  }

  .pole-number {
    font-size: 3.8rem;
    color: $gray-lighter;
    text-align: center;

    p {
      color: $gray-dark;
      font-size: 1rem;
    }
  }

  .pole-positions :not(.primary-pole-position) {
    align-self: center;
  }

  .pole-x-input, .pole-height-input {
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .primary-pole-position {
    .custom-checkbox {
      margin-top: .5em;
    }
  }

  .has-danger {
    p, span, label {
      color: $red !important;
    }
  }

  .pole-heights {
    .input-group {
      margin: 2px 0;

      .input-group-addon {
        width: 3rem;
      }
    }
  }

  img.fill {
    margin: auto;
    max-height: 10rem;
    display: block;
  }

  img.svg-fullwidth {
    width: 100%;
    margin: auto;
    max-height: 10rem;
    display: block;
  }

  img.svg-halfwidth {
    width: 50%;
    margin: auto;
    max-height: 5rem;
    display: block;
    height: 100%; // IE11
  }
}

.led-force-min-width {
  min-width: 10rem;
}

.water-exit-checkbox-force-min-width {
  min-width: 8rem;
}

hr {
  margin-top: 0;
  margin-bottom: .5rem;
}

