<div class="tab-content-wrapper">
  <div class="inner-panel inner-panel-left">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Drawing</h5>
      
      <div [formGroup]="projectF" (change)="mwpRefresh()">
        <div class="form-group">
          <h4 i18n>Poles</h4>
          <div ngbRadioGroup formControlName="customPoleHeight">
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="false">
              <ng-container i18n>All poles are the same height</ng-container>
            </label>
            <label ngbButtonLabel class="btn btn-outline-primary">
              <input ngbButton type="radio" [value]="true">
              <ng-container i18n>Custom pole height</ng-container>
            </label>
          </div>
          <div class="row justify-content-start inline-wrapper" formGroupName="poleData"
               [ngClass]="{'has-danger': (projectF.errors && projectF.errors['polesRemaining'])}"
               (change)="poleDataChanged($event)">
            <div class="col-3 col-md-2 pole-number">
              <p i18n>Total poles</p>
              <span class="pole-number">{{ totalPoles }}</span>
            </div>
            
            <div class="col-9 col-md-10 pole-positions">
              <div class="row">
                <div class="primary-pole-position" [ngClass]="{'col-5': !isType6Pergola, 'col-4': isType6Pergola}">
                  <p i18n>Positions</p>
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input " type="checkbox" formControlName="p1"
                           [formControl]="projectF.get('poleData').get('p1')"
                           [disableCond]="!remainingFreePoles && !projectF.get('poleData').get('p1').value"
                           (change)="autoselectPoles(1)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Pole P1</span>
                  </label>
                </div>
                <div class="col-4 primary-pole-position" *ngIf="isType6Pergola"
                     [ngClass]="{'has-danger': projectF.get('poleData').get('p1y').errors}">
                  <p i18n>Y (mm)</p>
                  <div class="input-group">
                    <input class="form-control" type="number" step="1" min="0" formControlName="p1y"
                           [formControl]="projectF.get('poleData').get('p1y')"
                           [disableCond]="!projectF.get('poleData').get('p1').value">
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="projectF.get('poleData').get('p1y').hasError('valueNotInRange')" i18n>Y value must be 0 or between 330mm and {{ maxYLength }}mm
                  </div>
                </div>
                <div class="pole-heights" [ngClass]="{'col-7': !isType6Pergola, 'col-4': isType6Pergola}">
                  <p i18n>Height (mm)</p>
                  <div class="input-group" [ngClass]="{'has-danger': projectF.get('poleData').get('p1height').errors}">
                    <span class="input-group-addon" i18n>P1</span>
                    <input class="form-control" type="number" step="1" min="0" formControlName="p1height"
                           [formControl]="projectF.get('poleData').get('p1height')"
                           [disableCond]="!projectF.get('poleData').get('p1').value || !projectF.get('customPoleHeight').value">
                  </div>
                  <app-control-messages class="has-danger"
                                        [control]="projectF.get('poleData').get('p1height')"></app-control-messages>
                </div>
              </div>
              
              <div class="row">
                <div class="primary-pole-position" [ngClass]="{'col-5': !isType6Pergola, 'col-4': isType6Pergola}">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" formControlName="p2"
                           [formControl]="projectF.get('poleData').get('p2')"
                           [disableCond]="!remainingFreePoles && !projectF.get('poleData').get('p2').value"
                           (change)="autoselectPoles(2)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Pole P2</span>
                  </label>
                </div>
                <div class="col-4 primary-pole-position" *ngIf="isType6Pergola"
                     [ngClass]="{'has-danger': projectF.get('poleData').get('p2y').errors}">
                  <div class="input-group">
                    <input class="form-control" type="number" step="1" min="0" formControlName="p2y"
                           [formControl]="projectF.get('poleData').get('p2y')"
                           [disableCond]="!projectF.get('poleData').get('p2').value">
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="projectF.get('poleData').get('p2y').hasError('valueNotInRange')" i18n>Y value must be 0 or between 330mm and {{ maxYLength }}mm
                  </div>
                </div>
                <div class="pole-heights" [ngClass]="{'col-7': !isType6Pergola, 'col-4': isType6Pergola}">
                  <div class="input-group" [ngClass]="{'has-danger': projectF.get('poleData').get('p2height').errors}">
                    <span class="input-group-addon" i18n>P2</span>
                    <input class="form-control" type="number" step="1" min="0" formControlName="p2height"
                           [formControl]="projectF.get('poleData').get('p2height')"
                           [disableCond]="!projectF.get('poleData').get('p2').value || !projectF.get('customPoleHeight').value">
                  </div>
                  <app-control-messages class="has-danger"
                                        [control]="projectF.get('poleData').get('p2height')"></app-control-messages>
                </div>
              </div>
              
              <div class="row">
                <div class="primary-pole-position" [ngClass]="{'col-5': !isType6Pergola, 'col-4': isType6Pergola}">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" formControlName="p3"
                           [formControl]="projectF.get('poleData').get('p3')"
                           [disableCond]="!remainingFreePoles && !projectF.get('poleData').get('p3').value"
                           (change)="autoselectPoles(3)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Pole P3</span>
                  </label>
                </div>
                <div class="col-4 primary-pole-position" *ngIf="isType6Pergola"
                     [ngClass]="{'has-danger': projectF.get('poleData').get('p3y').errors}">
                  <div class="input-group">
                    <input class="form-control" type="number" step="1" min="0" formControlName="p3y"
                           [formControl]="projectF.get('poleData').get('p3y')"
                           [disableCond]="!projectF.get('poleData').get('p3').value">
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="projectF.get('poleData').get('p3y').hasError('valueNotInRange')" i18n>Y value must be 0 or between 330mm and {{ maxYLength }}mm
                  </div>
                </div>
                <div class="pole-heights" [ngClass]="{'col-7': !isType6Pergola, 'col-4': isType6Pergola}">
                  <div class="input-group" [ngClass]="{'has-danger': projectF.get('poleData').get('p3height').errors}">
                    <span class="input-group-addon" i18n>P3</span>
                    <input class="form-control" type="number" step="1" min="0" formControlName="p3height"
                           [formControl]="projectF.get('poleData').get('p3height')"
                           [disableCond]="!projectF.get('poleData').get('p3').value || !projectF.get('customPoleHeight').value">
                  </div>
                  <app-control-messages class="has-danger"
                                        [control]="projectF.get('poleData').get('p3height')"></app-control-messages>
                </div>
              </div>
              
              <div class="row">
                <div class="primary-pole-position" [ngClass]="{'col-5': !isType6Pergola, 'col-4': isType6Pergola}">
                  <label class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" formControlName="p4"
                           [formControl]="projectF.get('poleData').get('p4')"
                           [disableCond]="!remainingFreePoles && !projectF.get('poleData').get('p4').value"
                           (change)="autoselectPoles(4)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Pole P4</span>
                  </label>
                </div>
                <div class="col-4 primary-pole-position" *ngIf="isType6Pergola"
                     [ngClass]="{'has-danger': projectF.get('poleData').get('p4y').errors}">
                  <div class="input-group">
                    <input class="form-control" type="number" step="1" min="0" formControlName="p4y"
                           [formControl]="projectF.get('poleData').get('p4y')"
                           [disableCond]="!projectF.get('poleData').get('p4').value">
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="projectF.get('poleData').get('p4y').hasError('valueNotInRange')" i18n>Y value must be 0 or between 330mm and {{ maxYLength }}mm
                  </div>
                </div>
                <div class="pole-heights" [ngClass]="{'col-7': !isType6Pergola, 'col-4': isType6Pergola}">
                  <div class="input-group" [ngClass]="{'has-danger': projectF.get('poleData').get('p4height').errors}">
                    <span class="input-group-addon" i18n>P4</span>
                    <input class="form-control" type="number" step="1" min="0" formControlName="p4height"
                           [formControl]="projectF.get('poleData').get('p4height')"
                           [disableCond]="!projectF.get('poleData').get('p4').value || !projectF.get('customPoleHeight').value">
                  </div>
                  <app-control-messages class="has-danger"
                                        [control]="projectF.get('poleData').get('p4height')"></app-control-messages>
                </div>
              </div>
            </div>
            
            <div class="form-control-feedback has-warning col-12" *ngIf="nonStandardPolePlacement && !(projectF.errors && projectF.errors['polesRemaining'])">
              <i class="fa fa-fw fa-exclamation-triangle"></i>
              <ng-container i18n>Non-standard combination of poles selected for this pergola type!</ng-container>
            </div>
            
            <div class="form-control-feedback col-12" *ngIf="projectF.errors && projectF.errors['polesRemaining']" i18n>
              You must select a position for all poles ({{ remainingFreePoles }} remaining)
            </div>
          </div>
        </div>
        
        <div class="form-group" *ngIf="projectF.get('additionalPoleData').value.length"
             (change)="additionalPoleDataChanged($event)">
          <h4 i18n>Additional poles</h4>
          <div formArrayName="additionalPoleData">
            <div *ngFor="let poleData of projectF.get('additionalPoleData').controls; let i = index;">
              <div [formGroupName]="i">
                <div class="row justify-content-start inline-wrapper" [ngClass]="{'has-danger': !poleData.valid}">
                  <div class="col-3 col-md-2 pole-number">
                    <span class="pole-number">#{{ i + 1 }}</span>
                  </div>
                  <div class="col-9 col-md-4 pole-positions">
                    <p i18n>Position</p>
                    <label class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" formControlName="position" [value]="'p1p2'">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description" i18n>P1 - P2</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" formControlName="position" [value]="'p3p4'">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description" i18n>P3 - P4</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" formControlName="position" [value]="'p1p3'">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description" i18n>P1 - P3</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" formControlName="position" [value]="'p2p4'">
                      <span class="custom-control-indicator"></span>
                      <span class="custom-control-description" i18n>P2 - P4</span>
                    </label>
                  </div>
                  
                  <div class="col-6 col-md-3 form-group pole-x-input">
                    <p i18n>X</p>
                    <div class="input-group">
                      <input class="form-control force-rounded-corners-right" type="number" step="1" min="0"
                             formControlName="x">
                      <span class="input-group-addon unit-input" i18n>mm</span>
                    </div>
                    <app-control-messages
                      [control]="projectF.get('additionalPoleData').controls[i].get('x')"></app-control-messages>
                  </div>
                  
                  <div class="col-6 col-md-3 form-group pole-height-input">
                    <p i18n>Height</p>
                    <div class="input-group">
                      <input class="form-control force-rounded-corners-right" type="number" step="1" min="0"
                             formControlName="height"
                             [formControl]="poleData.get('height')"
                             [disableCond]="!projectF.get('customPoleHeight').value">
                      <span class="input-group-addon unit-input" i18n>mm</span>
                    </div>
                    <app-control-messages
                      [control]="projectF.get('additionalPoleData').controls[i].get('height')"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        
        <div class="form-group" formGroupName="specifications">
          <h4 i18n>Mark motor position, water exit and power supply on top view</h4>
          
          <div class="row justify-content-start form-group"
               [ngClass]="{'has-danger': projectSpecF.errors && projectSpecF.errors['motorPositionInvalid']}">
            <div class="col-2 pr-0">
              <label class="form-control-label" i18n>Motor position</label>
            </div>
            <div class="col-10">
              <div class="row justify-content-start">
                <div class="col-3 water-exit-checkbox-force-min-width">
                  <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" value="a" formControlName="motorPos">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(M) A</span>
                  </label>
                </div>
                <div class="form-check col-3 water-exit-checkbox-force-min-width">
                  <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" value="b" formControlName="motorPos">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>M (B)</span>
                  </label>
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['motorPositionMissing']" i18n>You must select a motor position
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['motorPositionInvalid']" i18n>Motor not possible on the same side as water exit
                </div>
              </div>
            </div>
          </div>
          
          <div formGroupName="waterExit" class="row justify-content-start mt-1 form-group"
               [ngClass]="{'has-danger': projectSpecF.errors && (projectSpecF.errors['waterExitInvalid'] || projectSpecF.errors['waterExitPositionUnavailable'] || projectSpecF.errors['waterExitMissingPole'])}">
            <div class="col-2 pr-0">
              <label class="form-control-label" i18n>Water exit</label>
            </div>
            <div class="col-10">
              <div class="row justify-content-start">
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="a1"
                           [formControl]="projectSpecF.get('waterExit').get('a1')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) A1</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="b1"
                           [formControl]="projectSpecF.get('waterExit').get('b1')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) B1</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="a2"
                           [formControl]="projectSpecF.get('waterExit').get('a2')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) A2</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="b2"
                           [formControl]="projectSpecF.get('waterExit').get('b2')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) B2</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-2 pr-0"></div>
            <div class="col-10">
              <div class="row justify-content-start">
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="a3"
                           [formControl]="projectSpecF.get('waterExit').get('a3')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) A3</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="b3"
                           [formControl]="projectSpecF.get('waterExit').get('b3')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) B3</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="a4"
                           [formControl]="projectSpecF.get('waterExit').get('a4')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) A4</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="b4"
                           [formControl]="projectSpecF.get('waterExit').get('b4')"
                           [disableCond]="projectSpecF.get('waterExit').get('custom').value">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>(W) B4</span>
                  </label>
                </div>
                <div class="col-12">
                  <hr>
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="custom"
                           [formControl]="projectSpecF.get('waterExit').get('custom')"
                           [disableCond]="totalPoles">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Custom water exit</span>
                  </label>
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['waterExitInvalid']" i18n>You must select at least one water exit
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['waterExitPositionUnavailable']" i18n>Water exit not possible on the same pole as electricity
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['waterExitMissingPole']" i18n>Water exit only possible on corners with a pole
                </div>
              </div>
            </div>
          </div>
          
          <div formGroupName="powerSupply" class="row justify-content-start mt-2 form-group"
               [ngClass]="{'has-danger': projectSpecF.errors && projectSpecF.errors['powerSupplyInvalid']}">
            <div class="col-2 pr-0">
              <label class="form-control-label" i18n>Power supply</label>
            </div>
            <div class="col-10">
              <div class="row justify-content-start">
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="p1" name="powerSupplyP1">
                    <span class="custom-control-indicator"></span>
                    <span *ngIf="!powerSupply1IsPoleText" class="custom-control-description" i18n>(P) 1</span>
                    <span *ngIf="powerSupply1IsPoleText" class="custom-control-description" i18n>(Corner) 1</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="p2" name="powerSupplyP2">
                    <span class="custom-control-indicator"></span>
                    <span *ngIf="!powerSupply2IsPoleText" class="custom-control-description" i18n>(P) 2</span>
                    <span *ngIf="powerSupply2IsPoleText" class="custom-control-description" i18n>(Corner) 2</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="p3" name="powerSupplyP3">
                    <span class="custom-control-indicator"></span>
                    <span *ngIf="!powerSupply3IsPoleText" class="custom-control-description" i18n>(P) 3</span>
                    <span *ngIf="powerSupply3IsPoleText" class="custom-control-description" i18n>(Corner) 3</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                    <input class="custom-control-input" type="checkbox" formControlName="p4" name="powerSupplyP4">
                    <span class="custom-control-indicator"></span>
                    <span *ngIf="!powerSupply4IsPoleText" class="custom-control-description" i18n>(P) 4</span>
                    <span *ngIf="powerSupply4IsPoleText" class="custom-control-description" i18n>(Corner) 4</span>
                  </label>
                </div>
                <div class="form-control-feedback col-12"
                     *ngIf="projectSpecF.errors && projectSpecF.errors['powerSupplyInvalid']" i18n>You must select a power supply position
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="form-group" formGroupName="specifications">
          <h4 i18n>Mounting type - brackets</h4>
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12">
              <span class="inline-wrapper-header" i18n>Wall Fixation</span>
            </div>
            <div class="col-12 col-sm-6 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingWallType').value === 'Standard'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingWallType"
                       [value]="'Standard'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="fill" src="/assets/img/wall-mounting-standard.png">
                </span>
              </label>
            </div>
            <div class="col-12 col-sm-6 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingWallType').value === 'Optional'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingWallType"
                       [value]="'Optional'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="fill" src="/assets/img/wall-mounting-optional.png">
                </span>
              </label>
            </div>
            <div class="form-control-feedback col-12" *ngIf="projectSpecF.get('mountingWallType').value != 'Standard'"
                 i18n>* Subject to additional payment
            </div>
            <div class="col-12 mt-4">
              <div formGroupName="wallFixations" class="row justify-content-start mt-2 form-group">
                <div class="col-2 pr-0">
                  <label class="form-control-label" i18n>Fixation position</label>
                </div>
                <div class="col-10">
                  <div class="row justify-content-start">
                    <div class="col-3">
                      <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                        <input class="custom-control-input" type="checkbox" formControlName="p1p2">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" i18n>P1 - P2</span>
                      </label>
                    </div>
                    <div class="col-3">
                      <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                        <input class="custom-control-input" type="checkbox" formControlName="p3p4">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" i18n>P3 - P4</span>
                      </label>
                    </div>
                    <div class="col-3">
                      <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                        <input class="custom-control-input" type="checkbox" formControlName="p1p3">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" i18n>P1 - P3</span>
                      </label>
                    </div>
                    <div class="col-3">
                      <label class="custom-control custom-checkbox water-exit-checkbox-force-min-width">
                        <input class="custom-control-input" type="checkbox" formControlName="p2p4">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description" i18n>P2 - P4</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12">
              <span class="inline-wrapper-header" i18n>Ground Fixation</span>
            </div>
            <div class="col-12 col-sm-6 col-md-3 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingGroundType').value === 'Standard'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingGroundType"
                       [value]="'Standard'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <span class="text-float" i18n>Standard</span>
                  <img class="fill" src="/assets/img/ground-mounting-standard.png">
                </span>
              </label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingGroundType').value === 'OptionalA'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingGroundType"
                       [value]="'OptionalA'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="fill" src="/assets/img/ground-mounting-optional-a.png">
                </span>
              </label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingGroundType').value === 'OptionalB'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingGroundType"
                       [value]="'OptionalB'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="fill" src="/assets/img/ground-mounting-optional-b.png">
                </span>
              </label>
            </div>
            <div class="col-12 col-sm-6 col-md-3 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('mountingGroundType').value === 'OptionalC'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="mountingGroundType"
                       [value]="'OptionalC'">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="fill" src="/assets/img/ground-mounting-optional-c.png">
                </span>
              </label>
            </div>
            <div class="col-12 mt-5" *ngIf="projectSpecF.get('mountingGroundType').value !== 'Standard'">
              <div class="row">
                <div class="col-2">
                  <h4 i18n>Mount color</h4>
                </div>
                <div class="col-2">
                  <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" formControlName="mountingGroundColorStandard" [value]="true">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Standard</span>
                  </label>
                </div>
                <div class="col-3">
                  <label class="custom-control custom-radio">
                    <input class="custom-control-input" type="radio" formControlName="mountingGroundColorStandard" [value]="false">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description" i18n>Same as pergola frame</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-control-feedback col-12" *ngIf="projectSpecF.get('mountingGroundType').value != 'Standard'"
                 i18n>* Subject to additional payment
            </div>
          </div>
        </div>
        
        
        <div class="form-group" formGroupName="specifications">
          <h4 i18n>Blades opening direction</h4>
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12 col-sm-6 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('bladesOpeningDirection').value === 'CW'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="bladesOpeningDirection" [value]="'CW'"
                       (change)="bladesDirectionChanged($event)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="svg-halfwidth" src="/assets/img/blades-cw.svg">
                </span>
              </label>
            </div>
            <div class="col-12 col-sm-6 image-selector"
                 [ngClass]="{'selected': projectSpecF.get('bladesOpeningDirection').value === 'CCW'}">
              <label class="custom-control custom-radio">
                <input class="custom-control-input" type="radio" formControlName="bladesOpeningDirection"
                       [value]="'CCW'" (change)="bladesDirectionChanged($event)">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                  <img class="svg-halfwidth" src="/assets/img/blades-ccw.svg">
                </span>
              </label>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <div class="row justify-content-start">
            <div class="col-12">
              <h4 i18n>LED lights</h4>
            </div>
            <!--<div class="col-1">
              <div class="form-check">
                <label class="custom-control custom-checkbox">
                  <input class="custom-control-input" type="checkbox" formControlName="ledLights" name="ledLightsEnabled">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description">Yes</span>
                </label>
              </div>
            </div>-->
          </div>
          
          <div class="row form-group justify-content-start" formGroupName="specifications">
            <!--<div class="col-2 form-group mb-0" [ngClass]="{'has-danger': !controlValid('ledQuantity')}">
              <label class="col-form-label form-control-label">LED quantity</label>
            </div>
            <div class="col-2 form-group mb-0" [ngClass]="{'has-danger': !controlValid('ledQuantity')}">
              <input class="form-control" type="number" step="1" formControlName="ledQuantity" [disableCond]="!ledLights" name="ledQuantity" required min="0">
            </div>-->
            <div ngbRadioGroup class="col-12" formControlName="ledType">
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="'white-natural'">
                <ng-container i18n>White - Natural (4000K)</ng-container>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="'white-warm'">
                <ng-container i18n>White - Warm (3000K)</ng-container>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="'rgb'">
                <ng-container i18n>RGB</ng-container>
              </label>
            </div>
            
            <div class="col-12">
              <div class="row form-group" [ngClass]="{'has-danger': !controlValidReactiveF('ledLength')}">
                <div class="col-3 led-force-min-width">
                  <h4 class="col-form-label form-control-label d-inline" i18n>LED length</h4>
                  <div class="input-group">
                    <select class="custom-select mt-1" formControlName="ledLength">
                      <option *ngFor="let x of ledLengths" [ngValue]="x">{{x}}</option>
                    </select>
                    <span class="input-group-addon unit-input" i18n>mm</span>
                  </div>
                </div>
                <div class="form-control-feedback col-12" *ngIf="!controlValidReactiveF('ledLength')" i18n>LED length cannot be higher than pergola length
                </div>
              </div>
            </div>
          </div>
          
          <p i18n>Mark positions of LED lights on blades</p>
          <div class="row form-group" formGroupName="specifications" [ngClass]="{'has-danger': !controlValidReactiveF('customLedPosition')}">
            <div class="col-12 blade-selector">
              <div *ngFor="let blade of blades; let i = index; let isFirst = first; let isLast = last;"
                   class="blade-handle"
                   [ngClass]="{ 'selected': isBladeLEDEnabled(i),
                                'clr-whiten': projectSpecF.get('ledType').value == 'white-natural',
                                'clr-whitew': projectSpecF.get('ledType').value == 'white-warm',
                                'clr-rgb': projectSpecF.get('ledType').value    == 'rgb',
                                'disabled': isBladeDisabled(i)}"
                   (click)="toggleBladeLED(i);">
                <!--<span class="blade-content">{{i}}</span>-->
                <div class="blade-tooltip" [ngbTooltip]="blade"></div>
                <div *ngIf="blade % bladeIndicatorSpacing === 0 || isFirst || isLast" class="blade-indicator">
                  <span>{{blade}}</span>
                </div>
              </div>
            </div>
            <div class="form-control-feedback col-12" i18n>* LED lights are centrally positioned on blades.</div>
            <div class="col-12">
              <label class="custom-control custom-checkbox mt-3">
                <input class="custom-control-input" type="checkbox" formControlName="customLedPositionEnabled">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Non-Standard LED Position</span>
                <div class="input-group">
                  <input class="form-control fabric-soltis-code"
                         [formControl]="projectSpecF.get('customLedPosition')"
                         [disableCond]="!projectSpecF.get('customLedPositionEnabled').value"
                         formControlName="customLedPosition">
                  <span class="input-group-addon unit-input" i18n>mm</span>
                </div>
              </label>
            </div>
            <div class="col-12">
              <app-control-messages [control]="projectSpecF.get('customLedPosition')"></app-control-messages>
            </div>
            <div class="col-12 mt-3">
              <h4 class="d-inline">
                <ng-container i18n>LED quantity:</ng-container>
              </h4>
              {{ leds.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="inner-panel inner-panel-right">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Pergola Display</h5>
      <div [fallbackImgUrl]="'/assets/img/pergola-specifications.png'" class="svg-container"
           (onSVGInserted)="onPergolaSvgLoad($event)" [inlineSVG]="'/assets/img/pergola.svg'"></div>
      <div [fallbackImgUrl]="'/assets/img/pergola-specifications.png'" class="svg-container"
           (onSVGInserted)="onLegendSvgLoad($event)" [inlineSVG]="'/assets/img/pergolaLegend.svg'"></div>
    </div>
  </div>

</div>
