@import '../styles/_variables';

.loader {
  z-index  : 999;
  height   : 5px;
  width    : 100%;
  position : fixed;
  overflow : hidden;
  top      : 0;
}

.loader:before {
  display          : block;
  position         : absolute;
  content          : "";
  left             : -200px;
  width            : 200px;
  height           : 5px;
  background-color : $primary-color;
  animation        : loading 5s linear infinite;
}

@keyframes loading {
  from {
    left  : -200px;
    width : 30%;
  }
  50% {
    width : 30%;
  }
  70% {
    width : 70%;
  }
  80% {
    left : 50%;
  }
  95% {
    left : 120%;
  }
  to {
    left : 100%;
  }
}

.soltec-logo-banner {
  width: 200px;
  margin-left: 2.5rem;
}
