<app-container [sys]="sys">
  <div class="alert alert-danger mt-5" *ngIf="showDevWarning" id="devWarningNotice">
      Warning! You are on wrong website. Please go to <a href="https://portal.soltec.si">https://portal.soltec.si</a>.
  </div>

  <div pre-user-info>
    <app-news-dropdown></app-news-dropdown>
  </div>
  <div banner>
    <img class="soltec-logo-banner" src="/assets/img/soltec-logo.png">
  </div>

  <router-outlet
    name="sidebar"
    (activate)='onSidebarActivate($event)'
    (deactivate)='onSidebarDeactivate($event)'>
  </router-outlet>

  <main [ngClass]="{'sidebar': isSidebarUsed}">
    <router-outlet></router-outlet>
  </main>

  <div skeleton class="skeleton">
    <div class="box c w100 mb-5"></div>

    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>
    <div class="box c w100 mt-3 p-4"></div>

    <div class="box c w50 mt-3 p-4"></div>
  </div>
</app-container>


<!-- <app-black-box [visible]="false" [autoHide]="false">
  <app-black-box-monitor [title]="'Logs'">
    <app-black-box-logs></app-black-box-logs>
  </app-black-box-monitor>

  <app-black-box-monitor [title]="'Observables'">
    <app-black-box-observables></app-black-box-observables>
  </app-black-box-monitor>
</app-black-box> -->
