<div [formGroup]="form">
  <hr>
  <div class="order-footer text-right">
    <span class="author"><strong>{{ author }}</strong></span>
    <br>
    <span class="date">{{ currentDate }}</span>
  </div>
