@import '../../../../styles/variables';

.tags-wrapper {

  &.readonly {

  }

  &.editable {

  }

  form {
    display: inline-block;
    width: 100%;

    input {
      border: none;
      border-bottom: 1px solid $gray-lighter;
      border-radius: 0;
      font-size: .8rem;
      outline: none;
      background: none;
      height: 1.55rem;

      &:focus {
        border-bottom: 1px solid $primary-color;
      }
    }
  }
}


.suggested-tags-wrapper {
  p {
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  app-tag {
    cursor: pointer;
  }
}


.dropdown-wrapper {
  position: absolute;
  background-color: white;
  z-index: 100;
  list-style: none;
  /* margin: 0; */
  padding: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.27);
  margin-top: 26px;

  li {
    margin: 0;
    padding: 0;
    background-color: $neutral-light;
  }
}

