<div class="tags-wrapper" [ngClass]="{readonly: readonly, editable: !readonly}">
  <app-tag
    *ngFor="let tag of tags; let i = index; let last = last"
    [highlight]="highlightLastTag && last"
    [label]="tagToString(tag)"
    [tag]="tag"
    [readonly]="readonly"
    [template]="!!template ? template : undefined"
    (remove)="removeTag(i)"></app-tag>

  <form
    *ngIf="!readonly"
    #tagForm="ngForm"
    (ngSubmit)="onTagSubmit(tagForm)" >
    <ng-container *ngIf="dropdownVisible && !readonly && suggestedTags && suggestedTags.length">
      <ul *ngIf="suggestedAsDropdown" class="dropdown-wrapper">
        <ng-container *ngFor="let tag of suggestedTags;">
          <li (mousedown)="addTag(tag, $event)">
            <app-tag
              [label]="tagToString(tag)"
              [tag]="tag"
              [readonly]="true"
              [dropdown]="true"
              [suggested]="true"
              [template]="!!template ? template : undefined"></app-tag>
          </li>
        </ng-container>
      </ul>
    </ng-container>

    <input
      [placeholder]="tags.length ? placeholderIfTags : placeholderIfNoTags"
      name="tag"
      [(ngModel)]="tagInput"
      required
      (focus)="showDropdown($event)"
      (blur)="blurTagInput($event, tagForm)"
      type="text"
      autocomplete="off"
      (keydown)="tagKeyDown($event, tagForm)"
      (keyup)="tagKeyUp($event, tagForm)"
      class="form-control">
  </form>
</div>




<div *ngIf="dropdownVisible && !suggestedAsDropdown && !readonly && suggestedTags && suggestedTags.length" class="suggested-tags-wrapper">
  <p>{{suggestedTagsLabel}}</p>
  <ng-container *ngFor="let tag of suggestedTags;">
    <app-tag
      (click)="addTag(tag)"
      [label]="tagToString(tag)"
      [tag]="tag"
      [readonly]="true"
      [suggested]="true"
      [template]="!!template ? template : undefined"></app-tag>
  </ng-container>
</div>
