<div [formGroup]="form">
  <div class="row">
    <div class="col">
      <div class="row-group">
        <div class="row border">
          <div class="col header">
            <span i18n>Client Information</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Name</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('client.name') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>VAT</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('client.vat') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Address</span>
          </div>
          <div class="col">
            <div class="preformatted">{{ getControlValue('client.address') }}</div>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Phone</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('client.phone') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Email</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('client.email') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col">
          <span class="checkbox"
                [class.checked]="order.deliverySameAsClient"
                i18n>
            Delivery address is the same
          </span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col">
      <div class="row-group">
        <div class="row border">
          <div class="col header">
            <span i18n>Delivery Information</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Name</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('delivery.name') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Address</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('delivery.address') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Phone</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('delivery.phone') }}</span>
          </div>
        </div>
  
        <div class="row border">
          <div class="col-3">
            <span i18n>Email</span>
          </div>
          <div class="col">
            <span>{{ getControlValue('delivery.email') }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row-group">
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Project Name</span>
      </div>
      <div class="col">
        <span>{{ getControlValue('project.name')}}</span>
      </div>
    </div>
  
    <div class="row border">
      <div class="col-3 header">
        <span i18n>Project description</span>
      </div>
      <div class="col">
        <div class="preformatted">{{ getControlValue('project.description')}}</div>
      </div>
    </div>
  </div>
</div>
