@import '../../../../../styles/variables';


.banner {
  text-decoration : none;

  .banner-default-wrapper {
    margin-left: 2.5em;

    .kalBlocks-text {
      color       : $top-bar-color;
      margin-left : 6px;
      font-family : $font-secondary-sans-serif;
      font-weight : bold;
      font-size   : $top-bar-font-size;
      // transition  : all .2s;
    }

    .kalBlocks-logo-wrapper {
      display       : inline-block;
      position      : relative;
      width         : $top-bar-default-logo-size;
      height        : $top-bar-default-logo-size;

      margin-bottom : -3px;

      .kalBlocks-logo {
        position  : absolute;
        transform : rotateZ(45deg);
        width     : $top-bar-default-logo-size;
        height    : $top-bar-default-logo-size;

        .kb-cube {
          float    : left;
          width    : 50%;
          height   : 50%;
          position : relative;

          &:before {
            content          : '';
            position         : absolute;
            width            : 93%;
            height           : 93%;
            background-color : $top-bar-color;
            border-radius    : 1px;
          }

          &.kb-cube-1:before {
            top  : 0;
            left : 0;
          }
          &.kb-cube-2:before {
            top   : 0;
            right : 0;
          }
          &.kb-cube-4:before {
            bottom : 0;
            left   : 0;
          }
          &.kb-cube-3:before {
            bottom : 0;
            right  : 0;
          }
        }
      }
    }

    &:hover {
      .kalBlocks-text {
        color : black;
      }

      .kalBlocks-logo-wrapper {
        .kalBlocks-logo {

          .kb-cube {
            $col-1 : #f15d6b;
            $col-2 : #a25c9a;
            $col-3 : #4479d9;

            &.kb-cube-1:before {
              background : linear-gradient(to bottom, $col-1, $col-2);
            }
            &.kb-cube-2:before {
              background : linear-gradient(to bottom, $col-1, $col-2);
            }
            &.kb-cube-4:before {
              background : linear-gradient(to bottom, $col-2, $col-3);
            }
            &.kb-cube-3:before {
              background : linear-gradient(to bottom, $col-2, $col-3);
            }
          }

        }
      }
    }
  }
}
