<a [routerLink]="link" class="banner">
  <div #customContent [hidden]="customContent.children.length == 0">
    <ng-content></ng-content>
  </div>

  <span *ngIf="customContent.children.length == 0">
    <div class="banner-default-wrapper">
      <div class="kalBlocks-logo-wrapper">
        <div class="kalBlocks-logo">
          <div class="kb-cube kb-cube-1"></div>
          <div class="kb-cube kb-cube-2"></div>
          <div class="kb-cube kb-cube-4"></div>
          <div class="kb-cube kb-cube-3"></div>
        </div>
      </div>
      <span class="kalBlocks-text">KalBlocks</span>
    </div>
  </span>
</a>
