@import '../../../../styles/variables';

.tab-content-wrapper {
  img.pergola-display-large {
    width: 90%;
    display: block;
    margin: auto;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .input-set-100p {
    label {
      width: 100%;
    }
  }

  .unit-input {
    background: none;

    &.unit-input-invisible {
      opacity: 0;
    }
  }

  .custom-select {
    width: 100%;
  }

  .has-warning {
    color: $orange !important;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .btn-color-group {
    width: 100%;

    .btn {
      width: calc(100% / 3 - 3px);
      padding: .3rem;
    }
  }

  .btn-image-group {
    width: 100%;

    .btn {
      width: calc(100% / 6  - 3px);
      height: 6rem;

      /*
      @media (max-width: 1400px){
        width: calc(100% / 3 - 3px);
      }

      @media (min-width: 1200px){
        height: 8rem;
      }
      */

      img {
        height: 80%;
        width: auto;
        display: block;
        margin: auto;
        filter: invert(0);
        transition: all .2s;
        pointer-events: none; // IE11
      }
    }

    .btn.active, .btn:hover {
      img {
        filter: invert(1);
      }
    }
  }
}

.custom-select {
  font-size: 1.2em;
}

.select-color-finish {
  height: inherit !important; // IE11
  height: initial !important;
  padding: 1rem !important;
}
