<div class="tab-content-wrapper">
  <div class="inner-panel inner-panel-left">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Product Options</h5>

      <div [formGroup]="fp">
        <div class="form-group">
          <h4 i18n>Pergola type</h4>
          <div class="row justify-content-start">
            <div class="col-12 col-lg-7">
              <div ngbRadioGroup class="btn-color-group" formControlName="pergolaType" (change)="pergolaTypeChange($event)">
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" name="pergolaTypeButton" [value]="'SL 160/28'"><ng-container i18n>SL 160/28</ng-container>
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" name="pergolaTypeButton" [value]="'SL 170/28'"><ng-container i18n>SL 170/28</ng-container>
                </label>
                <label ngbButtonLabel class="btn btn-outline-primary">
                  <input ngbButton type="radio" name="pergolaTypeButton" [value]="'SL 170/36'"><ng-container i18n>SL 170/36</ng-container>
                </label>
              </div>
            </div>
          </div>

          <div class="form-group">
            <h4 i18n>Installation type</h4>
            <ng-template #pergolaPreview1><img src="assets/img/sl-type1.png" [style.width]="'240px'"></ng-template>
            <ng-template #pergolaPreview2><img src="assets/img/sl-type2.png" [style.width]="'240px'"></ng-template>
            <ng-template #pergolaPreview3><img src="assets/img/sl-type3.png" [style.width]="'240px'"></ng-template>
            <ng-template #pergolaPreview4><img src="assets/img/sl-type4.png" [style.width]="'240px'"></ng-template>
            <ng-template #pergolaPreview5><img src="assets/img/sl-type5.png" [style.width]="'240px'"></ng-template>
            <ng-template #pergolaPreview6><img src="assets/img/sl-type6.png" [style.width]="'240px'"></ng-template>
            <div ngbRadioGroup class="btn-image-group" formControlName="installationType" (change)="pergolaInstallationChange($event)">
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview1" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="1"><ng-container i18n>Type 1</ng-container>
                <img [attr.src]="'assets/img/sl-type1-small.png'">
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview2" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="2"><ng-container i18n>Type 2</ng-container>
                <img [attr.src]="'assets/img/sl-type2-small.png'">
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview3" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="3"><ng-container i18n>Type 3</ng-container>
                <img [attr.src]="'assets/img/sl-type3-small.png'">
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview4" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="4"><ng-container i18n>Type 4</ng-container>
                <img [attr.src]="'assets/img/sl-type4-small.png'">
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview5" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="5"><ng-container i18n>Type 5</ng-container>
                <img [attr.src]="'assets/img/sl-type5-small.png'">
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary" [ngbPopover]="pergolaPreview6" triggers="mouseenter:mouseleave">
                <input ngbButton type="radio" [value]="6"><ng-container i18n>Type 6</ng-container>
                <img [attr.src]="'assets/img/sl-type6-small.png'">
              </label>
            </div>
          </div>
        </div>

        <h4 i18n>Dimensions</h4>
        <div class="row justify-content-start input-set-100p">
          <div class="form-group col-4" [ngClass]="{'has-danger': !controlValid('width')}">
            <label class="form-control-label"><ng-container i18n>Width</ng-container>
              <div class="input-group">
                <input class="form-control force-rounded-corners-right" type="number" step="50" formControlName="width" (change)="updateWidth()" [max]="pergolaProperties.maxWidth" min="1500"><span class="input-group-addon unit-input" i18n>mm</span>
              </div>
            </label>
            <app-control-messages [control]="fp.get('width')"></app-control-messages>
            <div class="form-control-feedback" *ngIf="fp.get('width').errors && fp.get('width').errors['widthInvalid']" i18n>Maximum width for this pergola type is {{ pergolaProperties.maxWidth }}mm</div>
          </div>

          <div class="form-group col-4" [ngClass]="{'has-danger': !controlValid('length')}">
            <label class="form-control-label"><ng-container i18n>Length</ng-container>
              <div class="input-group">
                <select class="custom-select" formControlName="length" (change)="updateLength()">
                  <option *ngFor="let x of pergolaLengths" [ngValue]="x">{{x}}</option>
                </select><span class="input-group-addon unit-input" i18n>mm</span>
              </div>
            </label>
            <app-control-messages [control]="fp.get('length')"></app-control-messages>
          </div>

          <div class="form-group col-4" [ngClass]="{'has-danger': !controlValid('height'), 'has-warning': height === 0 }">
            <label class="form-control-label"><ng-container i18n>Height</ng-container>
              <div class="input-group">
                <input class="form-control force-rounded-corners-right" type="number" step="50" formControlName="height" [max]="pergolaProperties.maxHeight" min="0"><span class="input-group-addon unit-input" i18n>mm</span>
              </div>
            </label>
            <app-control-messages [control]="fp.get('height')"></app-control-messages>
            <div class="form-control-feedback" *ngIf="fp.get('height').errors && fp.get('height').errors['heightInvalid']" i18n>Maximum height for this pergola type is {{ pergolaProperties.maxHeight }}mm</div>
            <div class="form-control-feedback" *ngIf="height === 0" i18n>Pergola height is 0 mm!</div>
          </div>
  
          <div class="form-group col-4" [ngClass]="{'has-danger': !controlValid('pergolaQuantity')}">
            <h4 i18n>Quantity</h4>
            <label class="form-control-label"><ng-container i18n>Amount of pergolas with this configuration</ng-container>
              <div class="input-group">
                <input class="form-control force-rounded-corners-right" type="number" step="1" formControlName="pergolaQuantity" min="1"><span class="input-group-addon unit-input unit-input-invisible">mm</span>
              </div>
            </label>
            <app-control-messages [control]="fp.get('pergolaQuantity')"></app-control-messages>
          </div>
          <hr>
        </div>
        
        <div class="row">
          <div class="col-sm-6">
            <h4 i18n>Number of Poles</h4>
            <div class="form-group">
              <select class="custom-select" formControlName="numberOfPoles" (change)="updatePoleCount()">
                <option [value]="0" i18n>0 poles</option>
                <option [value]="1" i18n>1 pole</option>
                <option [value]="2" i18n>2 poles</option>
                <option [value]="3" i18n>3 poles</option>
                <option [value]="4" i18n>4 poles</option>
              </select>
              <div class="form-control-feedback has-warning mt-1" *ngIf="nonStandardPoleQuantity">
                <i class="fa fa-fw fa-exclamation-triangle"></i>
                <ng-container i18n>Non-standard amount of poles selected for this pergola type!</ng-container>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h4 i18n>Number of Additional Poles</h4>
            <div class="form-group" [ngClass]="{'has-danger': !controlValid('numberOfAdditionalPoles')}">
              <div>
                <input class="form-control" type="number" step="1" formControlName="numberOfAdditionalPoles" min="0" (change)="updateAdditionalPoleCount();">
                <app-control-messages [control]="fp.controls['numberOfAdditionalPoles']"></app-control-messages>
              </div>
            </div>
          </div>
        </div>

        <!--
       <div class="form-group">
         <div class="row justify-content-start">

           <!- class="form-check form-check-middle col-4">
             <label class="custom-control custom-checkbox">
               <input class="custom-control-input " type="checkbox"  formControlName="additionalPoleEnabled">
               <span class="custom-control-indicator"></span>
               <span class="custom-control-description">Additional pole</span>
             </label>
           </div>
          </div>

          <div class="row justify-content-end">
            <div class="form-check form-check-middle col-4">
              <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" formControlName="customPoleHeight">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Custom pole height</span>
              </label>
            </div>

            <div class="col-4 form-group" [ngClass]="{'has-danger': !controlValid('customPoleHeight')}">
              <input class="form-control" type="number" step="0.1" formControlName="customPoleHeight" [disabled]="!order.product.customPoleHeightEnabled" min="0">
              <app-control-messages [control]="fp.controls['customPoleHeight']"></app-control-messages>
            </div>
          </div>
        </div>-->
      </div>

      <div class="form-group">
        <div class="row justify-content-start" [formGroup]="fp">
          <div class="col-md-2">
            <h4 i18n>Color</h4>
          </div>
          <div class="col-md-10">
            <div class="form-check">
              <label class="custom-control custom-checkbox">
                <input class="custom-control-input" type="checkbox" formControlName="_nonStandardColorEnabled">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Non-standard Color</span>
              </label>
            </div>
          </div>
        </div>

        <div *ngIf="!fp.get('_nonStandardColorEnabled').value; else nonStandardColor" class="row row-color-selection" [formGroup]="fp">
          <div class="col-12 col-xl-6">
            <p i18n>Structure Color</p>

            <div ngbRadioGroup class="btn-color-group" formControlName="structureColor">
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="7016"><ng-container i18n>Grey Anthracite<br>RAL 7016</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('7016')"></div>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="9006"><ng-container i18n>Grey Aluminium<br>RAL 9006</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('9006')"></div>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="9016"><ng-container i18n>White<br>RAL 9016</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('9016')"></div>
              </label>
            </div>

          </div>
          <div class="col-12 col-xl-6">
            <p i18n>Blades Color</p>
            <div ngbRadioGroup class="btn-color-group" formControlName="bladesColor">
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="7016"><ng-container i18n>Grey Anthracite<br>RAL 7016</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('7016')"></div>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="9006"><ng-container i18n>Grey Aluminium<br>RAL 9006</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('9006')"></div>
              </label>
              <label ngbButtonLabel class="btn btn-outline-primary">
                <input ngbButton type="radio" [value]="9016"><ng-container i18n>White<br>RAL 9016</ng-container><br>
                <div class="color-sample border rounded-circle" [style.background]="ralToHex('9016')"></div>
              </label>
            </div>
          </div>
        </div>

        <ng-template #nonStandardColor>
          <div [formGroup]="fp" class="row justify-content-start">
            <div class="form-group col-6" [ngClass]="{'has-danger': !controlValid('structureColor')}">
              <div class="row">
                <div class="col-7">
                  <label class="form-control-label"><ng-container i18n>Structure Color (RAL)</ng-container>
                    <div class="input-group">
                      <input class="form-control" type="number" formControlName="structureColor">
                      <span class="input-group-addon"><div class="color-sample border rounded-circle"
                                                           [style.background]="ralToHex(fp.get('structureColor').value)"></div></span>
                    </div>
                  </label>
                  <app-control-messages [control]="fp.controls['structureColor']"></app-control-messages>
                </div>
                <div class="col-5">
                  <label class="form-control-label"><ng-container i18n>Type of Finish</ng-container>
                    <select class="form-control custom-select select-color-finish" formControlName="structureFinishType">
                      <option [value]="'Matt'" i18n>Matt</option>
                      <option [value]="'Glossy'" i18n>Glossy</option>
                      <option [value]="'Microstructure'" i18n>Microstructure</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group col-6" [ngClass]="{'has-danger': !controlValid('bladesColor')}">
              <div class="row">
                <div class="col-7">
                  <label class="form-control-label"><ng-container i18n>Blades Color (RAL)</ng-container>
                    <div class="input-group">
                      <input class="form-control" type="number" formControlName="bladesColor">
                      <span class="input-group-addon"><div class="color-sample border rounded-circle"
                                                           [style.background]="ralToHex(fp.get('bladesColor').value)"></div></span>
                    </div>
                  </label>
                  <app-control-messages [control]="fp.controls['bladesColor']"></app-control-messages>
                </div>
                <div class="col-5">
                  <label class="form-control-label"><ng-container i18n>Type of Finish</ng-container>
                    <select class="form-control custom-select select-color-finish" formControlName="bladesFinishType">
                      <option [value]="'Matt'" i18n>Matt</option>
                      <option [value]="'Glossy'" i18n>Glossy</option>
                      <option [value]="'Microstructure'" i18n>Microstructure</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="inner-panel inner-panel-right">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Pergola Display</h5>
      <img class="pergola-display-large" [attr.src]="'assets/img/sl-type' + fp.get('installationType').value + '.png'">
      <!--
      <img *ngIf="order.previewImgCode; else unknowProdImg" class="pergola-display-large"
           [attr.src]="'assets/img/products/' + order.previewImgCode + '.svg'">
      <ng-template #unknowProdImg>
        <span class="text-danger">Please select pergola type and installation.</span>
      </ng-template>
      -->
    </div>
  </div>

</div>

