<!-- DEV TEST -->
<span i18n="appSampleTranslation@@appSampleTranslation">Sample of app translation {{ variable }}</span>


<!-- svc.system.ts -->
<i i18n="@@sysOops">Oops!</i>
<i i18n="@@sysOopsBadData">Oops! Bad data detected.</i>
<i i18n="@@sysErrorMessageGeneric">Error message</i>
<i i18n="@@sysErrorMessageServer">There was a server error.</i>
<i i18n="@@sysErrorUnhandledHTTP">Unhandled HTTP error happened.</i>
<i i18n="@@sysErrorDataFixed">Data was fixed, but if this keeps happening please send us bug report.</i>
<i i18n="@@sysErrorUnknown">Unknown error happened.</i>
<i i18n="@@sysErrorNoResponse">Didn't get any response, do you have internet?</i>
<i i18n="@@sysErrorTooManyRequests">Too many requests</i>
<i i18n="@@sysErrorAccessDenied">Access denied</i>


<!-- cls.order.ts -->
<i i18n="@@substepOrderAccepted">Accepted</i>
<i i18n="@@substepOrderCuttingAndCNC">Cutting & CNC</i>
<i i18n="@@substepOrderPainting">Painting</i>
<i i18n="@@substepOrderAssembly">Assembly</i>
<i i18n="@@substepOrderReadyForDispatch">Ready for Dispatch</i>
<i i18n="@@substepOrderDefault">Order</i>

<i i18n="@@stepOrderCancelled">Cancelled</i>
<i i18n="@@stepOrderOffer">Offer</i>
<i i18n="@@stepOrderOrder">Order</i>
<i i18n="@@stepOrderCompleted">Completed</i>

<i i18n="@@orderFailedWarning">Order processing failed. Please contact administrator.</i>


<!-- cmp.orders.ts, cmp.order.ts, guard.order.ts -->
<i i18n="@@orderConfirmModalTitle">Confirm order {{ orderNumber }}</i>
<i i18n="@@orderConfirmModalContent">Are you sure you want to confirm this order?</i>
<i i18n="@@orderConfirmModalButtonText">Confirm</i>
<i i18n="@@orderConfirmNotificationSuccess">Confirmed.</i>

<i i18n="@@orderCancelModalTitle">Cancel order {{ orderNumber }}</i>
<i i18n="@@orderCancelModalContent">Are you sure you want to cancel this order?</i>
<i i18n="@@orderCancelModalButtonText">Cancel order</i>
<i i18n="@@orderCancelNotificationSuccess">Cancelled.</i>

<i i18n="@@orderTransferNotificationTitle">Transfer</i>
<i i18n="@@orderTransferNotificationSuccess">Order has been transferred.</i>
<i i18n="@@orderTransferBulkNotificationSuccess">Selected public orders have been transferred to the selected user.</i>
<i i18n="@@orderTransferNotificationError">Failed to transfer order.</i>

<i i18n="@@searchExportNotificationTitle">Export search results</i>
<i i18n="@@searchExportNotificationSuccess">Results have been successfully exported. Your download should start soon.</i>

<i i18n="@@orderSaveNotificationSuccessTitle">Order {{ orderNumber }} saved</i>
<i i18n="@@orderSaveNotificationSuccessContent">It may take up to 5 minutes to calculate the cost and create all the documents.</i>

<i i18n="@@orderSaveNotificationConflictTitle">Error saving order {{ orderNumber }}</i>
<i i18n="@@orderSaveNotificationConflictContent">Documents and price calculation is currently in progress, please try again later.</i>

<i i18n="@@orderNavigateWarningTitle">Confirm navigation</i>
<i i18n="@@orderNavigateWarningContent">Are you sure you wish to navigate away from this page? All unsaved changes will be lost!</i>
<i i18n="@@orderNavigateWarningButtonText">Continue</i>

<!-- cmp.news-article.ts -->
<i i18n="@@articleSaveNotificationSuccessTitle">News article saved</i>
<i i18n="@@articleSaveNotificationSuccessContent">The article has been successfully added.</i>

<i i18n="@@articleSaveNotificationErrorTitle">Error saving article</i>
<i i18n="@@articleSaveNotificationErrorContent">Could not save news article, please try again.</i>

<i i18n="@@articleDeleteNotificationSuccessTitle">News article removed</i>
<i i18n="@@articleDeleteNotificationSuccessContent">The article has been successfully removed.</i>

<i i18n="@@articleDeleteNotificationErrorTitle">Error removing article</i>
<i i18n="@@articleDeleteNotificationErrorContent">Could not remove news article, please try again.</i>


<i i18n="@@orderPublicSaveNotificationSuccessTitle">Order saved</i>
<i i18n="@@orderPublicSaveNotificationSuccessContent">Your order has been successfully saved.</i>


<!-- tpl.order.html -->
<i i18n="@@orderBtnLabelCreate">Create</i>
<i i18n="@@orderBtnLabelSave">Save</i>

<i i18n="@@orderLoaderLine1">Saving order...</i>
<i i18n="@@orderLoaderLine2">Creating documents...</i>
<i i18n="@@orderLoaderLine3">Calculating prices...</i>
<i i18n="@@orderLoaderLine4">Syncing to SharePoint...</i>


<!-- cmp.kalblocks-bar.ts -->
<i i18n="@@kbBarLinkLabelProfile">Profile</i>
<i i18n="@@kbBarLinkLabelAcount">Account</i>
<i i18n="@@kbBarLinkLabelLogs">Logs</i>


<!-- cmp.user-bar.ts -->
<i i18n="@@userBarLinkLabelProfile">Profile</i>
<i i18n="@@userBarLinkLabelAcount">Account</i>


<!-- tpl.entity-actions.html -->
<i i18n="@@entityActionCancel">Cancel</i>
<i i18n="@@entityActionRemove">Remove</i>
<i i18n="@@entityActionCreate">Create</i>
<i i18n="@@entityActionSave">Save</i>


<!-- svc.validation.ts -->
<i i18n="@@validationFeedbackRequired">Required</i>
<i i18n="@@validationFeedbackCreditCard">Invalid credit card number</i>
<i i18n="@@validationFeedbackEmail">Invalid email address</i>
<i i18n="@@validationFeedbackPassword">Invalid password (must be at least 6 characters long and contain a number)</i>
<i i18n="@@validationFeedbackMinLength">Minimum length is {{ length }}</i>
<i i18n="@@validationFeedbackMin">Minimum value is {{ value }}</i>
<i i18n="@@validationFeedbackMax">Maximum value is {{ value }}</i>


<!-- tpl.product-accessories.html -->
<i i18n="@@accessoryBetaName">Beta Kit / 8 spot light + driver</i>
<i i18n="@@accessoryLedStrip">LED Light RGB tape, IP 68</i>

<i i18n="@@accessoryAdditionalRCName">Additional remote control</i>

<i i18n="@@accessoryHeaterName">Heater Heliosa infra IPX5 1.5kW + controller - White</i>
<i i18n="@@accessoryHeaterAnthraciteName">Heater Heliosa infra IPX5 1.5kW + controller - Anthracite</i>

<i i18n="@@accessoryBluetoothSystemName">Bluetooth system</i>
<i i18n="@@accessorySpeakersName">Speakers</i>
<i i18n="@@accessoryRCAudioSystemName">Remote control audio system</i>

<i i18n="@@accessoryWindSensorName">Wind Sensor</i>
<i i18n="@@accessoryRainSensorName">Rain Sensor</i>
<i i18n="@@accessoryTemperatureSensorName">Temperature Sensor</i>
<i i18n="@@accessoryPresenceSensorName">Presence Sensor</i>
<i i18n="@@accessoryExternalAntennaName">External antenna</i>

<i i18n="@@accessorySomfyMotorName">Somfy Motor for screen ZIP 230/20 Nm - Altus 50 RTS receiver</i>

<i i18n="@@accessorySomfyRTST1TBName">Somfy RTS remote control Telis 1 / Teleco Bridge</i>
<i i18n="@@accessorySomfyRTST4TBName">Somfy RTS remote control Telis 4 / Teleco Bridge</i>
<i i18n="@@accessorySomfyRTST16TBName">Somfy RTS remote control Telis 16 / Teleco Bridge</i>

<i i18n="@@accessorySomfyBridge1Name">Teleco Bridge 1</i>
<i i18n="@@accessorySomfyBridge7Name">Teleco Bridge 7</i>

<i i18n="@@accessorySomfyRTST1Name">Somfy RTS remote control Telis 1</i>
<i i18n="@@accessorySomfyRTST4Name">Somfy RTS remote control Telis 4</i>
<i i18n="@@accessorySomfyRTST16Name">Somfy RTS remote control Telis 16</i>

<i i18n="@@accessoryDoubleMotorName">Additional Linak motor + Mechanism</i>

<i i18n="@@accessoryTransportBox1Name">Transport wood box up to 4,1m</i>
<i i18n="@@accessoryTransportBox2Name">Transport wood box up to 6,1m</i>
<i i18n="@@accessoryTransportBox3Name">Transport wood box up to 7,1m</i>

<i i18n="@@accessorySparePartsKitSLName">Spare part kit SL Pergola</i>
<i i18n="@@accessoryMerbenitGlueName">Merbenit Glue</i>
<i i18n="@@accessoryButylTapeRollName">Butyl Tape Roll (22,5m)</i>

<!-- cmp.media.ts -->
<i i18n="@@mediaEmailSendNotificationSuccessTitle">Email sent</i>
<i i18n="@@mediaEmailSendNotificationSuccessContent">Your email message has been sent</i>

<i i18n="@@mediaEmailSendNotificationFailTitle">Error</i>
<i i18n="@@mediaEmailSendNotificationFailContent">An error occured while trying to send the email, please try again later or contact support if this continues to happen</i>


<!-- cmp.profile.ts -->
<i i18n="@@profileImageWrongSizeTitle">Invalid image</i>
<i i18n="@@profileImageWrongSizeContent">Image size must be equal to {{ width }} x {{ height }} pixels.</i>


<!-- external-public-auth.component.html -->
<i i18n="@@externalServiceErrorTitle">An error occured</i>
<i i18n="@@externalServiceErrorContent">There was an error while trying to redirect you to your content. Please try again.</i>
