@import '../../../../styles/variables';

.actions-wrapper {
  margin-top: -0.5rem;
  margin-bottom: 1rem;

  .btn-none {
    padding: .3rem;
    font-size: 1.2rem;
    color: $gray-lighter;

    &:hover {
      color: $gray;
    }
  }
}
