<div
  ngbTooltip="Saved"
  i18n-ngbTooltip
  placement="left"
  #savedTooltip="ngbTooltip"
  triggers="manual"

  class="actions-wrapper float-right">

  <ng-content></ng-content>

  <button  class="btn btn-none"
        *ngIf="entityCmp.canEditBtnVisible"
        ngbTooltip="Edit"
        i18n-ngbTooltip
        (click)="entityCmp.toggleEdit()"
        [disabled]="!entityCmp.editEnabled">
    <i class="fa fa-pencil" aria-hidden="true"></i>
  </button>

  <button class="btn btn-none"
       *ngIf="!entityCmp.edit"
       (click)="entityCmp.back()"
       ngbTooltip="Close"
       i18n-ngbTooltip
       [disabled]="!closeEnabled">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div class="btn btn-outline-secondary"
          *ngIf="entityCmp.edit && closeButtonVisible"
          (click)="entityCmp.cancelEdit()">{{ cancelString || i18n.get('entityActionCancel') }}</div>

  <div class="btn btn-outline-danger"
          *ngIf="entityCmp.canRemoveBtnVisible"
          (click)="entityCmp.removeWithConfirmDialog()">{{ removeString || i18n.get('entityActionRemove') }}</div>

  <button class="btn btn-primary"
          *ngIf="entityCmp.edit && entityCmp.canEdit"
          type="submit"
          [disabled]="!form?.valid || entityCmp.entity.$locked">
    <i *ngIf="entityCmp.saving" class="fa fa-spinner fa-pulse fa-fw"></i>
    {{ entityCmp && entityCmp.entity.$new ? i18n.get('entityActionCreate') : i18n.get('entityActionSave') }}
  </button>
</div>

<div class="clearfix"></div>
