<h2 class="secondary-font-sans-serif font-weight-bold" i18n>
  Choose a new password
</h2>

<div class="forgot-password-wrapper"
      *ngIf="!resetSuccessful; else passwordResetMessage">

  <form #resetForm="ngForm" novalidate
        (ngSubmit)="resetForm.form.valid && reset()" >
    <div class="form-group-wrapper">
      <div class="form-group">
        <div class="has-float-label mb-1"
             [ngClass]="{'has-danger': resetForm.controls['newPassword']?.errors && resetForm.controls['newPassword'].touched}">
          <input
            placeholder=" "
            class="form-control"
            required
            minlength="6"
            type="password"
            name="newPassword"
            id="newPassword"
            [(ngModel)]="resetData.newPassword">
          <label for="newPassword" i18n>New password</label>
          <app-control-messages [control]="resetForm.controls['newPassword']"></app-control-messages>
        </div>
       
      </div>
    </div>
    <div class="footer">
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!resetForm.valid" i18n>Change password</button>
    </div>
  </form>
</div>

<ng-template #passwordResetMessage>
  <div class="footer">
    <h3 class="secondary-font-sans-serif font-weight-bold reset-title" i18n>Your password has been changed.</h3>
    <p i18n>You can now return to the login page and sign in with your new password.</p>
  </div>
</ng-template>

<div id="otherOptions" class="footer">
  <div>
    <span class="secondary-font-sans-serif font-weight-bold"><ng-container i18n>Return to</ng-container>
      <a [routerLink]="['/user/login']" class="font-weight-bold" i18n>login</a>
    </span>
  </div>
</div>

