<div class="modal-header">
  <h4 class="modal-title" i18n>Open file</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <app-file-manager
    [path]="path"
    [lockedPath]="lockedPath"
    (open)="open($event)"
    [fs]="fs"></app-file-manager>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" i18n>Cancel</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.close()" i18n>Open</button>
</div>
