@import '../../../../styles/variables';

.dropdown-menu {
  width: 520px;
  left: -400px;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .header-button {
    text-align: right;
  }

  h3 {
    margin-top: 10px;
  }

  .content-wrapper {
    font-family: $font-family-sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5rem;
  }

  .article-block {
    border: 1px solid $gray-lighter;
    border-radius: $border-radius;
    padding: 5px;
    margin-bottom: 5px;
    cursor: pointer;

    &:hover {
      background-color: $gray-lightest;
    }

    .article-title {
      font-weight: bold;
      font-size: .8rem;
      margin-bottom: -0.5rem;
    }

    .article-date {
      font-size: .5rem;
    }

    $line-height: 1.5em;

    .article-content {
      overflow: hidden;
      position: relative;
      line-height: 1.5em;
      max-height: $line-height * 3; // lines to show
      text-align: justify;
      //margin-right: -1em;
      padding-right: 1em;
    }
    .article-content:before {
      content: '...';
      position: absolute;
      right: 0;
      bottom: 0;
    }
    .article-content:after {
      content: '';
      position: absolute;
      right: 0;
      width: 1em;
      height: 1em;
      margin-top: 0.2em;
      background: white;
    }
  }
}

.btn-close {
  padding: 5px;
  margin: 0;
}
