<div ngbDropdown [autoClose]="true" #newsDrop="ngbDropdown">
  <button class="btn btn-outline-secondary" id="dropdownNews" ngbDropdownToggle>
    <i class="fa fa-fw fa-newspaper-o"></i>
    <ng-container i18n>News</ng-container>
  </button>
  <div class="dropdown-menu dropdown-news" aria-labelledby="dropdownNews">
    <!--
    <div class="btn btn-none btn-close float-right" (click)="$event.stopPropagation(); newsDrop.close(); onClose()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </div>
    -->
    <div class="row">
      <div class="col-6 header-title">
        <h3 i18n>Recent news</h3>
      </div>
      <div class="col-6 header-button">
        <button class="btn btn-primary" [routerLink]=" ['/news'] "><ng-container i18n> View all news</ng-container></button>
      </div>
    </div>
    <div class="m-2 content-wrapper">
      <div class="article-block" *ngFor="let article of latestArticles" [routerLink]=" ['/news/article/' + article.id] ">
          <div class="article-title">
            {{ article.title }}
          </div>
          <div class="article-date">
            {{ article.birth | safeDate: 'short' }}
          </div>
          <div class="article-content">
            {{ article.content }}
          </div>
      </div>
    </div>
  </div>
</div>
