@import "../../../../styles/variables";

.card {
  .card-title {
    font-family: $font-secondary-sans-serif;
    color: $black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

.dashboard-wrapper {
  text-align: center;
  margin: 1.5rem;

  .project-logo-wrapper {
    $logo-color: #1fd5ea;
    $logo-size: 35px;

    display: inline-block;
    padding: .15rem;

    .project-logo {
      background-color: $logo-color;
      color: white;

      transform : rotateZ(45deg);
      width     : $logo-size;
      height    : $logo-size;

      border-radius: 4px;

      margin    : auto;

      .icon {
        text-align: center;
        width: $logo-size;
        height: $logo-size;
        line-height: $logo-size;

        transform : rotateZ(-45deg);
      }

      &.logo-crm {
        background-color: #ff9d00;
      }

      &.logo-logs {
        background-color: red;
      }
    }
  }

  .projectName {
    font-size: 1.5rem;
    color: $project-name-color;
    font-family: $font-secondary-sans-serif;
    margin: .7rem auto 2rem auto;

    .nameBase {
      font-weight: $project-name-font-weight;
    }
  }
}

.projects-group {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .card-wrapper {
      width: 100%;
    }
  }
  @media screen and (min-width: map-get($grid-breakpoints, md)) {
    .card-wrapper {
      width: 50%;

    }
  }
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .card-wrapper {
      width: 33.3333%;
    }
  }
  /*
  @media screen and (min-width: map-get($grid-breakpoints, lg)) {
    .card-wrapper {
      width: 20%;
    }
  }

  @media screen and (min-width: map-get($grid-breakpoints, xl)) {
    .card-wrapper {
      width: 16.66666%;
    }
  }
  */
}


