<div class="dashboard-wrapper">
  <div class="projects-group">

    <div class="card-wrapper">
      <div class="card" (click)="openApp('pass')">
        <div class="card-block">
          <div class="project-logo-wrapper">
            <div class="project-logo">
              <div class="icon">
                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="projectName">
            <span class="nameBase">Kal</span>Pass
          </div>

          <ng-container *ngIf="showDetails">
            <h5>License valid until</h5>
            <h5><b>17.06.2018</b></h5>
          </ng-container>
        </div>
      </div>
    </div>

    <ng-container *ngIf="showDetails">
      <div class="card-wrapper">
        <div class="card disabled">
          <div class="card-block">
            <div class="project-logo-wrapper">
              <div class="project-logo logo-crm">
                <div class="icon">
                  <i class="fa fa-usd" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="projectName">
              <span class="nameBase">Kal</span>Sales
            </div>

            <div class="btn btn-outline-info">ORDER NOW</div>
          </div>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card disabled">
          <div class="card-block">
            <div class="project-logo-wrapper">
              <div class="project-logo logo-crm">
                <div class="icon">
                  <i class="fa fa-ambulance" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="projectName">
              <span class="nameBase">Kal</span>Desk
            </div>

            <div class="btn btn-outline-info">COMING SOON</div>
          </div>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card disabled">
          <div class="card-block">
            <div class="project-logo-wrapper">
              <div class="project-logo logo-logs">
                <div class="icon">
                  <i class="fa fa-flask" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="projectName">
              <span class="nameBase">Kal</span>Logs
            </div>
            <div class="btn btn-outline-info">COMING SOON</div>
          </div>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card disabled">
          <div class="card-block">
            <div class="project-logo-wrapper">
              <div class="project-logo logo-logs">
                <div class="icon">
                  <i class="fa fa-file-text-o" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="projectName">
              <span class="nameBase">Kal</span>Docs
            </div>
            <div class="btn btn-outline-info">COMING SOON</div>
          </div>
        </div>
      </div>

      <div class="card-wrapper">
        <div class="card disabled">
          <div class="card-block">
            <div class="project-logo-wrapper">
              <div class="project-logo logo-logs">
                <div class="icon">
                  <i class="fa fa-tachometer" aria-hidden="true"></i>
                </div>
              </div>
            </div>

            <div class="projectName">
              <span class="nameBase">Kal</span>Dash
            </div>
            <div class="btn btn-outline-info">COMING SOON</div>
          </div>
        </div>
      </div>

    </ng-container>
  </div>
</div>
