@import '../../../../styles/variables';

.project-bar {
  margin: $project-bar-margin;
  padding: $project-bar-padding;
  background-color: $project-bar-bg-color;
}

.project-banner {
  text-decoration : none;
}


.navigation {
  text-align: right;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  margin-top: .9rem;

  /deep/ > div {
    display: inline-block;
  }

  /deep/ ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-left: 20px;

      a {
        color: $navigation-color;
        padding-bottom: 4px;
        transition: all .15s;
        border-bottom: $navigation-border;
        text-decoration: none;

        &:hover {
          border-bottom: $navigation-border-hover;
          color: $navigation-color-hover;
        }

        &.active {
          color: $navigation-color-active;
          border-bottom: $navigation-border-active;
          font-weight: bold;
        }
      }
    }
  }
}
