<div class="project-bar clearfix">
  <div class="float-left ml-3">
    <a [routerLink]="homeLink" class="project-banner">
      <ng-content select="[logo]"></ng-content>
    </a>
  </div>

  <div class="float-right navigation mr-3">
    <ul *ngIf="links">
      <li *ngFor="let x of links">
        <a
          [routerLink]="x.routerLink"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          {{ x.label }}
        </a>
      </li>
    </ul>

    <ng-content select="[navigation]"></ng-content>
  </div>
</div>
