<div class="external-wrapper">
  <h5 *ngIf="deviceNotSupported; else redirecting" class="not-supported">
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <ng-container i18n>The mobile version of this page is currently under construction. Please use a desktop browser meanwhile.</ng-container>
  </h5>
  <ng-template #redirecting>
    <h5 i18n>Please wait a moment while we redirect you...</h5>
    <i class="fa fa-3x fa-cog fa-spin"></i>
  </ng-template>
</div>
