
.forgot-password-wrapper {

  margin: 20px auto 50px auto;
  max-width: 400px;

}

h2, h5{
  text-align: center;
  margin: 30px 0;
  padding-bottom: 20px;
}

.footer {
  text-align: center;
}

#otherOptions {
  margin-top: 15px;
}

.form-group {
  padding-bottom: 20px;
}

