<h2 class="secondary-font-sans-serif font-weight-bold" i18n>
  Forgot Password?
</h2>
<h5 i18n>
  Enter your email address below and we'll send you instructions on how to reset your password.
</h5>

<div class="forgot-password-wrapper"
      *ngIf="!resetSuccessful; else emailSentMsg">

  <form #resetForm="ngForm" novalidate
        (ngSubmit)="resetForm.form.valid && reset()" >
    <div class="form-group-wrapper">
      <div class="form-group">
        <div class="has-float-label"
             [ngClass]="{'has-danger': resetForm.controls['email']?.errors && resetForm.controls['email'].touched}">
          <input
            placeholder=" "
            class="form-control"
            required
            email
            type="email"
            name="email"
            id="email"
            [(ngModel)]="forgotData.email">
          <label for="email" i18n>Email</label>
          <app-control-messages [control]="resetForm.controls['email']"></app-control-messages>
        </div>
      </div>
    </div>
    <div class="footer">
      <button type="submit" class="btn btn-primary btn-lg" [disabled]="!resetForm.valid" i18n>RESET MY PASSWORD</button>
    </div>
  </form>
</div>

<ng-template #emailSentMsg>
  <div class="footer">
    <h2 class="secondary-font-sans-serif font-weight-bold reset-title" i18n>Email sent</h2>
    <p i18n>We sent you an email with password reset instructions.</p>
  </div>
</ng-template>

<div id="otherOptions" class="footer">
  <div>
    <span class="secondary-font-sans-serif font-weight-bold"><ng-container i18n>RETURN TO</ng-container>
      <a [routerLink]="['/user/login']" class="font-weight-bold" i18n>LOGIN</a>
    </span>
  </div>
</div>

