<div class="file-manager-container">
  <div class="toolbar justify-content-between form-inline">
    <div class="form-group btn-toolbar">
      <div class="btn-group mr-2 d-none" role="group">
        <button
          disabled
          ngbTooltip="Back"
          i18n-ngbTooltip
          type="button"
          class="btn btn-secondary"
          (click)="back()">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </button>
        <button
          disabled
          ngbTooltip="Forward"
          i18n-ngbTooltip
          type="button"
          class="btn btn-secondary"
          (click)="forward()">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
      </div>

      <div class="form-group mr-4">
        <button
          ngbTooltip="Go one folder up"
          i18n-ngbTooltip
          [disabled]="!path.length"
          type="button"
          class="btn btn-secondary"
          (click)="up()">
          <i class="fa fa-chevron-up" aria-hidden="true"></i>
        </button>
      </div>

      <div class="form-group mr-4">
        <label class="btn btn-file btn-secondary" ngbTooltip="Upload file" i18n-ngbTooltip>
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          <input type="file" (change)="uploadFile($event)"  style="display: none;">
        </label>
      </div>

      <div class="form-group mr-3">
        <span
          (click)="selectPathItem(-1)"
          class="path-item" i18n>
          Home
        </span>
        <i *ngIf="path.length" class="fa fa-caret-right ml-2 mr-2" aria-hidden="true"></i>

        <ng-container *ngFor="let p of path; let last = last; let i = index">
          <span
            (click)="selectPathItem(i)"
            class="path-item"
            [ngClass]="{'last': last}"
            >{{ p }}</span>
          <i *ngIf="!last" class="fa fa-caret-right ml-2 mr-2" aria-hidden="true"></i>
        </ng-container>
      </div>
    </div>

    <div class="input-group form-inline">
      <div class="input-group mr-3">
        <input type="text" class="form-control" (change)="searchChange()" [(ngModel)]="search">
        <span class="input-group-addon">
          <i class="fa fa-search" aria-hidden="true"></i>
        </span>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">
          <i class="fa fa-th" aria-hidden="true"></i>
        </button>
        <button disabled type="button" class="btn btn-secondary">
          <i class="fa fa-list-ul" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <app-folder-view
    *ngIf="cDir && cDir.childrenLoaded; else noDir"
    [sort]="true"
    (itemClick)="itemClick($event)"
    [dir]="fakeDir || cDir"></app-folder-view>
  <ng-template #noDir>
    <ng-container i18n>No directory selected.</ng-container>
  </ng-template>
</div>
