@import '../../../../../styles/variables';

.tab-content-wrapper {
  img.blinds-display-large {
    width: 90%;
    display: block;
    margin: auto;
  }

  .input-middle {
    position: relative;
    top: -.5em;
  }

  .row-middle {
    position: relative;
    top: .5em;
  }

  h4 {
    font-size: 1rem;
    font-weight: bold;
  }

  p {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: .2rem;
  }

  .custom-select {
    width: 100%;
  }

  .form-check-middle {
    margin: .5rem 0 -.5rem 0;
  }

  .checkbox-image-group {
    img {
      height: 2.7rem;
    }

    .custom-control-indicator {
      margin-top: .5em;
    }
  }

  .btn-color-group {
    width: 100%;

    .btn {
      width: calc(100% / 3);
      padding: .3rem;
    }
  }

  .btn-full-width-group {
    width: 100%;

    .btn {
      width: calc(100% / 6);
    }
  }

  img.svg-fullwidth {
    width: 100%;
    margin: auto;
    max-height: 10rem;
    display: block;
  }

  img.svg-halfwidth {
    width: 50%;
    margin: auto;
    max-height: 5rem;
    display: block;
  }

  .positions {
    label {
      display: block;
    }
  }

  .input-group-addon {
    background-color: $gray-lightest;
  }

  .checkbox-locker {
    margin-bottom: 0;
    margin-top: .5rem;
  }

  .has-danger {
    p, span, label {
      color: $red !important;
    }

    .inline-wrapper {
      border-color: $red !important;

      .inline-wrapper-header {
        border-color: $red !important;
        background-color: lighten($red, 40%) !important;
      }
    }
  }

  .panels-container {
    position: relative;

    .guide {
      position: relative;
      width: 100%;
      height: 0;
      border-bottom: 4px solid $gray-light;
      margin: 2.2rem auto;

      .guide-inner-wrapper {
        width: 90%;
        position: relative;
        margin: auto;

        .panel-wrapper {
          position: absolute;
          height: 1.5rem;
          padding: 0 .2rem;
          top: -.65rem;

          .panel {
            height: 100%;
            width: 100%;
            border: 1px dashed lighten($gray-light, 25%);
            cursor: pointer;
            transition: .15s all ease;

            &:hover {
              background-color: transparentize($gray-light, .8);
            }

            &.selected {
              border: none;
              background-color: lighten($gray-light, 20%);

              &:hover {
                background-color: $gray-light;
              }
            }

            &.hidden {
              opacity: 0;
              pointer-events: none;
              cursor: default;
            }
          }
        }
      }
    }
  }

  .arrows-container {
    .arrow {
      display: block;
      height: 1.8rem;
      margin: 0 3rem 1rem 3rem;
      cursor: pointer;

      &.reverse {
        transform: scaleX(-1);
      }
    }
  }
}

