<div class="tab-content-wrapper">
  <div class="inner-panel inner-panel-left">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Glass Panels</h5>

      <div [formGroup]="fp" *ngIf="pergolaLength >= 330; else pergolaTooSmall">
        <div class="form-group" formGroupName="glassPanelsPosition" (change)="refreshPergolaView()">
          <div class="row justify-content-start inline-wrapper">
            <div class="col-12">
              <span class="inline-wrapper-header" i18n>Position</span>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p2"
                       [formControl]="this.fp.get('glassPanelsPosition').get('p1p2')"
                       [disableCond]="!isPergolaSideAvailable('p1p2')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P2</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p3p4"
                       [formControl]="this.fp.get('glassPanelsPosition').get('p3p4')"
                       [disableCond]="!isPergolaSideAvailable('p3p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P3 - P4</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p1p3"
                       [formControl]="this.fp.get('glassPanelsPosition').get('p1p3')"
                       [disableCond]="!isPergolaSideAvailable('p1p3')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P1 - P3</span>
              </label>
            </div>
            <div class="col-3">
              <label class="custom-control custom-checkbox force-position-min-width">
                <input class="custom-control-input " type="checkbox" formControlName="p2p4"
                       [formControl]="this.fp.get('glassPanelsPosition').get('p2p4')"
                       [disableCond]="!isPergolaSideAvailable('p2p4')">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>P2 - P4</span>
              </label>
            </div>
          </div>
        </div>

        <!-- length -->
        <div class="form-group" formGroupName="glassPanelsOnLength" *ngIf="panelsOnLength">
          <div class="row justify-content-start inline-wrapper"
               [ngClass]="{'has-danger': fp.errors && fp.errors['glassPanelsNotPlacedOnLength']}">
            <div class="col-12 mb-2">
              <span class="inline-wrapper-header" i18n>Panels on length</span>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Panels</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="panelQuantity"
                          (change)="updatePanelQuantity('Length')">
                    <!--<option [value]="1">1</option>-->
                    <option [value]="2">2</option>
                    <option [value]="3">3</option>
                    <option [value]="4">4</option>
                    <option [value]="5">5</option>
                    <!--<option [value]="6">6</option>-->
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row" [ngClass]="{'has-danger': fp.get('glassPanelsOnLength').get('size').errors}">
                <label class="col-3 col-form-label" i18n>Panel size</label>
                <div class="col-9">
                  <div class="input-group">
                    <input type="number" class="form-control" formControlName="size" (change)="updateSize('Length')">
                    <span class="input-group-addon" i18n>mm</span>
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="fp.get('glassPanelsOnLength').get('size').errors && fp.get('glassPanelsOnLength').get('size').errors['glassPanelsSizeTooLarge']"
                       i18n>Combined size of panels exceeds pergola length
                  </div>
                  <div class="form-control-feedback">
                    <app-control-messages [control]="fp.get('glassPanelsOnLength').get('size')"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Guides</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="guides" (change)="updateGuides('Length')">
                    <option *ngFor="let x of guidesPerPanelCount('Length');" [value]="x">{{ x }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <label class="custom-control custom-checkbox checkbox-locker">
                <input class="custom-control-input " type="checkbox" formControlName="locker">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Locker</span>
              </label>
            </div>

            <div class="col-12 form-group panels-container"
                 [ngClass]="{'has-danger': (fp.errors && fp.errors['glassPanelsNotPlacedOnLength'])}">
              <div class="guide" *ngFor="let guide of _guides('Length')">
                <div class="guide-inner-wrapper">
                  <div class="panel-wrapper" *ngFor="let panel of _panels('Length');"
                       [ngStyle]="{ 'width.%' : 100 / _panels('Length').length,
                                'left.%'  : panel * (100 / _panels('Length').length)
                              }">
                    <div class="panel"
                         [ngClass]="{ 'selected'  : getPanelPlacement('Length')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Length')[panel] && getPanelPlacement('Length')[panel] !== guide + 1 }"
                         (click)="togglePanelPosition('Length', panel, guide + 1)"></div>
                  </div>
                </div>
              </div>
              <div class="row arrows-container">
                <div class="col-6">
                  <img class="arrow float-right" [ngClass]="{'reverse': !(arrowLeft('Length') !== 'left')}"
                       (click)="toggleLeftArrow('Length')" src="assets/img/panels-arrow.svg">
                </div>
                <div class="col-6">
                  <img class="arrow float-left" [ngClass]="{'reverse': arrowRight('Length') !== 'right'}"
                       (click)="toggleRightArrow('Length')" src="assets/img/panels-arrow.svg">
                </div>
              </div>
              <div class="form-control-feedback col-12" *ngIf="fp.errors && fp.errors['glassPanelsNotPlacedOnLength']"
                   i18n>You must select a position for all panels.
              </div>
            </div>
          </div>
        </div>

        <!-- width -->
        <div class="form-group" formGroupName="glassPanelsOnWidth" *ngIf="panelsOnWidth">
          <div class="row justify-content-start inline-wrapper"
               [ngClass]="{'has-danger': fp.errors && fp.errors['glassPanelsNotPlacedOnWidth']}">
            <div class="col-12 mb-2">
              <span class="inline-wrapper-header" i18n>Panels on width</span>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Panels</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="panelQuantity"
                          (change)="updatePanelQuantity('Width')">
                    <!--<option [value]="1">1</option>-->
                    <option [value]="2">2</option>
                    <option [value]="3">3</option>
                    <option [value]="4">4</option>
                    <option [value]="5">5</option>
                    <!--<option [value]="6">6</option>-->
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row" [ngClass]="{'has-danger': fp.get('glassPanelsOnWidth').get('size').errors}">
                <label class="col-3 col-form-label" i18n>Panel size</label>
                <div class="col-9">
                  <div class="input-group">
                    <input type="number" class="form-control" formControlName="size" (change)="updateSize('Width')">
                    <span class="input-group-addon" i18n>mm</span>
                  </div>
                  <div class="form-control-feedback"
                       *ngIf="fp.get('glassPanelsOnWidth').get('size').errors && fp.get('glassPanelsOnWidth').get('size').errors['glassPanelsSizeTooLarge']"
                       i18n>Combined size of panels exceeds pergola width
                  </div>
                  <div class="form-control-feedback">
                    <app-control-messages [control]="fp.get('glassPanelsOnWidth').get('size')"></app-control-messages>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group row">
                <label class="col-3 col-form-label" i18n>Guides</label>
                <div class="col-9">
                  <select class="form-control custom-select" formControlName="guides" (change)="updateGuides('Width')">
                    <option *ngFor="let x of guidesPerPanelCount('Width');" [value]="x">{{ x }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-6">
              <label class="custom-control custom-checkbox checkbox-locker">
                <input class="custom-control-input " type="checkbox" formControlName="locker">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description" i18n>Locker</span>
              </label>
            </div>

            <div class="col-12 form-group panels-container"
                 [ngClass]="{'has-danger': (fp.errors && fp.errors['glassPanelsNotPlacedOnWidth'])}">
              <div class="guide" *ngFor="let guide of _guides('Width')">
                <div class="guide-inner-wrapper">
                  <div class="panel-wrapper" *ngFor="let panel of _panels('Width');"
                       [ngStyle]="{ 'width.%' : 100 / _panels('Width').length,
                                'left.%'  : panel * (100 / _panels('Width').length)
                              }">
                    <div class="panel"
                         [ngClass]="{ 'selected'  : getPanelPlacement('Width')[panel] === guide + 1,
                                  'hidden'    : !!getPanelPlacement('Width')[panel] && getPanelPlacement('Width')[panel] !== guide + 1 }"
                         (click)="togglePanelPosition('Width', panel, guide + 1)"></div>
                  </div>
                </div>
              </div>
              <div class="row arrows-container">
                <div class="col-6">
                  <img class="arrow float-right" [ngClass]="{'reverse': !(arrowLeft('Width') !== 'left')}"
                       (click)="toggleLeftArrow('Width')" src="assets/img/panels-arrow.svg">
                </div>
                <div class="col-6">
                  <img class="arrow float-left" [ngClass]="{'reverse': arrowRight('Width') !== 'right'}"
                       (click)="toggleRightArrow('Width')" src="assets/img/panels-arrow.svg">
                </div>
              </div>
              <div class="form-control-feedback col-12" *ngIf="fp.errors && fp.errors['glassPanelsNotPlacedOnWidth']"
                   i18n>You must select a position for all panels.
              </div>
            </div>
          </div>
        </div>

      </div>

      <ng-template #pergolaTooSmall>
        <div class="form-control-feedback" i18n>Pergola length is too small and can't support any glass panels.</div>
      </ng-template>
    </div>
  </div>

  <div class="inner-panel inner-panel-right">
    <div class="content-box-group">
      <h5 class="content-box-group-title" i18n>Pergola Top View</h5>
      <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'" (onSVGInserted)="onSvgLoad($event)"
           [inlineSVG]="'/assets/img/pergola-small.svg'"
           class="svg-container"></div>
    </div>
  </div>

</div>

