@import '../../../../../styles/variables';

.history-wrapper {
  margin: 1.5rem;

  .logs-wrapper {
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1rem;

    h2 {
      font-family: $font-secondary-sans-serif;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    ul {
      list-style: none;
    }

    .log-item {
      border: 1px solid $gray-lighter;
      background-color: $white;
      border-radius: $input-border-radius;
      margin: .4rem;
      cursor: pointer;
      transition: box-shadow .3s;

      &:hover {
        box-shadow : 0 10px 20px -8px rgba(0, 0, 0, 0.5);
      }

      .item-header {
        padding: .5rem;
        background-color: lighten($gray-lightest, .75%);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .fa {
          color: $primary-color;
          padding-right: .4rem;
        }

        .header-details {
          .fa {
            color: $black;
            float: left;
            padding-top: .05rem;
          }
        }

        h6 {
          padding: .25rem;
          margin: 0;
          color: $gray;
          font-size: .85rem;
        }

        .avatar {
          font-size: 2rem;
          float: left;
          color: lighten($gray, 30%);
        }
      }

      .item-body {
        padding: .5rem;

        span, .fa {
          font-size: 1.2rem;
          padding: .5rem;
        }

        .fa {
          padding-right: .25rem;
        }
      }
    }
  }
}

