<div class="history-wrapper content-box content-box-full-height">
  <div class="logs-wrapper">
    <h2>Logs: Last activity</h2>
    <ul>
      <li class="log-item" *ngFor="let x of this.lastActivity">
        <div class="item-header">
          <a class="avatar" [ngSwitch]="x.type">
            <i *ngSwitchCase="'load'" class="fa fa-fw fa-key" aria-hidden="true"></i>
            <i *ngSwitchCase="'wrongpass'" class="fa fa-fw fa-exclamation-triangle" aria-hidden="true"></i>
            <i *ngSwitchCase="'signin'" class="fa fa-fw fa-sign-in" aria-hidden="true"></i>
            <i *ngSwitchCase="'passrec'" class="fa fa-fw fa-recycle" aria-hidden="true"></i>
            <i *ngSwitchCase="'signup'" class="fa fa-fw fa-user-plus" aria-hidden="true"></i>
          </a>
          <div class="header-details">
            <h6><i class="fa fa-fw fa-clock-o"></i>{{x.time}}</h6>
            <h6><i class="fa fa-fw fa-location-arrow"></i>127.0.0.1</h6>
          </div>
        </div>
        <div class="item-body">
          <i class="fa fa-fw fa-info-circle"></i><span>{{x.label}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
