<div class="progress-meter mr-3" *ngIf="order.$stepNumber >= 3">
  <div class="track">
    <span class="progress"></span>
  </div>
  <ol class="progress-points">
    <li class="progress-point" [ngClass]="{'completed': order.$stepNumber >= 3}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Order</span>
    </li>
    <li class="progress-point" [ngClass]="{'completed': order.$stepStateNumber > 0}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Accepted</span>
    </li>
    <li class="progress-point"  [ngClass]="{'completed': order.$stepStateNumber > 1}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Cutting & CNC</span>
    </li>
    <li class="progress-point"  [ngClass]="{'completed': order.$stepStateNumber > 2}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Painting</span>
    </li>
    <li class="progress-point"  [ngClass]="{'completed': order.$stepStateNumber > 3}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Assembly</span>
    </li>
    <li class="progress-point"  [ngClass]="{'completed': order.$stepStateNumber > 4}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Ready for dispatch</span>
    </li>
    <li class="progress-point" [ngClass]="{'completed': order.$stepNumber == 4}">
      <i class="fa fa-fw fa-check" aria-hidden="true"></i>
      <span class="label" i18n>Completed</span>
    </li>
  </ol>
</div>

