<div class="tab-content-wrapper">
  <div class="row">
    <div class="inner-panel col-6 contact-panel" *ngIf="isPublic()">
      <div class="content-box-group">
        <h5 class="content-box-group-title" i18n>Contact details</h5>
      
        <div [formGroup]="clientF" (change)="updateInformation()">
          <div class="form-group"
               [ngClass]="{'has-danger': clientF.controls['name']?.errors && clientF.controls['name'].touched}">
            <label class="form-control-label">
              <ng-container i18n>First and last name *</ng-container>
              <input class="form-control"
                     formControlName="name">
            </label>
            <app-control-messages [control]="clientF.controls['name']"></app-control-messages>
          </div>
        
          <div class="form-group"
               [ngClass]="{'has-danger': clientF.controls['email']?.errors && clientF.controls['email'].touched}">
            <label class="form-control-label">
              <ng-container i18n>Email *</ng-container>
              <input type="email"
                     class="form-control"
                     formControlName="email">
            </label>
            <app-control-messages [control]="clientF.controls['email']"></app-control-messages>
          </div>
  
          <div class="form-group"
               [ngClass]="{'has-danger': clientF.controls['address']?.errors && clientF.controls['address'].touched}">
            <label class="form-control-label">
              <ng-container i18n>Address</ng-container>&nbsp;*
              <textarea class="form-control"
                        formControlName="address">
            </textarea>
            </label>
            <app-control-messages [control]="clientF.controls['address']"></app-control-messages>
          </div>
        
          <div class="form-group"
               [ngClass]="{'has-danger': clientF.controls['phone']?.errors && clientF.controls['phone'].touched}">
            <label class="form-control-label">
              <ng-container i18n>Phone</ng-container>&nbsp;*
              <input class="form-control"
                     formControlName="phone">
            </label>
            <app-control-messages [control]="clientF.controls['phone']"></app-control-messages>
          </div>
        </div>
      </div>
    </div>
  
    <div class="inner-panel" [ngClass]="{'col-6': isPublic(), 'col-12': !isPublic()}">
      <div class="content-box-group">
        <h5 class="content-box-group-title" i18n>Order Terms</h5>
      
        <div [formGroup]="tF">
          <div class="form-group" [ngClass]="{'has-danger': !controlValid('agree')}">
            <!-- p>{{order.terms.terms}}</p -->
          
            <label class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" formControlName="agree">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description" *ngIf="!isPublic()" i18n>I agree with the <a href="/assets/img/general_sales_conditions.pdf" target="_blank">Soltec order terms and Soltec General Terms of Service</a>.</span>
              <span class="custom-control-description" *ngIf="isPublic()" i18n>S klikom na gumb USTVARI soglašam, da me v prihodnje obveščate o aktualni ponudbi in potrjujem, da sem prebral/a in razumel/a izjavo o Varstvu osebnih podatkov.</span>
            </label>
            <div class="form-control-feedback" *ngIf="!controlValid('agree')" i18n>You must agree with the terms.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

