<ng-container [ngSwitch]="!!template">
  <div
    *ngSwitchCase="false"
    class="badge badge-default badge-pill"
    [ngClass]="{'badge-primary': highlight, 'suggested': suggested, 'dropdown': dropdown}">
    <span>{{ label }}</span>
    <span *ngIf="!readonly" class="remove" (click)="remove.emit()">&#10006;</span>
  </div>

  <ng-template
    *ngSwitchCase="true"
    [ngOutletContext]="{ tag: tag, label: label, readonly: readonly, highlight: highlight, remove: remove, suggested: suggested }"
    [ngTemplateOutlet]="template">
  </ng-template>
</ng-container>

