<div [formGroup]="form">
  <div class="row-group">
    <div class="row border">
      <div class="col header">
        <span i18n>ZIP Blinds</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <span i18n>Position</span>
      </div>
      <div class="col">
        <span i18n>Fabric Serge</span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-7">
        <div class="row">
          <div class="col-4">
            <span class="checkbox d-block my-3 mt-5"
                  [class.checked]="getControlValue('product.options.blindsPosition.p1p2')"
                  i18n>
              P1 - P2
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.blindsPosition.p3p4')"
                  i18n>
              P3 - P4
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.blindsPosition.p1p3')"
                  i18n>
              P1 - P3
            </span>
            <span class="checkbox d-block my-3"
                  [class.checked]="getControlValue('product.options.blindsPosition.p2p4')"
                  i18n>
              P2 - P4
            </span>
          </div>
          <div class="col">
            <div [fallbackImgUrl]="'/assets/img/blinds-display-small.png'"
                 (onSVGInserted)="onSvgLoad($event)"
                 [inlineSVG]="'/assets/img/pergola-small.svg'"
                 class="svg-container">
            </div>
          </div>
        </div>
  
        <small class="d-block" *ngIf="getPanelSplitData('p1p2'); let x" i18n>Blinds on P1-P2 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</small>
        <small class="d-block" *ngIf="getPanelSplitData('p3p4'); let x" i18n>Blinds on P3-P4 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</small>
        <small class="d-block" *ngIf="getPanelSplitData('p1p3'); let x" i18n>Blinds on P1-P3 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</small>
        <small class="d-block" *ngIf="getPanelSplitData('p2p4'); let x" i18n>Blinds on P2-P4 will be split into two panels ({{ x[0] }}mm - {{ x[1] }}mm)</small>
        <small>
          <em *ngIf="getPanelSplitData('p1p2') ||
                   getPanelSplitData('p3p4') ||
                   getPanelSplitData('p1p3') ||
                   getPanelSplitData('p2p4')"
                   i18n>
          * Final price will be determined in your order confirmation proforma.
          </em>
        </small>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '108101'">
              <img class="fabric-sample" src="/assets/img/fabric/108101.png">108101&nbsp;
              <ng-container i18n>Grey-white</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '108108'">
              <img class="fabric-sample" src="/assets/img/fabric/108108.png">108108&nbsp;
              <ng-container i18n>Grey</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '108118'">
              <img class="fabric-sample" src="/assets/img/fabric/108118.png">108118&nbsp;
              <ng-container i18n>Grey-black</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '116101'">
              <img class="fabric-sample" src="/assets/img/fabric/116101.png">116101&nbsp;
              <ng-container i18n>Linen-white</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '117101'">
              <img class="fabric-sample" src="/assets/img/fabric/117101.png">117101&nbsp;
              <ng-container i18n>Pearl-white</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="!getControlValue('product.options.blindsCustomFabric') && getControlValue('product.options.blindsFabric') === '117117'">
              <img class="fabric-sample" src="/assets/img/fabric/117117.png">117117&nbsp;
              <ng-container i18n>Pearl</ng-container>
            </span>
            <span class="checkbox d-block my-2"
                  [class.checked]="getControlValue('product.options.blindsCustomFabric')">
              <ng-container i18n>Non-standard</ng-container>&nbsp;
              <ng-container *ngIf="getControlValue('product.options.blindsCustomFabric')">
                ( RAL {{ getControlValue('product.options.blindsCustomFabricID') }}&nbsp;-
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '118118'" i18n>Black</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '108112'" i18n>Grey-sand</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '112101'" i18n>Sand-white</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '116116'" i18n>Linen</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '101101'" i18n>White</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '108111'" i18n>Grey-dark blue</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '111111'" i18n>Dark blue</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '112112'" i18n>Sand</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '112113'" i18n>Sand-bronze</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '113105'" i18n>Bronze-tangerine</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '113113'" i18n>Bronze</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '113117'" i18n>Bronze-pearl</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '116111'" i18n>Linen-dark blue</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '116122'" i18n>Linen-lichen</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '117108'" i18n>Pearl-grey</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '117116'" i18n>Pearl-linen</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '108126'" i18n>Grey-caramel</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '108167'" i18n>Pacific</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '108197'" i18n>Agave</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '112103'" i18n>Sand-yellow</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '112156'" i18n>Fire</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '113108'" i18n>Bronze-grey</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '116108'" i18n>Linen-grey</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '118112'" i18n>Black-sand</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '118116'" i18n>Black-linen</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '118181'" i18n>Jamaica</ng-container>
                <ng-container *ngIf="getControlValue('product.options.blindsCustomFabricID') === '118198'" i18n>Panther</ng-container>
                )
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-10">
        <span class="checkbox"
             [class.checked]="getControlValue('product.options.blindsFabricSoltis')"
             i18n>
          Fabric Soltis - 92
        </span>
      </div>
      <div class="col-2">
        {{ getControlValue('product.options.blindsFabricSoltisCode') }}
      </div>
    </div>
    
    <div class="row border">
      <div class="col">
        <span class="checkbox"
             [class.checked]="getControlValue('product.options.blindsFullScreen')"
             i18n>
          Crystal Full Screen
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-4 header">
        <span i18n>Color of guides</span>
      </div>
      <div class="col">
         <span class="checkbox"
               [class.checked]="getControlValue('product.options.blindsGuideColorMatchesFrame')"
               i18n>
              Same as frame
          </span>
      </div>
      <div class="col">
        <span class="ralColorBox"
              [style.background]="ralToHex(getControlValue('product.options.blindsGuideColorCustomID'))">
        </span>
        <span class="checkbox"
              [class.checked]="!getControlValue('product.options.blindsGuideColorMatchesFrame')">
          <ng-container i18n>Custom</ng-container><br>RAL&nbsp;{{ getControlValue('product.options.blindsGuideColorCustomID') }} (
          <span *ngIf="getControlValue('product.options.blindsFinishType') === 'Matt'" i18n>Matt</span>
          <span *ngIf="getControlValue('product.options.blindsFinishType') === 'Glossy'" i18n>Glossy</span>
          <span *ngIf="getControlValue('product.options.blindsFinishType') === 'Microstructure'" i18n>Microstructure</span>
          )
        </span>
      </div>
    </div>
    
    <div class="row border">
      <div class="col-4 header">
        <span i18n>Type of guides</span>
      </div>
      <div class="col">
         <span class="checkbox"
               [class.checked]="true"
               i18n>
              Standard
          </span>
      </div>
    </div>
  
    <div class="row border">
      <div class="col-4 header">
        <span i18n>Motor</span>
      </div>
      <div class="col">
         <span class="checkbox"
               [class.checked]="getControlValue('product.options.blindsMotorType') === 'Standard'"
               i18n>
              Standard
          </span>
      </div>
      <div class="col">
         <span class="checkbox"
               [class.checked]="getControlValue('product.options.blindsMotorType') === 'Somfy'"
               i18n>
              Somfy
          </span>
      </div>
    </div>
  </div>
</div>
