<app-base-project-bar *ngIf="authService.isAuthenticated(); else public" [links]="links">
  <div logo>
    <app-kalblocks-bar-logo [namePostFix]="'Blocks'">
      <app-kalblocks-bar-icon>
        <i class="fa fa-th-large" aria-hidden="true"></i>
      </app-kalblocks-bar-icon>
    </app-kalblocks-bar-logo>
  </div>
</app-base-project-bar>

<ng-template #public>
  <app-base-project-bar>
    <div logo>
      <app-kalblocks-bar-logo [namePostFix]="'Blocks'">
        <app-kalblocks-bar-icon>
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </app-kalblocks-bar-icon>
      </app-kalblocks-bar-logo>
    </div>
  </app-base-project-bar>
</ng-template>
