<ng-container [ngSwitch]="httpResponse.status">
  <app-notification *ngSwitchCase="503" [type]="'danger'" [debug]="notification" [title]="'Could\'t process' + entity.objDescription">
    <p>
      The server is currently unavailable (because it is overloaded or down for maintenance).
      Please try again in a while.
    </p>
    <p>
      <a (click)="triggerSync()">Try again</a>
    </p>
  </app-notification>
  <app-notification *ngSwitchDefault [type]="'danger'" [debug]="notification" [title]="'Network error happened while processing \'' + entity.objDescription + '\''">
    <p>
      Server responded with status code <strong>{{ httpResponse.status}} {{ httpResponse.statusText }}</strong>.
    </p>
    <p>
      <!--<a [routerLink]=" ['/entity/' + entity.id] ">Go to node</a> | --><a (click)="triggerSync()">Try again</a>
    </p>
  </app-notification>
</ng-container>
