@import '../../../../../styles/variables';

.project-logo-wrapper {
  display: inline-block;
}

.projectName {
  display: inline-block;
  margin-left: 15px;
  font-size: 2rem;
  color: $project-name-color;
  font-family: $font-secondary-sans-serif;
  font-weight: 300;

  .nameBase {
    font-weight: $project-name-font-weight;
  }

  &:hover {
    color: $project-name-hover-color;
  }
}
