@import '../../../styles/variables';

.alert-default {
  background-color : $neutral-light;
  border-color     : #eeeeee;
  color            : $neutral-dark;
}

.alert {
  color: $white;
  border-color: transparent;
}

.alert-danger {
  background-color: $notification-danger;
}

.alert-warning {
  background-color: $notification-warning;
}

.alert-info {
  background-color: $notification-info;
}

.alert-success {
  background-color: $notification-success;
}
