@import '../../../styles/variables';

.badge-default {
  color: black;
  font-weight: 300;
}

.badge-pill {

}

.badge {
  font-weight: normal;
  margin-bottom: 2px;

  padding: .5rem 1.3rem;

  .remove {
    margin-left: 10px;
    margin-right: -10px;
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  &.suggested {
    cursor: pointer;

    &.dropdown {
      width: 100%;
      text-align: left;
      background: none;
      color: $black;

      &:hover {
        color: $primary-color;
      }
    }
  }

  &.badge-highlight {
    opacity: 0.5;
  }
}
