// Button
//
// Buttons can and should be clicked.
//
// Markup:
// <button class="btn {{modifier_class}}">Button</button>
// <button class="btn {{modifier_class}}"><i class="fa fa-pencil" aria-hidden="true"></i></button>
//
// .btn-symbol - Adopted for icons.
// .btn-none   - Remove color, border, ... keep only padding, size and button behaviour.
//
// Styleguide base.components.buttons

@import '../../../styles/variables';

.btn {
  font-size: 0.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;

  &.dropdown-toggle::after {
    position: relative;
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    border-right: 0.1em solid;
    border-top: 0.1em solid;
    border-left: none; // override base style
    transform: rotate(135deg);
    margin-left: 1em;
    top: -0.25em;
  }

  &.btn-file {
    cursor : pointer;
  }

  &.btn-none {
    background: none;
    border: none;
    border-radius: 0;
    color: inherit;
  }

  &a.btn-light,
  &.btn-light {
    @extend .btn-none;

    color: $gray-lighter;

    &:hover {
      color: $gray-light;
    }
  }

  &.btn-light-danger {
    @extend .btn-none;

    color: $btn-danger-color;

    &:hover {
      color: darken($btn-danger-color, 20%);
    }
  }


  &.btn-inner {
    @extend .btn-none;

    position : absolute;
    top      : 0;
    bottom: 0;
    right    : 0;
    z-index: 20;
  }

  &.btn-symbol {
    border-radius: 100%;
    width:  1.75rem;
    height: 1.75rem;
    font-size: 1.4em;
    padding: 0;
    font-weight: normal;
  }

  &.btn-normal {
    letter-spacing: initial;
  }

  &.btn-secondary {
    border-radius: 0.25rem;
  }

  &.btn-lg {
    font-weight: 700;
    letter-spacing: 0.1em;
    min-width: 150px;
    font-size: .8rem;
  }

  &.btn-outline-white {
    @extend .btn-outline-secondary;

    color: white;
    border-color: white;
    &:hover {
      background: none;
    }
  }
}

button {
  cursor : pointer;
  font-family: $font-family-sans-serif;
}
