@import '../../../styles/variables';

$border-color: #d2d2d2;

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.card-wrapper {
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.card {
  transition    : 0.8s all;

  border        : solid 1px $border-color;
  border-radius : 5px;

  height        : 100%;

  &:not(.no-hover) {
    cursor        : pointer;
  }

  &.disabled {
    opacity: .45;
    cursor: initial;
    background-color: $gray-lightest;

    &:hover {
      box-shadow: none;
    }
  }

  &.loaded {
    border-color : darken($border-color, 15%);
  }

  &.fixed-size {
    min-height : 230px
  }

  .placeholder {
    z-index: 1000;
    overflow: hidden;

    animation-name: fadeIn;
    animation-duration: .5s;
    display: block;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: white;

    border-radius : 5px;
    padding: 2rem;
  }

  &.loading {
    z-index: 1;
    box-shadow : none !important;

    &.placeholder {
    }
  }

  .card-title {
    font-family: $font-secondary-sans-serif;
    color: $black;
    font-weight: bold;
  }

  .card-icon {
    border-radius : 50%;
    height        : 60px;
    width         : 60px;
    margin        : auto auto 15px auto;
    background    : linear-gradient(#4479df, #f15d6b);

    img {
      display : none;
      height  : 60px;
    }

  }

  &:not(.no-hover):hover {
    box-shadow : 0 10px 20px -8px rgba(0, 0, 0, 0.5);
  }

  .card-block {
    text-align : center;
  }

  //&.opening-experiment {
  //  position: fixed;
  //  top: 0;
  //  z-index: 99999;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //  height: 100vh;
  //  width: 100%;
  //  background: white;
  //  .favorite-wrapper,
  //  .card-block {
  //    opacity: 0;
  //  }
  //}

  // .progress {
  //   width: 50%;
  //   margin: 10px auto;
  //
  //   .progress-bar {
  //     width: 100%; height: 2px;
  //   }
  // }
}

.icon-wrapper {
  display        : inline-block;
  height         : 60px;
  width          : 60px;
  border-radius: 50%;
  background    : linear-gradient(#4479df, #f15d6b);

  div {
    height          : 60px;
    width           : 60px;
    border-radius   : 50%;
    background-size : cover;
  }

  img {
    margin: 5px;
    overflow: hidden;
    max-height     : 90%;
    max-width      : 90%;
    border-radius: 50%;
  }
}
