@import '../../../styles/variables';

.content-box {
  border: solid 1px $gray-lighter;
  border-radius: 5px;
  padding: 20px;
  margin: 2rem;
}

.content-box-full-height {
  min-height: calc(100vh - 14.5rem - #{$footerHeight});
}
