@import '../../../styles/variables';

.dropdown-menu {
  border: none;
  box-shadow: 0 20px 40px 5px rgba(0, 0, 0, 0.2);
  left: 0;
  min-width: 200px;
  margin-top: .5rem;

  hr {
    margin: 0 .85rem;
    border-top-color: rgba(0, 0, 0, 0.08);
  }

  .dropdown-item {
    line-height: 2rem;

    a {
      cursor: pointer;
      text-decoration: none;
      color: $black;
      font-family: $font-family-sans-serif;

      &:hover {
        color: $primary-color;
      }
    }

    &:hover {
      background-color: inherit;
      color: $primary-color;
    }
  }
}
