/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/app/base/assets/fonts/lato/dPJ5r9gl3kK6ijoeP1IRsvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(/app/base/assets/fonts/lato/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/app/base/assets/fonts/lato/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(/app/base/assets/fonts/lato/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(/app/base/assets/fonts/lato/XNVd6tsqi9wmKNvnh5HNEBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(/app/base/assets/fonts/lato/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(/app/base/assets/fonts/lato/YMOYVM-eg6Qs9YzV9OSqZfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(/app/base/assets/fonts/lato/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(/app/base/assets/fonts/poppins/Poppins-Light.woff) format('woff'), url(/app/base/assets/fonts/poppins/Poppins-Light.woff2) format('woff2'), url(/app/base/assets/fonts/poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(/app/base/assets/fonts/poppins/Poppins-Regular.eot);
  src: local('Poppins Regular'), local('Poppins-Regular'), local('Poppins'), url(/app/base/assets/fonts/poppins/Poppins-Regular.svg#Poppins) format('svg'), url(/app/base/assets/fonts/poppins/Poppins-Regular.woff) format('woff'), url(/app/base/assets/fonts/poppins/Poppins-Regular.eot?#iefix) format('embedded-opentype'), url(/app/base/assets/fonts/poppins/Poppins-Regular.woff2) format('woff2'), url(/app/base/assets/fonts/poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(/app/base/assets/fonts/poppins/Poppins-Bold.woff) format('woff'), url(/app/base/assets/fonts/poppins/Poppins-Bold.woff2) format('woff2'), url(/app/base/assets/fonts/poppins/Poppins-Bold.ttf) format('truetype');
}

/* Roboto */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(/app/base/assets/fonts/roboto/Roboto-Light.ttf) format('truetype'), url(/app/base/assets/fonts/roboto/Roboto-Light.woff) format('woff'), url(/app/base/assets/fonts/roboto/Roboto-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/app/base/assets/fonts/roboto/Roboto.eot);
  src: local('Roboto'), local('Roboto-Regular'), url(/app/base/assets/fonts/roboto/Roboto.ttf) format('truetype'), url(/app/base/assets/fonts/roboto/Roboto.svg#Roboto) format('svg'), url(/app/base/assets/fonts/roboto/Roboto.woff) format('woff'), url(/app/base/assets/fonts/roboto/Roboto.eot?#iefix) format('embedded-opentype'), url(/app/base/assets/fonts/roboto/Roboto.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/app/base/assets/fonts/roboto/Roboto-Bold.ttf) format('truetype'), url(/app/base/assets/fonts/roboto/Roboto-Bold.woff) format('woff'), url(/app/base/assets/fonts/roboto/Roboto-Bold.woff2) format('woff2');
}



/*

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url(../fonts/roboto/Roboto-Thin.ttf) format('truetype'), url(../fonts/roboto/Roboto-Thin.woff) format('woff'), url(../fonts/roboto/Roboto-Thin.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url(../fonts/roboto/Roboto-Black.ttf) format('truetype'), url(../fonts/roboto/Roboto-Black.woff) format('woff'), url(../fonts/roboto/Roboto-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 100;
  src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url(../fonts/roboto/Roboto-Thin-Italic.ttf) format('truetype'), url(../fonts/roboto/Roboto-Thin-Italic.woff) format('woff'), url(../fonts/roboto/Roboto-Thin-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(../fonts/roboto/Roboto-Light-Italic.ttf) format('truetype'), url(../fonts/roboto/Roboto-Light-Italic.woff) format('woff'), url(../fonts/roboto/Roboto-Light-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(../fonts/roboto/Roboto-Italic.ttf) format('truetype'), url(../fonts/roboto/Roboto-Italic.woff) format('woff'), url(../fonts/roboto/Roboto-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(../fonts/roboto/Roboto-Bold-Italic.ttf) format('truetype'), url(../fonts/roboto/Roboto-Bold-Italic.woff) format('woff'), url(../fonts/roboto/Roboto-Bold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url(../fonts/roboto/Roboto-Black-Italic.ttf) format('truetype'), url(../fonts/roboto/Roboto-Black-Italic.woff) format('woff'), url(../fonts/roboto/Roboto-Black-Italic.woff2) format('woff2');
}

*/
