@import '../../../styles/variables';

.input-group-inner-btn {
  position : relative;

  input {
    padding-right : 35px;
    border-radius: $input-border-radius;
  }
}

.input-group-incognito {
  input {
    border        : none;
    background    : transparent;
    border-radius : 0;

    &:hover {
      border-bottom : solid 1px $gray-lighter;
    }
  }
}


.input-group-search {
  margin: 20px auto 15px auto;
  max-width: 400px;
  position: relative;

  input {
    padding-right: 35px;

    &:focus {
      box-shadow : 0 10px 30px -5px rgba(0, 0, 0, 0.2);
    }
  }

  .icon {
    position: absolute;
    top: 5px;
    right: 15px;
  }
}
