@mixin pin($colorPinned: black, $colorNotPinned: gray) {
  $size: 12px;

  .pin {
    position: relative;
    border-radius    : 50%;
    height           : $size;
    width            : $size;

    background-color : $colorPinned;

    &:before {
      content          : '';
      height           : 14px;
      width            : 2px;
      background-color : $colorPinned;
      position         : absolute;
      left             : 2px;
      top              : 4.5px;
      transform        : rotate(30deg);
      border-radius    : 2px;
    }

    &.not-pinned {
      background-color : $colorNotPinned;

      &:before {
        background-color : $colorNotPinned;
      }
    }

    @content;
  }
}
