@import '../../../styles/variables';

.modal-danger {
  .modal-content {
    border-radius    : 0;
    background-color : #D45659;

    &:after {
      content         : "";
      display         : block;
      position        : absolute;
      top             : 0;
      left            : 0;
      background      : url(../app/base/assets/icons/exclamation-circle.png) no-repeat right -40px top -90px;
      background-size : 250px 250px;
      width           : 100%;
      height          : 100%;
      opacity         : 0.1;
      z-index         : 0;
    }

    .close {
      color       : white;
      text-shadow : none;
    }

    .modal-title {
      font-weight : 400
    }

    > * {
      z-index : 1;
    }

    .modal-header {
      color         : white;
      border-bottom : solid 1px #D05255;
      z-index       : 1;
    }

    .modal-body {
      background-color : white;
      font-weight      : 300;
      z-index          : 1;

      pre {
        max-height : 400px;
      }
    }

    .modal-summary {
      background-color : transparent;
      color            : white;
      border-top       : solid 1px #DF6164;
      font-weight      : 300;
      z-index          : 1;

      pre {
        color : whitesmoke;
      }
    }

    .modal-footer {
      background-color : white;
      border           : none;
      z-index          : 1;
    }
  }
}
