@import '../../../styles/variables';

.skeleton {
  .box {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: $gray-lightest;

    &.c {
      margin: auto;
    }

    &.w50   { width: 50%;   }
    &.w70   { width: 70%;   }
    &.w80   { width: 80%;   }
    &.w100  { width: 100%;  }

    &.sqr {
      width: 100%;
      padding-top: 100%;
    }

    &.rec {
      width: 100%;
      padding-top: 50%;
    }
  }
}
