// Input
//
// Input with extar spacing
//
// Markup:
// <div class="input-group input-group spacing-input-group-10">
//   <input class="form-control">
// </div>
//
// Styleguide base.components.input
@import '../../../styles/variables';

.spacing-t10 {
  padding-top: 1rem;
}

.spacing-t5 {
  padding-top: .5rem;
}

.spacing-t7 {
  padding-top: .7rem;
}

.spacing-form-10,
.spacing-input-group-10 {
  input {
    padding: 1rem 1.5rem;
  }

  label {
    margin-top: .5rem;
  }

  a.btn-inner {
    padding-top: 1rem;
  }

  .icon {
    top: 15px;
  }
}
