@import '../../../styles/variables';

.table {
  thead th {
    border-top          : none;
    border-bottom-width : 1px;
    font-weight         : 300;
  }

  &.table-entities {
    tr {
      td {
        vertical-align : middle;

        &.select-handle {
          width : 30px;
        }

        &.icon {
          width : 60px;

          img {
            height        : 50px;
            width         : 50px;
            border-radius : 50%;
          }
        }

        &.name {
          font-weight : bold;

          a {
            color: black;
          }
        }

        &.actions {
          width      : 50px;
          color      : #dddddd;
          opacity    : 0;
          transition : opacity .2s;
        }
      }

      &:hover {
        td {
          &.actions {
            opacity : 1;
          }
        }
      }
    }
  }
}
