// Primary Colors
//
// The primary colors for branding.
//
// $primary-color -  #1fd5ea, Primary color
// $gray-dark     -  #292b2c, Gray dark
// $gray          -  #464a4c, Gray
// $gray-light    -  #636c72, Gray light
// $gray-lighter  -  #d1d4d7, Gray lighter
// $gray-lightest -  #f7f7f9, Gray lightest
//
// Styleguide base.colors

$white                        : #fff !default;
$black                        : #000 !default;
$red                          : #d9534f !default;
$orange                       : #efbb68 !default;
$yellow                       : #ffd500 !default;
$green                        : #5cb85c !default;
$blue                         : #0275d8 !default;
$teal                         : #5bc0de !default;
$pink                         : #ff5b77 !default;
$purple                       : #613d7c !default;

// Create grayscale
$gray-dark                    : #292b2c !default;
$gray                         : #464a4c !default;
$gray-light                   : #636c72 !default;
$gray-lighter                 : #d1d4d7 !default;
$gray-lightest                : #f7f7f9 !default;



$neutral-light                : #F7F7F7 !default;
$neutral-normal               : #a5a5a5 !default;
$neutral-dark                 : dimgrey !default;

$primary-color                : #1fd5ea !default;
$project-color                : #1fd5ea !default;

$page-bg                      : black !default;
$app-bg-color                 : black !default;


/* App */
$body-background-color        : #f8f8f8 !default;
$body-background-image        : url(../app/base/assets/bg.png) !default;

$project-container-width      : 1200px !default;
$project-container-margin     : auto !default;

$app-container-width          : initial !default;
$app-container-bg-color       : #fcfcfc !default;
$app-container-box-shadow     : 0 20px 40px 5px rgba(0, 0, 0, 0.2) !default;
$app-container-padding        : 20px !default;
$app-container-margin         : 0 5px 5px 5px !default;

$top-bar-height               : 50px !default;
$top-bar-margin               : 10px 20px 10px 20px !default;
$top-bar-padding              : 0 !default;
$top-bar-bg-color             : transparent !default;
$top-bar-font-size            : 0.825rem !default;
$top-bar-color                : #d4d4d4 !default;
$top-bar-default-logo-size    : 16px !default;

$project-bar-margin           : 0 0 15px 0 !default;
$project-bar-padding          : 0 !default;
$project-bar-bg-color         : transparent !default;

$project-logo-color           : $primary-color !default;
$project-logo-size            : 35px !default;
$project-logo-image-width     : 100% !default;

$project-name-color           : #002730 !default;
$project-name-hover-color     : $black !default;
$project-name-font-weight     : bold !default;

$navigation-color             : black !default;
$navigation-border            : solid 1px white !default;
$navigation-color-hover       : $primary-color !default;
$navigation-border-hover      : solid 1px lighten($primary-color, 45%) !default;
$navigation-color-active      : $navigation-color !default;
$navigation-border-active     : solid 1px lighten($primary-color, 20%) !default;


/* Notifications */
$notification-success         : #83da23 !default;
$notification-info            : #00a4f3 !default;
$notification-warning         : #e9a004 !default;
$notification-danger          : #d60003 !default;


/* Bootstrap overrides */
$brand-primary                : $primary-color !default;

$font-family-sans-serif       : 'Roboto', sans-serif !default;
$font-family-serif            : 'Roboto', serif !default;

$font-secondary-sans-serif    : 'Poppins', sans-serif !default;
$font-secondary-serif         : 'Poppins', serif !default;

$font-family-monospace        : 'Roboto Mono', monospace !default;


$font-family-base             : $font-family-sans-serif !default;

$badge-padding-x              : 1.25em !default;
$badge-padding-y              : .75em !default;

$badge-pill-padding-x         : 1em !default;

$btn-border-radius            : 2rem !default;
$btn-border-radius-lg         : 2 !default;
$btn-border-radius-sm         : 2rem !default;

$btn-padding-x-lg             : 1rem !default;
$btn-padding-y-lg             : 1rem !default;

$input-label-color            : #d1d4d7 !default;

$input-color                  : dimgrey !default;
$input-border-color           : #d1d4d7 !default;

$input-border-focus           : $primary-color !default;
$input-color-focus            : black !default;

$input-bg-disabled            : $gray-lightest !default;

$table-bg-hover               : $gray-lightest !default;
$table-head-color             : #dadada !default;
$table-cell-padding           : 1rem !default;
$table-border-color           : #dadada !default;

$footerHeight                 : 40px !default;



// Modals
$modal-lg:                    900px !default;
$modal-md:                    700px !default;
$modal-sm:                    500px !default;

@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../../node_modules/bootstrap/scss/mixins';
