@import 'fonts-import';
@import 'variables';
@import 'badge';
@import 'modal';
@import 'btn';
@import 'alert';
@import 'mixins';
@import 'float_label';
@import 'input-group';
@import 'spacing';
@import 'content';
@import 'table';
@import 'fonts';
@import 'dropdown';
@import 'card';
@import 'input';
@import 'skeleton';

$fa-font-path: '/app/base/assets/fonts/font-awesome';
@import './font-awesome/font-awesome';

// Base
//
// Weight: -10
//
// Style guide: base

// Base colors
//
// Style guide: base.colors

// Base variables
//
// Style guide: base.variables

// Base mixins
//
// Style guide: base.mixins

// Base components
//
// Style guide: base.components

// Project
//
// Style guide: project

// Project
//
// Style guide: project.components

/*
 * Base structure
 */
body {
  background-color: $body-background-color;
  background-image: $body-background-image;
}


/*
 * Typography
 */

h1 {
  margin-bottom  : 20px;
  padding-bottom : 9px;
  border-bottom  : 1px solid #eee;
}


h1, h2, h3, h4, h5 {
  font-weight : 300;
  font-style  : normal;
}

