@import '../../../../../styles/variables';

/*
$notification-success : #75B263;
$notification-info : #20B8B1;
$notification-warning : #F0822C;
$notification-danger : #BC272C;
*/

$width : 60px;

.notification {
  position : relative;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
  border-radius: 5px;
  margin: .2rem;

  .head {
    color      : white;
    width      : $width;
    position   : absolute;
    text-align : center;
    top        : 0;
    bottom     : 0;

    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    i {
      font-size  : 30px;
      margin-top : 10px;
    }
  }
  .body {
    margin-left : $width;
    padding     : 5px;
    color       : white;
    min-height  : 50px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;



    .content {
      color      : $white;
      font-family   : $font-family-sans-serif;

      margin-bottom : 0;

      /deep/ a {
        color      : white;
        cursor     : pointer;
        transition : color .2s;

        &:hover {
          color : black;
        }
      }
    }
  }
}

@mixin notification-variant($color) {
  //border-bottom: solid 1px $color;

  .head {
    background-color : darken($color, 5%);
    color            : $white;
  }
  .body {
    background-color : $color;
  }
}

.notification-success {
  @include notification-variant($notification-success);
}

.notification-info {
  @include notification-variant($notification-info);
}

.notification-warning {
  @include notification-variant($notification-warning);
}

.notification-danger {
  @include notification-variant($notification-danger);
}
