<div class="notification notification-{{type}}" [@flyInOut]>
  <div class="head" [ngSwitch]="type" (click)="moreInfo($event, content)">
    <i *ngSwitchCase="'info'" class="fa fa-info-circle" aria-hidden="true"></i>
    <i *ngSwitchCase="'warning'" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <i *ngSwitchCase="'danger'" class="fa fa-exclamation-circle" aria-hidden="true"></i>
    <i *ngSwitchCase="'success'" class="fa fa-check-circle" aria-hidden="true"></i>
  </div>
  <div class="body">
    <div *ngIf="title" class="title">{{ title }}</div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>

<!-- for debug popup -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Notification debug info</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-summary">
    <p>Notification created at: {{ timestamp | date: 'HH:mm:ss' }}</p>
  </div>
  <div class="modal-body">
    <div *ngIf="!debug">No debug info available.</div>
    <pre>{{ debug | json }}</pre>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
